<template>
  <v-container>
    <h2 class="text-h4 mt-4">Account</h2>
    <h4 class="text-h6 mt-4">Contact information</h4>
    <v-alert dense outlined type="error" v-if="contactError">
      {{ contactError }}
    </v-alert>
    <div class="mt-3">
      <v-row>
        <v-col cols="6">
          <v-text-field
            outlined
            v-model="update.email"
            :rules="emailRules"
            :disabled="saving"
            hide-details="auto"
            label="Email"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="6" align-self="center">
          <div v-if="update.validEmail">
            <v-icon color="success">mdi-check-decagram</v-icon>
            Verified
          </div>
          <div v-else>
            <v-icon color="error">mdi-alert-decagram</v-icon>
            Not Verified
          </div>
        </v-col>
      </v-row>

      <span v-if="!updatePassword">
        <div class="text-body-2 mt-4">Password</div>
        <v-btn
          @click="updatePassword = true"
          class="mt-2"
          :disabled="saving"
          text
          outlined
          color="primary"
          >Update</v-btn
        >
      </span>
      <v-row v-else>
        <v-col cols="6">
          <v-text-field
            v-model="update.password"
            :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
            :type="showPass ? 'text' : 'password'"
            label="Password"
            :counter="8"
            :disabled="saving"
            :rules="rules.passRules"
            @click:append="showPass = !showPass"
            required
          ></v-text-field>
        </v-col>
      </v-row>

      <span v-if="!updatePhone">
        <div class="text-body-2 mt-6">Mobile Phone</div>
        <v-row>
          <v-col cols="auto">
            <v-btn
              @click="updatePhone = true"
              class="mt-2"
              text
              :disabled="saving"
              outlined
              color="primary"
            >
              {{ update.validPhone ? "Update" : "Verify" }}
            </v-btn>
          </v-col>
          <v-col cols="auto" align-self="center">
            <div v-if="update.validPhone">
              <v-icon color="success">mdi-check-decagram</v-icon>
              Verified
            </div>
            <div v-else>
              <v-icon color="error">mdi-alert-decagram</v-icon>
              Not Verified
            </div>
          </v-col>
        </v-row>
      </span>

      <div v-else class="mt-4">
        <sms-verify
          justify="start"
          :phoneNumber="update.phone"
          :user="update"
          @done="
            update.validPhone = true;
            updatePhone = false;
          "
        ></sms-verify>
      </div>

      <div>
        <v-btn
          @click="saveChanges"
          :loading="saving"
          class="mt-8"
          depressed
          color="primary"
        >
          Save changes
        </v-btn>
      </div>

      <v-divider class="mt-4 mb-4"></v-divider>
      <h4 class="text-h6">Approval Status</h4>
      <div v-if="!approved">
        <h4 class="text-subtitle-1 mt-2">
          Before you can rent a car, we need a bit more information
        </h4>
        <v-btn
          to="/account/approval"
          depressed
          color="primary"
          :disabled="saving"
          >Get Approved To Drive</v-btn
        >
      </div>
      <div v-else>
        <h4 class="text-subtitle-1 mt-2">You are approved to rent a car</h4>
      </div>

      <v-divider class="mt-4 mb-4"></v-divider>
      <h4 class="text-h6">Close Account</h4>
      <v-btn
        @click="dialogDelete = true"
        depressed
        color="error"
        :disabled="saving"
        >Close my account</v-btn
      >
    </div>
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-text class="headline"
          >Are you sure you want to close your account?</v-card-text
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false"
            >Cancel</v-btn
          >
          <v-btn color="blue darken-1" text @click="deleteAccount"
            >Confirm</v-btn
          >
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script lang="ts">
import { Rules } from "@/types/InputRules";
import { emptyUser } from "@/types/UserTypes";
import Vue from "vue";
import { Component } from "vue-property-decorator";
import SmsVerify from "@/components/register/SmsVerify.vue";

@Component({
  components: {
    SmsVerify,
  },
})
export default class Account extends Vue {
  private update = emptyUser();
  private updatePhone = false;
  private showPass = false;
  private updatePassword = false;
  private rules = Rules;
  private saving = false;
  private dialogDelete = false;

  private emailRules = [...Rules.emailRules];
  private contactError = "";

  created(): void {
    this.update = this.$auth.user ? this.$auth.user : emptyUser();
    this.$auth
      .fetchUserSelf()
      .then((resp) => (this.update = resp.data))
      .catch(() => {
        console.error("failed to fetch user");
      });
  }

  get approved(): boolean {
    return (
      this.update.validEmail &&
      this.update.validLicense &&
      this.update.validPhone
    );
  }

  public saveChanges(): void {
    this.saving = true;
    this.$auth
      .updateSelf(this.update)
      .then((resp) => (this.update = resp.data))
      .catch((err) => {
        if (err.response.data.mailExists === true) {
          const error =
            "user with mail " + this.update.email + " already exists!";
          this.emailRules.push((v: string) => v !== this.update.email || error);
          this.contactError = error;
          return;
        }
        if (err.response.data.phoneExists === true) {
          const error =
            "user with phone " + this.update.phone + " already exists!";
          this.contactError = error;
          return;
        }
        this.contactError =
          "Problem contacting server, please try again in a few minutes.";
      })
      .finally(() => (this.saving = false));
  }

  public deleteAccount(): void {
    this.$auth
      .deleteUser()
      .then(() => {
        this.$auth.logout();
        console.log("deletedUser");
      })
      .catch((err) => {
        console.error("Problem closing account" + err);
      });
  }
}
</script>

<style lang="scss">
.v-application {
  .text-h4 {
    font-weight: 500;
    opacity: 0.7;
  }
  .text-h6 {
    font-weight: 400;
    opacity: 0.7;
  }
}
</style>
