<template>
  <v-container>
    <h2 class=".text-h2">Approval</h2>
    <v-alert dense text :type="alertType" v-if="alertText">
      {{ alertText }}
    </v-alert>
    <v-btn
      v-if="alertType == 'error'"
      @click="goToApproval"
      color="primary"
      depressed
    >
      Back To Approval
    </v-btn>
    <approval-flow
      :redirect="redirect"
      v-if="!loading && !token"
    ></approval-flow>
    <v-skeleton-loader
      v-if="loading"
      class="mx-auto"
      type="table-heading, article"
    ></v-skeleton-loader>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import ApprovalFlow from "@/components/register/ApprovalFlow.vue";

@Component({
  components: {
    ApprovalFlow,
  },
})
export default class Approval extends Vue {
  @Prop() readonly redirect!: string;
  public token = this.$route.query.token || "";

  private alertType = "info";
  private alertText = "";
  private loading = false;

  created(): void {
    if (!this.token || typeof this.token != "string") return;
    this.loading = true;
    this.$auth
      .verifyMailToken(this.token)
      .then(() => {
        this.alertType = "info";
        this.alertText = "Thank you for verifing your email address.";
        this.token = "";
        this.$auth.fetchUserSelf();
      })
      .catch((err) => {
        this.alertType = "error";

        if (err.response.status === 404) {
          this.alertText =
            "Couldn't verify email address, maybe the link has expired.";
        } else {
          this.alertText =
            "Couldn't verify email address, please try again later.";
        }
      })
      .finally(() => (this.loading = false));
  }

  public goToApproval(): void {
    this.$router.push({ name: "Approval" });
    window.location.reload();
  }
}
</script>

<style lang="scss"></style>
