<template>
  <div>
    <v-row justify="center" class="pt-0 pt-sm-10">
      <v-col cols="12" sm="8" md="6" lg="4">
        <v-card>
          <v-card-text>
            <v-row>
              <h4 class="text-h4 mx-auto mt-6">Email Verification</h4>
            </v-row>
            <v-divider class="mt-4 mb-4" />
            <div v-if="verifiedMail">
              <div>
                Thank you for verifing your email, you can now continue.
              </div>
              <div class="text-h6">Search for your next rental now</div>
              <search-box
                class="mt-4"
                redirect
                :compact="false"
                opens="right"
              />
            </div>
            <div if="error">
              <div>
                A problem occured while verifing email, maybe the mail has
                already been verified, please look at the
                <router-link :to="{ name: 'Account' }"
                  >account page</router-link
                >
                and try again.
              </div>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import SearchBox from "@/components/search/SearchBox.vue";

@Component({
  components: {
    SearchBox,
  },
})
export default class EmailVerification extends Vue {
  private token = this.$route.params.token;
  private verifiedMail = "";
  private error = false;

  created(): void {
    this.$auth
      .verifyMailToken(this.token)
      .then((mail) => {
        this.verifiedMail = mail.data;
      })
      .catch((err) => {
        console.error("verifing mail: " + err);
      });

    // setTimeout(() => this.$router.replace({ name: "Home" }), 7 * 1000);
  }
}
</script>

<style lang="scss"></style>
