<template>
  <v-row justify="center" class="pt-0 pt-sm-10">
    <v-col cols="12" sm="8" md="6" lg="4">
      <v-card>
        <v-card-text>
          <v-row>
            <h4 class="text-h4 mx-auto mt-6">Password Reset</h4>
          </v-row>
          <v-row>
            <h4 class="text-h6 mx-auto">please enter your new password</h4>
          </v-row>
          <v-divider class="mt-4" />

          <v-alert class="mt-4" dense text :type="alertType" v-if="alertText">
            {{ alertText }}
          </v-alert>

          <v-form
            class="mt-4"
            v-model="valid"
            ref="form"
            @submit.prevent="submit"
          >
            <v-text-field
              outlined
              v-model="password"
              :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
              :type="showPass ? 'text' : 'password'"
              label="Password"
              :counter="8"
              :rules="rules.passRules"
              @click:append="showPass = !showPass"
              required
            />

            <v-btn
              class="mt-2"
              block
              :loading="loading"
              :disabled="!valid"
              type="submit"
              color="primary"
            >
              Change Password
            </v-btn>
          </v-form>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { Rules } from "@/types/InputRules";
import Vue from "vue";
import { Component } from "vue-property-decorator";

@Component
export default class PasswordReset extends Vue {
  private token = this.$route.params.token;

  private showPass = false;
  private password = "";
  private valid = false;
  private rules = Rules;
  private loading = false;

  private alertType = "";
  private alertText = "";

  public submit(): void {
    console.log("submit");
    this.loading = true;
    this.$auth
      .consumePasswordReset(this.token, this.password)
      .then(() => {
        this.alertType = "info";
        this.alertText = "Successfully changed password";
      })
      .catch(() => {
        this.alertType = "error";
        this.alertText = "Problem resetting password, please try again later";
      })
      .finally(() => (this.loading = false));
  }
}
</script>

<style lang="scss">
.v-application {
  .text-h4 {
    font-weight: 500;
    opacity: 0.7;
  }
  .text-h6 {
    font-weight: 400;
    opacity: 0.7;
  }
}
</style>
