<template>
  <div>
    <v-row justify="center" class="pt-0 pt-sm-10">
      <v-col cols="12" sm="8" md="6" lg="4">
        <v-card>
          <v-card-text>
            <signup @registered="onRegistered" @toggle="goToSignup" />
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import { User } from "@/types/UserTypes";
import Signup from "@/components/register/Signup.vue";
import { bus } from "@/EventBus";

@Component({
  components: {
    Signup,
  },
})
export default class SignupView extends Vue {
  onRegistered(user: User): void {
    bus.$emit("registered", user);
    const nextPage = this.$route.query["next"];
    if (typeof nextPage == "string") this.$router.push(nextPage);
    else this.$router.push({ name: "Home" });
  }

  goToSignup(): void {
    this.$router.push({ name: "Login", query: this.$route.query });
  }
}
</script>

<style lang="scss"></style>
