<template>
  <v-app>
    <v-app-bar flat app color="white" outlined>
      <v-app-bar-nav-icon
        v-show="$vuetify.breakpoint.mobile"
        @click.stop="drawer = !drawer"
      ></v-app-bar-nav-icon>
      <logo></logo>

      <!-- <div class="d-flex align-center">
          <v-img
            alt="Vuetify Logo"
            class="shrink mr-2"
            contain
            src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
            transition="scale-transition"
            width="40"
          />
        </div> -->

      <v-spacer></v-spacer>

      <avatar></avatar>
    </v-app-bar>

    <v-navigation-drawer
      app
      v-model="drawer"
      :permanent="!$vuetify.breakpoint.mobile"
    >
      <v-app-bar flat color="white">
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="title"> Admin Panel </v-list-item-title>
            <v-list-item-subtitle> Manage system data </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-app-bar>

      <!-- <v-divider></v-divider> -->

      <v-list dense nav>
        <v-list-item v-for="page in pages" :key="page.title" :to="page.path">
          <v-list-item-icon>
            <v-icon>{{ page.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ page.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <!-- user/admin switch -->
      <router-view />
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Watch } from "vue-property-decorator";
import Avatar from "@/components/Avatar.vue";
import Logo from "@/components/Logo.vue";
import { Role } from "@/types/UserTypes";

type Page = {
  title: string;
  icon: string;
  path: string;
};

@Component({
  components: {
    Avatar,
    Logo,
  },
})
export default class Admin extends Vue {
  private drawer = false;
  private group = null;
  // private pages = [
  //   // {
  //   //   title: "Dashboard",
  //   //   icon: "mdi-view-dashboard-outline",
  //   //   path: "/admin/dashboard",
  //   // },
  //   {
  //     title: "Users",
  //     icon: "mdi-account-supervisor-outline",
  //     path: "/admin/users",
  //   },
  //   {
  //     title: "Cars",
  //     icon: "mdi-car-outline",
  //     path: "/admin/cars",
  //   },
  //   {
  //     title: "Trips",
  //     icon: "mdi-clipboard-text-multiple-outline",
  //     path: "/admin/trips",
  //   },
  //   {
  //     title: "Texts",
  //     icon: "mdi-tooltip-text-outline",
  //     path: "/admin/texts",
  //   },
  // ];

  get pages(): Page[] {
    const base = [
      {
        title: "Users",
        icon: "mdi-account-supervisor-outline",
        path: "/admin/users",
      },
      {
        title: "Cars",
        icon: "mdi-car-outline",
        path: "/admin/cars",
      },
      {
        title: "Trips",
        icon: "mdi-clipboard-text-multiple-outline",
        path: "/admin/trips",
      },
    ];
    const adminPages = [
      {
        title: "Texts",
        icon: "mdi-tooltip-text-outline",
        path: "/admin/texts",
      },
      {
        title: "Locations",
        icon: "mdi-map-legend",
        path: "/admin/locations",
      },
    ];

    if (this.$auth.isAuthorized(Role.Admin)) return base.concat(adminPages);
    return base;
  }

  @Watch("group") groupChanged(): void {
    this.drawer = false;
  }
}
</script>

<style>
.v-sheet--outlined.v-app-bar.v-toolbar--flat {
  border-bottom-color: rgba(0, 0, 0, 0.12) !important;
}
</style>
