<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="cars"
      :item-class="rowClasses"
      :search="search"
      :loading="loading"
      @click:row="rowClicked"
      loading-text="Loading... Please wait"
      sort-by="make"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Car Inventory</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
          <v-spacer></v-spacer>
          <admin-car-details
            ref="carDetails"
            @added="carAdded"
            @updated="carUpdated"
          ></admin-car-details>
          <v-btn color="primary" @click="addCar"> Add Car </v-btn>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon small class="mr-2"> mdi-pencil </v-icon>
        <v-icon small @click.stop="deleteItem(item)" v-if="canEdit">
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>
    <v-dialog v-model="dialogDelete" max-width="500px">
      <v-card>
        <v-card-title class="headline"
          >Are you sure you want to deactivate this item?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false"
            >Cancel</v-btn
          >
          <v-btn color="blue darken-1" text @click="deleteItemConfirm"
            >OK</v-btn
          >
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="snackbar">
      {{ snackbarText }}

      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          Hide
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Ref } from "vue-property-decorator";
import AdminCarDetails from "@/components/admin/AdminCarDetails.vue";
import { CarListing } from "@/types/CarTypes";
import { Role } from "@/types/UserTypes";
import { Header } from "@/helpers/Utils";

@Component({
  components: {
    AdminCarDetails,
  },
})
export default class CarInventory extends Vue {
  private dialogDelete = false;
  private search = "";
  private loading = true;
  // private headers = [
  //   // {
  //   //   text: "VIN",
  //   //   align: "start",
  //   //   sortable: false,
  //   //   value: "vin",
  //   // },
  //   { text: "Make", value: "make" },
  //   { text: "Model", value: "model" },
  //   { text: "Year", value: "year" },
  //   { text: "Price", value: "formattedPrice" },
  //   { text: "Actions", value: "actions", sortable: false },
  // ];

  get headers(): Header[] {
    const headers = [
      { text: "Make", value: "make" },
      { text: "Model", value: "model" },
      { text: "Year", value: "year" },
      { text: "Price", value: "formattedPrice" },
      { text: "vin", value: "vin", align: " d-none" },
    ];

    const adminHeaders = [
      { text: "Actions", value: "actions", sortable: false },
    ];

    if (this.canEdit) return headers.concat(adminHeaders);
    return headers;
  }

  private cars: CarListing[] = [];

  created(): void {
    const searchInit = this.$route.query["vin"];
    if (typeof searchInit == "string") this.search = searchInit;

    this.fetchCars()
      .then((resp) => (this.cars = resp))
      .catch((err) => console.error("fetching cars: " + err))
      .finally(() => (this.loading = false));
  }

  async fetchCars(): Promise<CarListing[]> {
    const cars = (await this.$cars.list()).data;
    if (this.isAdmin) {
      const disabledCars = (await this.$cars.listDisabled()).data;
      return cars.concat(disabledCars);
    }

    return cars;
  }

  @Ref("carDetails") readonly carDetails!: AdminCarDetails;
  public addCar(): void {
    this.carDetails.newCar();
  }

  get canEdit(): boolean {
    return this.isAdmin;
  }

  get isAdmin(): boolean {
    return this.$auth.isAuthorized(Role.Admin);
  }

  public rowClasses(item: CarListing): string {
    if (item.disabled) return "disabled";
    return "";
  }

  private itemToDelete!: CarListing;
  private snackbarText = "";
  private snackbar = false;
  public deleteItem(item: CarListing): void {
    this.itemToDelete = item;
    this.dialogDelete = true;
  }

  public deleteItemConfirm(): void {
    const item = this.itemToDelete;
    const index = this.cars.indexOf(item);
    item.disabled = true;
    this.cars.splice(index, 1, item);
    this.dialogDelete = false;
    this.$cars.disable(item.vin);
    this.showSnackbar("Disabled Car: " + item.vin);
  }

  private showSnackbar(text: string) {
    this.snackbarText = text;
    this.snackbar = true;
  }

  public rowClicked(row: any): void {
    if (!row || !row.vin) {
      console.error("row clicked with data: " + row);
      return;
    }

    this.$cars
      .getDetails(row.vin)
      .then((resp) => {
        this.carDetails.edit(resp.data);
      })
      .catch((err) => console.error("error fetching car details: " + err));
  }

  public carAdded(car: CarListing): void {
    this.showSnackbar("Added Car: " + car.vin);
    this.cars.unshift(car);
  }

  public carUpdated(car: CarListing): void {
    const index = this.cars.map((c) => c.vin).indexOf(car.vin);
    this.cars.splice(index, 1, car);
    this.showSnackbar("Updated Car: " + car.vin);
  }
}
</script>

<style lang="scss">
tr.disabled {
  text-decoration: line-through;
  color: gray;
}
</style>
