<template>
  <div>
    <v-data-table
      v-model="locations"
      :headers="headers"
      :items="locations"
      :search="search"
      :loading="loading"
      @click:row="rowClicked"
      loading-text="Loading... Please wait"
      sort-by="make"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Locations</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
          <v-spacer></v-spacer>
          <location-details
            ref="locationDetails"
            @updated="locationUpdated"
            @added="locationAdded"
          ></location-details>
          <v-btn color="primary" @click="addLocation"> Add Location </v-btn>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon small class="mr-2"> mdi-pencil </v-icon>
        <v-icon small @click.stop="deleteItem(item)"> mdi-delete </v-icon>
      </template>
    </v-data-table>
    <v-dialog v-model="dialogDelete" max-width="520px">
      <v-card>
        <v-card-title class="headline"
          >Are you sure you want to delete this item?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false"
            >Cancel</v-btn
          >
          <v-btn color="blue darken-1" text @click="deleteItemConfirm"
            >OK</v-btn
          >
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="snackbar">
      {{ snackbarText }}

      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          Hide
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Ref } from "vue-property-decorator";
import LocationDetails from "@/components/admin/AdminLocationDetails.vue";
import { Location } from "@/types/LocationTypes";
import { Header } from "@/helpers/Utils";
import { Role } from "@/types/UserTypes";

@Component({
  components: {
    LocationDetails,
  },
})
export default class Locations extends Vue {
  private dialogDelete = false;
  private pendingVerification = false;
  private search = "";
  private loading = true;

  get headers(): Header[] {
    const headers = [
      { text: "Label", value: "label" },
      { text: "Address", value: "address" },
    ];

    const adminHeaders = [
      { text: "Actions", value: "actions", sortable: false },
    ];

    if (this.$auth.isAuthorized(Role.Admin))
      return headers.concat(adminHeaders);
    return headers;
  }

  private locations: Location[] = [];

  created(): void {
    this.fetchLocations();
  }

  @Ref("locationDetails") readonly locationDetails!: LocationDetails;

  private itemToDelete!: Location;
  private snackbarText = "";
  private snackbar = false;
  public deleteItem(item: Location): void {
    this.itemToDelete = item;
    this.dialogDelete = true;
  }

  public deleteItemConfirm(): void {
    const item = this.itemToDelete;
    const index = this.locations.indexOf(item);
    this.locations.splice(index, 1);
    this.dialogDelete = false;
    this.$locations.delete(item.id);
    this.showSnackbar("Deleted Location: " + item.label);
  }

  private showSnackbar(text: string) {
    this.snackbarText = text;
    this.snackbar = true;
  }

  public rowClicked(row: Location): void {
    if (!row) {
      console.error("row clicked with data: " + row);
      return;
    }

    const clone = Object.assign(new Location(), row);
    this.locationDetails.edit(clone);
  }

  public addLocation(): void {
    this.locationDetails.add();
  }

  public locationUpdated(location: Location): void {
    const index = this.locations.map((c) => c.id).indexOf(location.id);
    this.locations.splice(index, 1, location);
    this.showSnackbar("Updated Location: " + location.label);
  }

  public locationAdded(item: Location): void {
    this.showSnackbar("Added: " + item.label);
    this.locations.unshift(item);
  }

  private fetchLocations(): void {
    this.loading = true;
    this.$locations
      .list()
      .then((resp) => (this.locations = resp.data))
      .catch((err) => console.error("fetching locations: " + err))
      .finally(() => (this.loading = false));
  }
}
</script>

<style lang="scss"></style>
