<template>
  <v-container class="scrollable">
    <v-card :loading="loading" height="90vh">
      <v-card-title>Edit Texts</v-card-title>
      <v-alert dense outlined :type="alertType" v-if="alertMsg">
        {{ alertMsg }}
      </v-alert>
      <v-divider />

      <v-card-text>
        <v-row v-for="text in commonTexts" :key="text.name">
          <!-- <v-text-field :label="text.name" : /> -->
          <v-textarea
            rows="2"
            outlined
            v-model="commons[text.name]"
            :label="text.name"
          />
        </v-row>
        <v-row v-for="text in texts" :key="text.name">
          <!-- <v-text-field :label="text.name" : /> -->
          <v-textarea
            rows="2"
            outlined
            v-model="text.value"
            :label="text.name"
          />
        </v-row>
      </v-card-text>
      <v-divider />
      <v-card-actions>
        <v-spacer />
        <v-btn :loading="saving" @click="save" depressed color="primary">
          Save
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import { CommonTexts } from "@/types/TextTypes";
import Vue from "vue";
import { Component } from "vue-property-decorator";

class Text {
  constructor(public name = "", public value = "") {}
}

@Component
export default class TextManager extends Vue {
  private commons = new CommonTexts();
  private extras = [
    new Text("terms", ""),
    new Text("protection", ""),
    new Text("privacy", ""),
    new Text("about", ""),
  ];
  private alertType = "info";
  private alertMsg = "";
  private loading = false;
  private saving = false;

  private commonTexts: Text[] = [];
  private texts: Text[] = [];

  created(): void {
    this.loading = true;
    this.getTexts()
      .catch(() => {
        this.alertType = "error";
        this.alertMsg = "Problem fetching texts from server";
      })
      .finally(() => {
        this.loading = false;
        this.texts = this.extras;
        this.commonTexts = this.commons.asTexts();
      });
  }

  private save(): void {
    this.saving = true;
    const promises = [];
    promises.push(this.$text.setCommons(this.commons));
    this.extras.forEach((extra) => promises.push(this.$text.set(extra)));

    Promise.all(promises)
      .catch((err) => {
        this.alertType = "error";
        this.alertMsg = "Problem saving texts: " + err;
      })
      .finally(() => {
        this.saving = false;
        this.alertType = "info";
        this.alertMsg = "Saved texts";
      });
  }

  private async getTexts(): Promise<void> {
    this.commons = (await this.$text.getCommons()).data;
    for (let i = 0; i < this.extras.length; i++) {
      this.extras[i].value = (await this.$text.get(this.extras[i].name)).data;
    }
  }
}
</script>

<style lang="scss">
.scrollable {
  overflow: hidden !important;
}
.v-card {
  display: flex !important;
  flex-direction: column;
}

.v-card__text {
  flex-grow: 1;
  overflow: auto;
}
</style>
