<template>
  <v-container>
    <v-btn color="primary" @click="scheduleTrip"> Schedule Trip </v-btn>
    <p class="text-h4 ma-4">Trips for inspection</p>

    <v-tabs v-model="tab" slider-size="4">
      <!-- <v-tabs-slider color="yellow"></v-tabs-slider> -->

      <v-tab> Pre.Trip </v-tab>
      <v-tab> Post.Trip </v-tab>
    </v-tabs>
    <v-divider />
    <v-tabs-items v-model="tab">
      <v-tab-item>
        <trip-grid :inspectionType="tripType.Pre" />
      </v-tab-item>
      <v-tab-item>
        <trip-grid :inspectionType="tripType.Post" />
      </v-tab-item>
    </v-tabs-items>

    <v-row no-gutters dense>
      <v-col cols="3">
        <v-switch v-model="showTripTable" label="Show all trips" />
      </v-col>
      <v-col cols="4">
        <v-btn @click="downloadTrips" class="mt-4" small
          >Download Trip Data</v-btn
        >
      </v-col>
      <v-col cols="4">
        <v-btn @click="downloadInspections" class="mt-4" small
          >Download Inspection Data</v-btn
        >
      </v-col>
    </v-row>

    <trip-table class="mt-4" v-if="showTripTable" />
    <trip-details ref="tripDetails" @added="tripAdded"></trip-details>

    <v-snackbar v-model="snackbar">
      {{ snackbarText }}

      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbarText = ''">
          Hide
        </v-btn>
      </template>
    </v-snackbar>
    <a ref="downloadAnchor" v-show="false">Download!</a>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Ref } from "vue-property-decorator";
import TripDetails from "@/components/admin/TripDetails.vue";
import TripGrid from "@/components/admin/TripGrid.vue";
import TripTable from "@/components/admin/TripTable.vue";
import { Trip, TripInspectionType } from "@/types/TripTypes";
import { bus } from "@/EventBus";
import { formatTimestamp } from "@/helpers/Utils";

@Component({
  components: {
    TripDetails,
    TripGrid,
    TripTable,
  },
})
export default class TripManager extends Vue {
  private showTripTable = false;
  private tab = 0;

  private tripType = TripInspectionType;
  private postTripType = TripInspectionType.Post;
  private snackbarText = "";
  private snackbar = false;

  @Ref("tripDetails") readonly tripDetails!: TripDetails;
  public scheduleTrip(): void {
    this.tripDetails.manualSchedule();
  }

  public tripAdded(trip: Trip): void {
    if (!this.showTripTable) {
      this.snackbar = true;
      this.snackbarText = `Added Trip ${trip.startDateFormatted} - ${trip.endDateFormatted}`;
      return;
    }
    bus.$emit("tripAdded", trip);
  }

  @Ref("downloadAnchor") readonly downloadAnchor!: HTMLAnchorElement;
  public downloadTrips(): void {
    this.$trips
      .allTripsCSV()
      .then((resp) => {
        this.download(resp.data, "trips.csv");
      })
      .catch((err) => {
        console.error(err);
      });
    // this.$trips
    //   .allTripsCSV()
    //   .then((resp) => {
    //     const items = resp.data;
    //     // items.forEach((_) => {
    //     //   _.startDate = _.startDateFormatted;
    //     //   _.endDate = _.endDateFormatted;
    //     // });

    //     const csv = this.toCSV(items);
    //     this.download(csv, "trips.csv");
    //   })
    //   .catch((err) => {
    //     console.error(err);
    //   });
  }

  public downloadInspections(): void {
    this.$trips
      .allInspectionsCSV()
      .then((resp) => {
        this.download(resp.data, "inspections.csv");
      })
      .catch((err) => {
        console.error(err);
      });

    return;

    // this.$trips
    //   .allInspections()
    //   .then((resp) => {
    //     const items = resp.data;
    //     // items.forEach((_) => {
    //     //   _.timestamp = formatTimestamp(_.timestamp);
    //     // });

    //     const csv = this.toCSV(items);
    //     this.download(csv, "inspections.csv");
    //   })
    //   .catch((err) => {
    //     console.error(err);
    //   });
  }

  private download(text: string, filename: string): void {
    const blob = new Blob([text], {
      type: "text/plain",
    });
    let objectUrl = window.URL.createObjectURL(blob);
    this.downloadAnchor.href = objectUrl;
    this.downloadAnchor.download = filename;
    this.downloadAnchor.click();

    window.URL.revokeObjectURL(objectUrl);
  }

  private toCSV(items: any[]): string {
    const replacer = (_: any, value: any) => (value === null ? "" : value); // specify how you want to handle null values here
    const header = Object.keys(items[0]);
    const csv = [
      header.join(","), // header row first
      ...items.map((row) =>
        header
          .map((fieldName: string) => JSON.stringify(row[fieldName], replacer))
          .join(",")
      ),
    ].join("\r\n");
    return csv;
  }
}
</script>

<style lang="scss"></style>
