<template>
  <div>
    <v-data-table
      v-model="selected"
      :headers="headers"
      :items="filteredUsers"
      :search="search"
      :loading="loading"
      @click:row="rowClicked"
      loading-text="Loading... Please wait"
      sort-by="make"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Users</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-switch
            hide-details="auto"
            v-model="pendingVerification"
            label="Pending Verification"
          ></v-switch>
          <v-spacer></v-spacer>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-btn v-show="selected.length > 0" @click="deleteSelected" icon>
            <v-icon>mdi-delete</v-icon>
          </v-btn>
          <user-details ref="userDetails" @updated="userUpdated"></user-details>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon small class="mr-2"> mdi-pencil </v-icon>
        <v-icon small @click.stop="deleteItem(item)"> mdi-delete </v-icon>
      </template>
    </v-data-table>
    <v-dialog v-model="dialogDelete" max-width="520px">
      <v-card>
        <v-card-title class="headline"
          >Are you sure you want to delete this item?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false"
            >Cancel</v-btn
          >
          <v-btn color="blue darken-1" text @click="deleteItemConfirm"
            >OK</v-btn
          >
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar v-model="snackbar">
      {{ snackbarText }}

      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          Hide
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Ref } from "vue-property-decorator";
import UserDetails from "@/components/admin/AdminUserDetails.vue";
import { Role, User } from "@/types/UserTypes";
import { Header } from "@/helpers/Utils";

@Component({
  components: {
    UserDetails,
  },
})
export default class Users extends Vue {
  private dialogDelete = false;
  private pendingVerification = false;
  private search = "";
  private loading = true;
  private selected: User[] = [];

  get headers(): Header[] {
    const headers = [
      { text: "Name", value: "firstName" },
      { text: "Surname", value: "lastName" },
      { text: "Email", value: "email" },
      { text: "Phone", value: "phone" },
      { text: "Valid License", value: "validLicense" },
    ];

    const adminHeaders = [
      { text: "Role", value: "role" },
      { text: "Actions", value: "actions", sortable: false },
    ];

    if (this.$auth.isAuthorized(Role.Admin))
      return headers.concat(adminHeaders);
    return headers;
  }

  private users: User[] = [];

  created(): void {
    this.fetchUsers();
  }

  get filteredUsers(): User[] {
    if (this.pendingVerification)
      return this.users.filter((user) => !user.validLicense);
    return this.users;
  }

  @Ref("userDetails") readonly userDetails!: UserDetails;

  private itemToDelete!: User;
  private snackbarText = "";
  private snackbar = false;
  public deleteItem(item: User): void {
    this.itemToDelete = item;
    this.dialogDelete = true;
  }

  public deleteItemConfirm(): void {
    const item = this.itemToDelete;
    const index = this.users.indexOf(item);
    this.users.splice(index, 1);
    this.dialogDelete = false;
    this.$auth.deleteUsers([item.id]);
    this.showSnackbar("Deleted User: " + item.firstName);
  }

  public deleteSelected(): void {
    this.$auth
      .deleteUsers(this.selected.map((_) => _.id))
      .then(() => this.fetchUsers());
  }

  private showSnackbar(text: string) {
    this.snackbarText = text;
    this.snackbar = true;
  }

  public rowClicked(user: User): void {
    if (!user) {
      console.error("row clicked with data: " + user);
      return;
    }

    const clone = Object.assign(new User(), user);
    this.userDetails.edit(clone);
  }

  public userUpdated(user: User): void {
    const index = this.users.map((c) => c.id).indexOf(user.id);
    this.users.splice(index, 1, user);
    this.showSnackbar("Updated User: " + user.firstName);
  }

  private fetchUsers(): void {
    this.loading = true;
    this.$auth
      .listUsers() //TODO pagination
      .then((resp) => (this.users = resp.data))
      .catch((err) => console.error("fetching cars: " + err))
      .finally(() => (this.loading = false));
  }
}
</script>

<style lang="scss"></style>
