<template>
  <div>
    <v-row justify="center" class="pt-0 pt-sm-10">
      <v-col cols="12" sm="8" md="6" lg="4">
        <v-card>
          <v-card-text>
            <v-row>
              <h4 class="text-h4 mx-auto mt-6">Privacy Policy</h4>
            </v-row>
            <v-divider class="mt-4" />
            <div class="mt-4" v-html="privacy"></div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";

@Component
export default class Privacy extends Vue {
  private privacy = "";

  created(): void {
    this.$text.get("privacy").then((resp) => (this.privacy = resp.data));
  }
}
</script>

<style lang="scss">
.v-application {
  .text-h4 {
    font-weight: 500;
    opacity: 0.7;
  }
  .text-h6 {
    font-weight: 400;
    opacity: 0.7;
  }
}
div.background {
  height: 100vh;
  background-color: rgb(250, 250, 250);
}
</style>
