<template>
  <div>
    <v-app>
      <v-app-bar
        app
        color="white"
        flat
        outlined
        :extension-height="extentionHeight"
      >
        <v-badge
          v-show="$vuetify.breakpoint.mobile"
          :content="changeCount"
          :value="changeCount"
          overlap
        >
          <v-app-bar-nav-icon
            v-show="$vuetify.breakpoint.mobile"
            @click.stop="filtersSheet = !filtersSheet"
          >
            <v-icon>mdi-tune-vertical</v-icon>
          </v-app-bar-nav-icon>
        </v-badge>
        <logo></logo>

        <v-row no-gutters>
          <v-spacer v-if="$vuetify.breakpoint.mobile"></v-spacer>
          <v-col cols="9" cols-md="auto" class="pa-0">
            <date-label
              v-show="!extentionVisible"
              :dates="filters.date"
              @click="searchExtention = true"
            ></date-label>
            <search-box
              v-if="!$vuetify.breakpoint.mobile"
              :value="filters"
              @input="dateSearchEvent"
              :compact="true"
              opens="right"
            ></search-box>
          </v-col>
          <v-spacer></v-spacer>
          <avatar compact></avatar>
        </v-row>

        <template v-slot:extension v-if="extentionVisible">
          <div v-if="searchExtention">
            <search-box
              :value="filters"
              @input="dateSearchEvent"
              :compact="false"
              opens="right"
            ></search-box>
          </div>
          <search-filters
            v-else
            :combo="true"
            :value="filters"
            @input="searchFiltersSelected"
          ></search-filters>
        </template>
      </v-app-bar>

      <v-navigation-drawer
        id="filterSheet"
        v-if="$vuetify.breakpoint.mobile"
        app
        v-model="filtersSheet"
        bottom
      >
        <search-filters
          :value="filters"
          @input="searchFiltersSelected"
          @close="filtersSheet = false"
        ></search-filters>
      </v-navigation-drawer>

      <v-main>
        <!-- <v-container fluid> -->
        <div class="paddingContainer">
          <v-alert dense outlined type="error" v-if="serverError">{{
            serverError
          }}</v-alert>
          <v-row no-gutters>
            <v-col
              class="col"
              v-for="car in listings"
              :key="car.vin"
              lg="3"
              md="4"
              sm="6"
              cols="12"
            >
              <div>
                <v-skeleton-loader
                  v-if="!ready"
                  class="mx-auto"
                  type="card, actions"
                ></v-skeleton-loader>
                <a
                  class="noDecore"
                  :href="carDetailsLink(car, filters.date)"
                  target="_blank"
                >
                  <car-card v-if="ready" :car="car" class="link"></car-card>
                </a>
              </div>
            </v-col>
          </v-row>
        </div>
        <!-- </v-container> -->
      </v-main>
    </v-app>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import SearchBox from "@/components/search/SearchBox.vue";
import SearchFilters from "@/components/search/SearchFilters.vue";
import Avatar from "@/components/Avatar.vue";
import CarCard from "@/components/CarCard.vue";
import { CarListing, emptyCarListing } from "@/types/CarTypes";
import { FilterQuery } from "@/helpers/FilterQuery";
import { defaultFilters, Filters, FiltersImpl } from "@/types/FilterTypes";
import Logo from "@/components/Logo.vue";
import DateLabel from "@/components/search/DateLabel.vue";
import { DateRange } from "@/helpers/Utils";

@Component({
  components: {
    SearchBox,
    Avatar,
    CarCard,
    SearchFilters,
    Logo,
    DateLabel,
  },
})
export default class Search extends Vue {
  private ready = false;
  private listings: CarListing[] = this.mockListings();
  private serverError = "";
  private filtersSheet = false;
  private defaultFilters = defaultFilters();
  private filters = defaultFilters();
  private filterQuery = new FilterQuery(defaultFilters());
  private changeCount = 0;
  private backingSearchExtention = false;

  get searchExtention(): boolean {
    return this.backingSearchExtention && this.$vuetify.breakpoint.mobile;
  }

  set searchExtention(val: boolean) {
    this.backingSearchExtention = val;
  }

  private mockListings() {
    let listings = [];
    for (let i = 0; i < 10; i++) {
      listings.push(emptyCarListing("vin" + i));
    }
    return listings;
  }

  created(): void {
    console.log("created search");

    const query = this.$route.query;
    this.filters = this.filterQuery.filtersFromQuery(query);

    const noFilters =
      FiltersImpl.changed(this.filters, this.defaultFilters, []).length == 0;
    if (noFilters) {
      this.filters.date = new DateRange().asArray;
      const query = this.filterQuery.queryFromFilters(this.filters);
      this.$router.push({ name: "Search", query: query });
    }

    this.changeCount = FiltersImpl.changed(
      this.filters,
      this.defaultFilters
    ).length;
    this.fetchListings();
  }

  public dateSearchEvent(filters: Filters): void {
    this.searchExtention = false;
    this.searchFiltersSelected(filters);
  }

  public searchFiltersSelected(filters: Filters): void {
    this.filtersSheet = false;
    this.filters = filters;
    this.changeCount = FiltersImpl.changed(filters, this.defaultFilters).length;
    const query = this.filterQuery.queryFromFilters(filters);
    this.$router.push({ query: query });
    this.fetchListings();
  }

  private fetchListings() {
    this.ready = false;
    const filters = this.filterQuery.filtersFromQuery(this.$route.query);
    const nonDefaultFilters = FiltersImpl.nonDefault(
      filters,
      this.defaultFilters
    );
    // const queryString = stringifyQuery(this.$route.query);
    this.$cars
      .listAvailable(nonDefaultFilters)
      .then((resp) => {
        this.listings = resp.data;
        this.serverError = "";
      })
      .catch((err) => {
        this.listings = [];
        console.error("fetching listings: " + err);
        this.serverError =
          "Oops, can't seem to contact server, try again in a few minutes.";
      })
      .finally(() => (this.ready = true));
  }

  public carDetailsLink(car: CarListing, date: number[]): string {
    const dateFilters = new Filters();
    dateFilters.date = date;
    const query = this.filterQuery.queryFromFilters(dateFilters);
    return this.$router.resolve({
      name: "Car",
      params: { id: car.vin },
      query: query,
    }).href;
  }

  public openCarDetails(car: CarListing): void {
    const dateFilters = new Filters();
    dateFilters.date = this.filters.date;
    const query = this.filterQuery.queryFromFilters(dateFilters);
    this.$router.push({ name: "Car", params: { id: car.vin }, query: query });
  }

  get extentionHeight(): number {
    return this.searchExtention && this.$vuetify.breakpoint.mobile ? 200 : 48;
  }

  get extentionVisible(): boolean {
    return !this.$vuetify.breakpoint.mobile || this.searchExtention;
  }
}
</script>

<style lang="scss">
.row.no-gutters {
  .col {
    padding-left: 16px;
    padding-top: 16px;
  }
}

.paddingContainer {
  padding-right: 16px;
  padding-bottom: 16px;
}
#filterSheet {
  max-height: 85vh;
  height: 85vh;
}
.link {
  cursor: pointer;
}
.noDecore {
  text-decoration: none;
}
.v-toolbar__extension {
  z-index: -1;
}
</style>
