<template>
  <div>
    <v-row justify="center" class="pt-0 pt-sm-10">
      <v-col cols="12" sm="8" md="6" lg="4">
        <v-card>
          <v-card-text>
            <v-row>
              <h4 class="text-h4 mx-auto mt-6">Support</h4>
            </v-row>
            <v-row>
              <h4 class="text-h6 mx-auto">How can we help you?</h4>
            </v-row>
            <v-divider class="mt-4" />
            <div class="mt-4 text-subtitle-1">
              Please contact us with any questions or problems.
            </div>
            <v-text-field outlined label="Subject" />
            <v-textarea outlined label="Message" />
            <v-row justify="end">
              <v-btn outlined color="primary">Send</v-btn>
            </v-row>

            <div class="mt-4 text-h6">Additional contact methods</div>
            <v-list>
              <v-list-item v-for="item in contacts" :key="item.icon">
                <v-list-item-icon>
                  <v-icon v-text="item.icon" />
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title>
                    <a :href="item.link">{{ item.label }}</a>
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";

class ContactItem {
  constructor(public icon = "", public label = "", public link = "") {}
}
@Component
export default class Support extends Vue {
  private readonly phone = "(123) 123 4567";
  private readonly email = "support@atozrentalcars.com";
  private readonly contacts = [
    new ContactItem("mdi-phone", this.phone, "tel:1233211233"), //TODO tel
    new ContactItem("mdi-email", this.email, "mailto:" + this.email),
  ];
}
</script>

<style lang="scss">
.v-application {
  .text-h4 {
    font-weight: 500;
    opacity: 0.7;
  }
  .text-h6 {
    font-weight: 400;
    opacity: 0.7;
  }
}
div.background {
  height: 100vh;
  background-color: rgb(250, 250, 250);
}

a {
  text-decoration: none;
}
</style>
