<template>
  <span>
    <v-menu
      v-if="loggedIn || compact || $vuetify.breakpoint.mobile"
      :open-on-hover="true"
      bottom
      rounded
      offset-y
      transition="slide-y-transition"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn icon v-bind="attrs" v-on="on">
          <v-icon>mdi-account-circle-outline</v-icon>
        </v-btn>
      </template>

      <v-list flat>
        <v-list-item-group v-if="isUser">
          <v-list-item to="/account">
            <v-list-item-title>Account</v-list-item-title>
          </v-list-item>
          <v-list-item to="/trips">
            <v-list-item-title>Trips</v-list-item-title>
          </v-list-item>
        </v-list-item-group>

        <v-list-item-group v-if="hasAdminPanel">
          <v-list-item to="/admin/trips">
            <v-list-item-title>Admin</v-list-item-title>
          </v-list-item>
          <!-- <v-list-item to="/admin/cars">
            <v-list-item-title>Cars</v-list-item-title>
          </v-list-item> -->
        </v-list-item-group>

        <v-list-item-group v-if="!loggedIn">
          <v-list-item
            v-for="(item, index) in items"
            :key="index"
            @click="bus.$emit(item.title)"
          >
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list-item-group>

        <v-list-item-group v-if="loggedIn">
          <v-list-item @click="logout">
            <v-list-item-title>Log out</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-menu>
    <span v-else>
      <v-btn
        plain
        v-for="(item, index) in items"
        :key="index"
        @click="bus.$emit(item.title)"
      >
        {{ item.title }}
      </v-btn>
    </span>
    <v-snackbar
      timeout="2500"
      v-model="snackbar"
      absolute
      style="top: 80px"
      color="accent"
    >
      {{ snackbarText }}
    </v-snackbar>
  </span>
</template>

<script lang="ts">
import { bus } from "@/EventBus";
import { Role } from "@/types/UserTypes";
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";

@Component
export default class Avatar extends Vue {
  @Prop({ default: false, type: Boolean }) readonly compact!: boolean;
  private bus = bus;
  private loggedIn = false;
  private items = [
    {
      title: "login",
    },
    {
      title: "signup",
    },
  ];
  private userItems = [
    {
      title: "Account",
      link: "/account",
    },
    {
      title: "Trips",
      link: "/trips",
    },
    {
      title: "Log out",
      link: "/logout",
    },
  ];

  private snackbar = false;
  private snackbarText = "";

  created(): void {
    this.$auth.addLoginCallback(() => {
      this.loggedIn = this.$auth.isAuthenticated();
    });

    bus.$on("registered", () => {
      this.snackbarText = "Successfully signed in.";
      this.snackbar = true;
    });
    bus.$on("logout", () => {
      this.snackbarText = "Successfully signed out.";
      this.snackbar = true;
    });
  }

  get isUser(): boolean {
    if (!this.loggedIn) return false;
    return this.$auth.isAuthorized(Role.User);
  }

  get hasAdminPanel(): boolean {
    if (!this.loggedIn) return false;
    return this.$auth.isAuthorized(Role.Custodian);
  }

  public logout(): void {
    this.$auth.logout();
    this.$router.go(0); // refresh page to redirect from restricted paths
  }
}
</script>

<style lang="scss"></style>
