<template>
  <v-menu
    ref="menuRef"
    v-model="menu"
    :close-on-content-click="false"
    transition="scale-transition"
    offset-y
    min-width="auto"
  >
    <template v-slot:activator="{ on }">
      <v-text-field
        v-model="computedDate"
        readonly
        v-bind="$attrs"
        v-on="on"
      ></v-text-field>
    </template>
    <v-date-picker
      ref="picker"
      v-model="date"
      :max="maxDate"
      min="1900-01-01"
      @change="save"
    ></v-date-picker>
  </v-menu>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop, Ref, Watch } from "vue-property-decorator";

@Component
export default class BirthdayPicker extends Vue {
  private menu = false;
  private date: string | null = null;
  @Prop() readonly value!: string;

  @Watch("value")
  onValueChange(newVal: string) {
    this.date = newVal;
  }

  created(): void {
    this.date = this.value;
  }

  @Ref("picker") readonly picker!: any;
  @Watch("menu")
  menuChanged(val: boolean) {
    val && setTimeout(() => (this.picker.activePicker = "YEAR"));
  }

  get computedDate() {
    return this.formatDate(this.date);
  }

  get maxDate() {
    const minAge = 16; //TODO min age
    let maxYear = new Date().getFullYear() - minAge;
    let maxDate = new Date();
    maxDate.setFullYear(maxYear);
    return maxDate.toISOString().substr(0, 10);
  }

  public formatDate(date: string | null) {
    if (!date) return null;
    const [year, month, day] = date.split("-");
    return `${month}/${day}/${year}`;
  }

  public showMenu(e: Event): void {
    setTimeout(() => {
      this.menu = true;
    });
  }

  @Ref("menuRef") readonly menuRef!: any;
  public save(date: string) {
    this.menuRef.save(date);
    this.$emit("update", date);
    this.$emit("input", date);
  }
}
</script>

<style lang="scss"></style>
