<template>
  <date-picker
    :value="value"
    label="Date of birth"
    yearPlaceholder="1988"
    minDate="1900"
    :maxDate="maxDate"
    :disabled="disabled"
    outlined
    @input="$emit('input', $event)"
  />
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import DatePicker from "@/components/DatePicker.vue";

@Component({
  components: {
    DatePicker,
  },
})
export default class BirthdayPicker extends Vue {
  @Prop() readonly value!: string;
  @Prop() readonly disabled!: boolean;

  get maxDate(): string {
    const minAge = 16; //TODO min age
    let maxYear = new Date().getFullYear() - minAge;
    let maxDate = new Date();
    maxDate.setFullYear(maxYear);
    return maxDate.toISOString().substr(0, 4);
  }
}
</script>

<style lang="scss"></style>
