<template>
  <v-card>
    <v-img
      height="200px"
      gradient="to bottom, rgba(0,0,0,.0), rgba(0,0,0,.2)"
      class="white--text align-end"
      :src="car.imageURL"
      :lazy-src="preloadImage"
    >
      <template v-slot:placeholder>
        <v-row class="fill-height ma-0" align="center" justify="center">
          <v-progress-circular
            indeterminate
            color="primary"
          ></v-progress-circular>
        </v-row>
      </template>
      <v-card-title>{{ car.make }} {{ car.model }} {{ car.year }}</v-card-title>
    </v-img>

    <v-card-subtitle>
      <v-row justify="end" no-gutters class="font-weight-bold">
        <span class="fullPrice mr-1">${{ car.formattedFullPrice }}</span>
        <span class="price">${{ car.formattedPrice }}/day</span>
      </v-row>
    </v-card-subtitle>
  </v-card>
</template>

<script lang="ts">
import { CarListing } from "@/types/CarTypes";
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";

@Component
export default class CarCard extends Vue {
  @Prop({ required: true }) car!: CarListing;

  get preloadImage(): string {
    const name = this.extractFileName();
    const base = "https://ik.imagekit.io/hkb6txc7g/";
    const transform = "?tr=h-48,w-48,bl-2";
    return base + `${this.car.vin}/${name}` + transform;
  }

  private extractFileName(): string {
    const reg = `(${this.car.vin}%2F)(.+?[.]\\w+)`;
    const res = this.car.imageURL.match(new RegExp(reg));
    if (res) {
      return res[2];
    }
    return "";
  }
}
</script>

<style lang="scss">
.v-card__title {
  text-transform: capitalize;
}

.v-card__subtitle {
  font-size: 1rem;
}
.fullPrice {
  text-decoration: line-through;
  font-weight: 400;
}
.price {
  color: rgb(20, 20, 20);
}
</style>
