<template>
  <div>
    <div v-if="loading">
      <v-skeleton-loader
        class="mx-auto"
        type="card, actions"
      ></v-skeleton-loader>
    </div>
    <div v-else>
      <v-carousel
        :height="height"
        v-if="!car.imageURLs || car.imageURLs.length == 0"
      >
        <v-carousel-item>
          <v-sheet color="success" height="100%">
            <v-row class="fill-height" align="center" justify="center">
              <div class="display-3">No Images yet</div>
            </v-row>
          </v-sheet>
        </v-carousel-item>
      </v-carousel>
      <v-carousel :height="height">
        <v-carousel-item v-for="(image, i) in car.imageURLs" :key="image">
          <v-img
            :src="image"
            :lazy-src="car.preloadImages[i]"
            :height="height"
          ></v-img>
        </v-carousel-item>
      </v-carousel>
      <v-container>
        <v-row>
          <v-col cols="12" sm="7">
            <div class="text-h5 font-weight-bold">{{ car.title }}</div>
            <trip-info
              class="mt-4"
              v-if="!$vuetify.breakpoint.smAndUp"
              :car="car"
              :startDates="startDates"
              opens="right"
            ></trip-info>

            <v-row class="mt-4 mb-sm-2">
              <v-col cols="4">
                <v-icon size="30" class="mr-1">mdi-gas-station-outline</v-icon>
                {{ car.mpg }} MPG
              </v-col>
              <v-col cols="4">
                <v-icon size="30" class="mr-1">mdi-car-door</v-icon>
                {{ car.doors }} doors
              </v-col>
              <v-col cols="4">
                <v-icon size="30" class="mr-1">mdi-car-seat</v-icon>
                {{ car.seats }} seats
              </v-col>
            </v-row>

            <car-location :location-id="car.locationID" />
            <h6 class="text-h6 mt-4">Description</h6>
            <show-hide>
              <div class="text-subtitle-1 mt-2">
                {{ car.description }}
              </div>
            </show-hide>

            <h6 class="text-h6 mt-4">Features</h6>
            <show-hide>
              <div>
                <div
                  v-for="(feature, index) in computedBooleanFeatures"
                  :key="index"
                >
                  {{ feature.title }}
                </div>
              </div>
            </show-hide>
          </v-col>

          <v-col cols="12" sm="5" class="sidebar">
            <trip-info
              v-if="$vuetify.breakpoint.smAndUp"
              :car="car"
              :startDates="startDates"
            ></trip-info>
          </v-col>
        </v-row>
      </v-container>
    </div>
  </div>
</template>

<script lang="ts">
import { DateRange } from "@/helpers/Utils";
import { Car, Feature } from "@/types/CarTypes";
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import ShowHide from "@/components/ShowHide.vue";
import TripInfo from "@/components/trips/TripInfo.vue";
import CarLocation from "@/components/cars/CarLocation.vue";
import { TripRequest } from "@/types/TripTypes";

@Component({
  components: {
    TripInfo,
    ShowHide,
    CarLocation,
  },
})
export default class CarDetails extends Vue {
  @Prop({ required: true }) vin!: string;
  @Prop() startDates!: DateRange;
  private car: Car = new Car();
  private loading = true;
  private height = 300;

  created(): void {
    this.$cars
      .getDetails(this.vin)
      .then((resp) => {
        this.car = resp.data;
        console.log("car location: " + this.car.locationID);
      })
      .catch(() => {
        console.error("fetching car details");
      })
      .finally(() => this.loading = false);
  }

  public bookTrip(trip: TripRequest): void {
    this.$trips.request(trip).then((resp) => {
      this.$cache.cacheTrip(resp.data);
      this.$cache.cacheCar(this.car);
      this.$router.push({
        name: "Book",
        params: { id: resp.data.id },
      });
    });
  }

  get computedBooleanFeatures(): Feature[] {
    return this.car.computedBooleanFeatures.filter((f) => this.car[f.field]);
  }
}
</script>

<style lang="scss">
.sidebar {
  max-width: 15rem;
}
.unavailableMessage {
  font-size: 0.8rem;
}
</style>
