<template>
  <div>
    <v-label>{{ label }}</v-label>
    <v-row class="dateContainer mt-0">
      <!-- <v-col cols="auto"><v-label>Date of birth:</v-label></v-col> -->
      <v-col cols="4">
        <v-text-field
          :outlined="outlined"
          :value="month"
          @input="monthInput"
          label="Month"
          placeholder="01"
          v-mask="{ mask: 'Mm', tokens: dateTokens }"
          :rules="[
            innerRules.notEmptyRuleShort,
            innerRules.rangeRule(1, 12, true),
          ]"
          :disabled="disabled"
        ></v-text-field>
      </v-col>
      <v-col cols="4">
        <v-text-field
          :outlined="outlined"
          :value="day"
          @input="dayInput"
          ref="dayField"
          label="Day"
          placeholder="01"
          v-mask="{ mask: 'Dd', tokens: dateTokens }"
          :rules="[
            innerRules.notEmptyRuleShort,
            innerRules.rangeRule(1, 31, true),
          ]"
          :disabled="disabled"
        ></v-text-field>
      </v-col>
      <v-col cols="4">
        <v-text-field
          :outlined="outlined"
          @input="yearInput"
          :value="year"
          ref="yearField"
          label="Year"
          :placeholder="yearPlaceholder"
          v-mask="'####'"
          :rules="[
            innerRules.notEmptyRuleShort,
            innerRules.rangeRule(minDate, maxDate, true),
          ]"
          :disabled="disabled"
        ></v-text-field>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop, Ref, Watch } from "vue-property-decorator";
import DateTextField from "@/components/DateTextField.vue";
import { mask } from "vue-the-mask";
import { Rules } from "@/types/InputRules";

@Component({
  components: {
    DateTextField,
  },
  directives: {
    mask,
  },
})
export default class BirthdayPicker extends Vue {
  @Prop({ default: "1988" }) readonly yearPlaceholder!: string;
  @Prop({ required: true }) readonly label!: string;
  @Prop({ required: true }) readonly minDate!: string;
  @Prop({ required: true }) readonly maxDate!: string;
  @Prop({ default: false, type: Boolean }) readonly outlined!: boolean;
  @Prop() readonly disabled!: boolean;

  private date: string | null = null;
  private readonly innerRules = Rules;
  private day = "";
  private month = "";
  private year = "";
  private dateTokens = {
    M: {
      pattern: /[0-1]/,
    },
    m: {
      pattern: /[0-9]/,
    },
    D: {
      pattern: /[0-3]/,
    },
    d: {
      pattern: /[0-9]/,
    },
  };
  @Prop() readonly value!: string;

  @Watch("value")
  onValueChange(newVal: string): void {
    this.setDate(newVal);
  }

  created(): void {
    this.setDate(this.value);
  }

  private setDate(dateString: string): void {
    if (dateString && dateString.includes("-"))
      [this.year, this.month, this.day] = dateString.split("-");
  }

  get computedDate(): string | null {
    return this.formatDate(this.date);
  }

  public formatDate(date: string | null): string | null {
    if (!date) return null;
    const [year, month, day] = date.split("-");
    return `${month}/${day}/${year}`;
  }

  @Ref("dayField") readonly dayField!: HTMLInputElement;
  public monthInput(newVal: string): void {
    this.month = newVal;
    if (newVal.length == 2) {
      this.dayField.focus();
    }
    this.updateModel();
  }

  @Ref("yearField") readonly yearField!: HTMLInputElement;
  public dayInput(newVal: string): void {
    this.day = newVal;
    if (newVal.length == 2) {
      this.yearField.focus();
    }
    this.updateModel();
  }

  public yearInput(newVal: string): void {
    this.year = newVal;
    this.updateModel();
  }

  public updateModel(): void {
    const isoDateString = `${this.year}-${this.month}-${this.day}`;
    this.$emit("input", isoDateString);
  }
}
</script>

<style lang="scss">
.col {
  .short {
    max-width: 104px;
  }
  .long {
    max-width: 120px;
  }
}
.dateContainer.row {
  .col {
    padding-top: 4px;
  }
}
</style>
