<template>
  <v-text-field
    @keypress="keypress"
    :label="label"
    v-model="text"
    v-mask="'##'"
  ></v-text-field>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop, Ref, Watch } from "vue-property-decorator";
import { mask } from "vue-the-mask";

@Component
export default class DateTextField extends Vue {
  private text = "";
  @Prop() readonly value!: string;
  @Prop() readonly label!: string;

  public keypress(v: any): void {
    console.log(v);
  }
}
</script>

<style lang="scss"></style>
