<template>
  <div>
    <v-subheader class="pl-0"> Gas Level </v-subheader>
    <v-slider
      v-model="fuelLevel"
      :tick-labels="ticksLabels"
      :max="max"
      step="1"
      ticks="always"
      tick-size="4"
    />
  </div>
</template>

<script lang="ts">
import { FuelLevel } from "@/types/TripTypes";
import Vue from "vue";
import { Component, Prop, Watch } from "vue-property-decorator";

@Component
export default class FuelLevelInput extends Vue {
  @Prop({ required: true }) readonly value!: FuelLevel;
  private ticksLabels = ["E", "Near E", "25%", "50%", "75%", "F"];
  private mapping = [
    FuelLevel.Empty,
    FuelLevel.NearEmpty,
    FuelLevel.Qrtr,
    FuelLevel.Half,
    FuelLevel.ThreeQtrs,
    FuelLevel.Full,
  ];
  private fuelLevel? = this.max;

  @Watch("fuelLevel")
  fuelLevelChange(level: number): void {
    this.$emit("input", this.mapping[level]);
  }

  get max(): number {
    return this.ticksLabels.length - 1;
  }
}
</script>

<style lang="scss">
.v-subheader {
  height: 31px;
}
</style>
