<template>
  <div>
    <!-- <v-subheader class="pl-0"> Gas Level </v-subheader> -->
    <v-radio-group row v-model="fuelLevel" label="Gas Level" :rules="[rules]">
      <v-radio
        v-for="label in ticksLabels"
        :key="label"
        :value="label"
        :label="label"
      ></v-radio
    ></v-radio-group>
    <!-- <v-slider
      v-model="fuelLevel"
      :tick-labels="ticksLabels"
      :max="max"
      step="1"
      ticks="always"
      tick-size="4"
    /> -->
  </div>
</template>

<script lang="ts">
import { FuelLevel } from "@/types/TripTypes";
import Vue from "vue";
import { Component, Prop, Watch } from "vue-property-decorator";

@Component
export default class FuelLevelInput extends Vue {
  @Prop({ required: true }) readonly value!: FuelLevel;
  private ticksLabels = ["E", "Near E", "25%", "50%", "75%", "F"];
  private mapping = [
    FuelLevel.Empty,
    FuelLevel.NearEmpty,
    FuelLevel.Qrtr,
    FuelLevel.Half,
    FuelLevel.ThreeQtrs,
    FuelLevel.Full,
  ];
  private fuelLevel = "";
  private rules = (v: string): boolean | string => {
    return (v && v !== "") || "Select an option.";
  };

  created(): void {
    // debugger;
    if (this.value && this.value !== FuelLevel.Undefined)
      this.fuelLevel = this.ticksLabels[this.mapping.indexOf(this.value)];
  }

  @Watch("fuelLevel")
  fuelLevelChange(level: number): void {
    this.$emit("input", this.mapping[level]);
  }

  get max(): number {
    return this.ticksLabels.length - 1;
  }
}
</script>

<style lang="scss">
.v-subheader {
  height: 31px;
}
</style>
