<template>
  <div>
    <v-img
      max-height="70vh"
      min-height="60vh"
      id="hero"
      :src="require('../assets/hero.jpg')"
    >
    </v-img>
    <v-row
      no-gutters
      justify="start"
      class="ml-2 ml-my-0 justify-my-center mr-2"
      style="margin-top: -176px"
    >
      <v-card>
        <v-card-text>
          <search-box
            class="searchHero"
            redirect
            :compact="false"
            opens="right"
          />
        </v-card-text>
      </v-card>
      <!-- </v-col> -->
    </v-row>
    <v-row justify="center" no-gutters class="mt-4">
      <h1 class="display-2">AtoZ Car Rentals</h1>
    </v-row>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import SearchBox from "@/components/search/SearchBox.vue";

export default Vue.extend({
  name: "Home",

  components: { SearchBox },

  data: () => ({}),
});
</script>

<style lang="scss">
.searchHero {
  max-width: 352px;
}
.v-card__text {
  overflow: inherit;
}

@media (min-width: 700px) {
  .v-application .ml-my-0 {
    margin-left: 0px !important;
  }
}

@media (min-width: 700px) {
  .v-application .justify-my-center {
    justify-content: center !important;
  }
}
// #hero {
//   max-height: 90vh;
// }
</style>
