<template>
  <v-dialog
    :value="value"
    @input="$emit('input', $event)"
    persistent
    width="300"
  >
    <v-card color="primary" dark>
      <v-card-text>
        {{ label }}
        <v-progress-linear
          indeterminate
          color="white"
          class="mb-0"
        ></v-progress-linear>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";

@Component
export default class LoadingDialog extends Vue {
  @Prop({}) readonly label!: string;
  @Prop({}) readonly value!: string;
}
</script>

<style lang="scss"></style>
