<template>
  <div class="d-flex align-center">
    <v-img
      alt="Logo"
      class="shrink mr-2 link"
      contain
      src="/logo.svg"
      transition="scale-transition"
      width="40"
      @click="home"
    />
    <!-- TODO replace with remote url -->
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";

@Component
export default class Logo extends Vue {
  public home(): void {
    this.$router.push("/");
  }
}
</script>

<style lang="scss">
.link {
  cursor: pointer;
}
</style>
