<template>
  <div class="mockContainer">
    <div class="slot">
      <div class="selection">
        <div>
          {{ label }}
        </div>
      </div>
      <div class="append-inner">
        <v-icon class="menu-icon">mdi-menu-down</v-icon>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop, Ref, Watch } from "vue-property-decorator";

@Component
export default class MockSelect extends Vue {
  @Prop() readonly label!: string;
}
</script>

<style lang="scss">
.mockContainer {
  cursor: pointer;
  position: relative;
  align-self: flex-start;
  margin-top: 4px;
  padding-top: 12px;
  line-height: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.append-inner {
  margin-left: auto;
  padding-left: 4px;
}
.selection {
  align-items: center;
  display: flex;
  flex: 1 1;
  flex-wrap: wrap;
  line-height: 18px;
  max-width: 100%;
  min-width: 0;
  color: rgba(0, 0, 0, 0.87);
  > div {
    margin: 7px 4px 7px 0;
  }
}
.slot {
  position: relative;
  align-items: center;
  display: flex;
  max-width: 100%;
  min-width: 0;
  width: 100%;
  &:before {
    border-color: rgba(0, 0, 0, 0.42);
    border-style: solid;
    border-width: thin 0 0 0;
    bottom: -1px;
    content: "";
    left: 0;
    position: absolute;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    width: 100%;
  }
  &:hover:before {
    border-color: rgba(0, 0, 0, 1);
  }

  &:after {
    background-color: currentColor;
    border-color: currentColor;
    border-width: thin 0 thin 0;
    bottom: -1px;
    content: "";
    left: 0;
    position: absolute;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    width: 100%;
  }
  //   &:before &:after {
  //     bottom: -1px;
  //     content: "";
  //     left: 0;
  //     position: absolute;
  //     transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  //     width: 100%;
  //   }
}
</style>
