<template>
  <v-container>
    <div v-if="notFound">
      <p class="text-h4">Sorry, This page doesn't exist.</p>
      <p class="text-subtitle-2">
        We can’t find the page you’re looking for. Please check the address and
        try again. You might want to go back to our
        <router-link to="/">home page</router-link>.
      </p>
    </div>
    <div v-if="tripNotFound">
      <p class="text-h4">Sorry, This trip doesn't exist.</p>
      <p class="text-subtitle-2">We can’t find the trip you’re looking for.</p>
      <p class="text-subtitle-2">
        We only hold cars for 15 minutes, perhaps the request has expired
        <router-link to="/search">New Search</router-link>.
      </p>
    </div>
    <div v-if="notAuthorized">
      <p class="text-h4">Sorry, you don't have permission to do that.</p>
      <p class="text-subtitle-2">You might want to log in as another user</p>
    </div>

    <div v-if="canceled">
      <p class="text-h4">Sorry, This trip has been canceled.</p>
      <p class="text-subtitle-2">Please make a new trip</p>
    </div>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";

@Component
export default class PageError extends Vue {
  @Prop({ default: false, type: Boolean }) readonly notFound!: boolean;
  @Prop({ default: false, type: Boolean }) readonly notAuthorized!: boolean;
  @Prop({ default: false, type: Boolean }) readonly canceled!: boolean;
  @Prop({ default: false, type: Boolean }) readonly tripNotFound!: boolean;
}
</script>

<style lang="scss"></style>
