<template>
  <v-form
    class="paymentForm"
    v-model="valid"
    ref="form"
    lazy-validation
    v-show="show"
    @submit.prevent.stop="setupCard"
  >
    <v-alert dense outlined type="error" v-if="serverError">
      {{ serverError }}
    </v-alert>
    <div v-if="cards.length > 0 && !addingPaymentMethod">
      <v-row no-gutters dense>
        <v-radio-group
          v-model="selectedCard"
          label="Payment Method"
          @change="onCardSelected"
        >
          <v-radio v-for="card in cards" :key="card.id" :value="card">
            <template v-slot:label>
              <v-row no-gutters dense>
                {{ card.label }}
                <!-- <v-col cols="auto" class="pa-0">
                </v-col>
                -->
                <v-btn
                  v-if="cards.length > 0"
                  class="ml-2"
                  color="error"
                  text
                  height="20px"
                  :disabled="removingCard"
                  @click="removeCard(card)"
                  >Remove</v-btn
                >
                <!-- <v-col class="pa-0">
                  
                </v-col> -->
              </v-row>
            </template>
          </v-radio>
        </v-radio-group>
      </v-row>
      <v-row no-gutters dense>
        <v-btn depressed color="primary" @click="addPaymentMethod"
          >Add Card</v-btn
        >
      </v-row>
    </div>

    <div v-if="cards.length == 0 || addingPaymentMethod">
      <v-row no-gutters dense class="mt-4">
        <div class="cardInput pa-3">
          <div id="card-element" @change="onChange"></div>
        </div>
      </v-row>
      <v-input :error-messages="cardError" />
      <v-text-field
        clearable
        hide-details="auto"
        label="Name on card"
        v-model="cardholderName"
        :rules="rules.nameRules"
      >
      </v-text-field>
      <v-btn
        :loading="loading"
        :disabled="!valid"
        class="mt-4"
        type="submit"
        depressed
        color="primary"
        >Save Card</v-btn
      >
      <v-btn
        v-if="addingPaymentMethod"
        class="mt-4 ml-4"
        depressed
        color="error"
        @click="addingPaymentMethod = false"
        >Cancel</v-btn
      >
    </div>
  </v-form>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop, Watch } from "vue-property-decorator";
// import { StripeElementCard } from "vue-stripe";
import {
  loadStripe,
  PaymentMethodCreateParams,
  Stripe,
  StripeCardElement,
  StripeCardElementChangeEvent,
} from "@stripe/stripe-js";
import { Rules } from "@/types/InputRules";
import { CardDetails, PaymentAction } from "@/types/paymentTypes";

interface StripePaymentMethod {
  card: string | StripeCardElement;
  billing_details?: PaymentMethodCreateParams.BillingDetails;
}

interface StripeSetupData {
  payment_method: StripePaymentMethod;
}

@Component({
  components: {
    // StripeElementCard,
  },
})
export default class PaymentSelect extends Vue {
  // @Ref("stripeElement") readonly cardElement!: StripeCardElement;
  @Prop({ default: true, type: Boolean }) readonly show!: boolean;
  @Prop({ default: undefined, type: CardDetails }) readonly value?: CardDetails;
  private rules = Rules;
  private readonly pulishableKey = "pk_test";
  private clientSecret = "";
  public stripe!: Stripe;
  private cardElement!: StripeCardElement;
  private valid = false;
  private cardholderName =
    this.$auth.user?.firstName + " " + this.$auth.user?.lastName;
  private cardError = "";
  private serverError = "";
  private loading = false;

  private removingCard = false;
  private cards: CardDetails[] = [];
  public selectedCard: CardDetails | undefined;
  private requiresPaymentMethod = false;
  private paymentMethodActions: PaymentAction[] = [];

  private addingPaymentMethod = false;

  onCardSelected(newVal?: CardDetails): void {
    this.$emit("input", this.selectedCard);
  }

  created(): void {
    loadStripe(this.pulishableKey)
      .then((resp) => {
        if (!resp) {
          console.error("loadStripe returned empty");
          this.serverError =
            "Problem contacting payment server, please try again in a few minutes";
          return;
        }
        this.stripe = resp;
      })
      .catch((err) => {
        console.error("loading stripe: " + err);
        this.serverError =
          "Problem contacting payment server, please try again in a few minutes";
      });

    this.getCards();
  }

  public clearErrors(): void {
    this.cardError = "";
    this.serverError = "";
  }

  public removeCard(card: CardDetails): void {
    this.removingCard = true;
    this.$payment
      .removeCard(card.id)
      .then(() => {
        const i = this.cards.findIndex((c) => c.id == card.id);
        this.cards.splice(i, 1);
      })
      .finally(() => (this.removingCard = false));
  }

  private async getCards(): Promise<CardDetails[]> {
    const resp = await this.$payment.cards();
    this.cards = resp.data;
    if (this.cards.length > 0) {
      this.selectedCard = this.cards[0];
      this.$emit("input", this.selectedCard);
    } else {
      this.addPaymentMethod();
    }
    return this.cards;
  }

  public addPaymentMethod(): void {
    this.addingPaymentMethod = true;
    this.selectedCard = undefined;
    this.$emit("input", this.selectedCard);
    Vue.nextTick(() => {
      const elements = this.stripe.elements();
      this.cardElement = elements.create("card");
      this.cardElement.mount("#card-element");
      this.cardElement.on("change", this.onChange);
      this.$payment
        .setup()
        .then((resp) => (this.clientSecret = resp.data))
        .catch((err) => {
          console.error("Retrieving client secret: " + err);
          this.serverError =
            "Problem contacting payment server, please try again in a few minutes";
        });
    });
  }

  public async getPaymentMethod(): Promise<StripeSetupData> {
    if (this.selectedCard)
      return {
        payment_method: {
          card: this.selectedCard.id,
        },
      };
    else {
      // TODO remove
      return {
        payment_method: {
          card: this.cardElement,
          billing_details: {
            name: this.cardholderName,
          },
        },
      };
    }
  }

  public submit(): void {
    this.setupCard();
  }

  public async setupCard(): Promise<boolean> {
    this.cardError = "";
    this.serverError = "";
    if (!this.clientSecret && !this.selectedCard) {
      //TODO display error
      console.log("setupCard: error");
      return false;
    }
    console.log("setupCard:");

    this.loading = true;
    const setupData = {
      payment_method: {
        card: this.cardElement,
        billing_details: {
          name: this.cardholderName,
        },
      },
    };

    try {
      const resp = await this.stripe.confirmCardSetup(
        this.clientSecret,
        setupData
      );
      this.loading = false;
      if (resp.setupIntent?.status === "succeeded") {
        this.addingPaymentMethod = false;
        await this.getCards();
        this.$emit("attached", true);
        return true;
      }
      if (resp.error && resp.error.message) {
        this.serverError = resp.error.message;
      }
      return false;
    } catch (err) {
      this.loading = false;
      console.error("confirming card setup: " + err);
      this.serverError = "Problem confirming card, please try a different card";
      return false;
    }
  }

  public onChange(ev: StripeCardElementChangeEvent): void {
    if (ev.error) {
      this.cardError = ev.error.message;
    } else {
      this.cardError = "";
    }
  }
}
</script>

<style lang="scss">
.cardInput {
  box-shadow: 0px 0px 0px 0.5px rgb(50 50 93 / 10%),
    0px 2px 5px 0px rgb(50 50 93 / 10%), 0px 1px 1.5px 0px rgb(0 0 0 / 7%);
  border-radius: 4px;
  background: white;
  transition: box-shadow 0.2s ease;
  width: 400px;
  display: inline-block;
  height: 48px;
}
.paymentForm.v-form {
  max-width: 352px;
}
</style>
