<template>
  <v-form
    class="paymentForm"
    v-model="valid"
    ref="form"
    lazy-validation
    v-show="show"
  >
    <v-alert dense outlined type="error" v-if="serverError">
      {{ serverError }}
    </v-alert>
    <payment-select ref="paymentSelect" @input="cardSelected" />
    <v-btn
      v-if="!hideSubmit"
      :loading="loading"
      :disabled="!valid || disableSubmit"
      class="mt-4"
      type="submit"
      depressed
      color="primary"
      >Confirm Payment</v-btn
    >
    <v-btn
      v-if="requiresPaymentMethod"
      :loading="loading"
      :disabled="!valid || disableSubmit"
      class="mt-4"
      depressed
      color="primary"
      @click="submit"
      >Confirm Payment</v-btn
    >
  </v-form>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop, Ref } from "vue-property-decorator";
// import { StripeElementCard } from "vue-stripe";
import { Stripe, StripeCardElement } from "@stripe/stripe-js";
import { Rules } from "@/types/InputRules";
import { dispatch } from "@/services/Dispatch";
import {
  CardDetails,
  ChargeRequest,
  PaymentAction,
} from "@/types/paymentTypes";
import PaymentSelect from "@/components/PaymentSelect.vue";

@Component({
  components: {
    PaymentSelect,
    // StripeElementCard,
  },
})
export default class Payment extends Vue {
  // @Ref("stripeElement") readonly cardElement!: StripeCardElement;
  @Prop({ default: false, type: Boolean }) readonly disableSubmit!: boolean;
  @Prop({ default: false, type: Boolean }) readonly hideSubmit!: boolean;
  @Prop({ default: true, type: Boolean }) readonly show!: boolean;
  @Prop({ required: true }) readonly tripID!: string;
  private rules = Rules;
  private readonly pulishableKey = "pk_test";
  private clientSecret = "";
  private stripe!: Stripe;
  private cardElement!: StripeCardElement;
  private valid = false;
  private cardholderName =
    this.$auth.user?.firstName + " " + this.$auth.user?.lastName;
  private cardError = "";
  private serverError = "";
  private loading = false;

  private cards: CardDetails[] = [];
  private requiresPaymentMethod = false;
  private paymentMethodAction?: PaymentAction;
  private selectedPaymentID = "";

  @Ref("paymentSelect") readonly paymentSelect!: PaymentSelect;

  public clearErrors(): void {
    this.paymentSelect.clearErrors();
    this.cardError = "";
    this.serverError = "";
  }

  public cardSelected(selectedCard: CardDetails): void {
    this.$emit("paymentMethodSelected", selectedCard?.id);
  }

  public async submit(): Promise<boolean> {
    this.loading = true;
    if (!this.paymentSelect.selectedCard) {
      const success = await this.paymentSelect.setupCard();
      if (!success) return false;
      if (!this.paymentSelect.selectedCard) return false;
    }

    return this.charge()
      .then((success) => {
        console.log("charge.then: success: " + success);
        if (!success) this.$payment.failed(this.tripID);
        return success;
      })
      .catch((err) => {
        this.loading = false;
        console.error("confirming card setup: " + err);
        this.serverError =
          "Problem confirming card, please try a different card";
        return false;
      });
  }

  public async charge(): Promise<boolean> {
    const paymentMethodId = this.paymentSelect.selectedCard?.id;
    try {
      const resp = await this.$payment.charge(
        new ChargeRequest(this.tripID, paymentMethodId)
      );
      const chargeResponse = resp.data;

      this.loading = false;
      if (chargeResponse.paymentAction) {
        const success = await this.handlePaymentAction(
          chargeResponse.paymentAction
        );
        if (!success) {
          return false;
        }
      }

      this.goToBooked();
      return true;
    } catch (err) {
      console.error("charge: err: " + err);
      if (err.response.status === 409) {
        this.serverError = "This trip is already paid for";
        return false;
      }
      this.serverError = err.response.data.msg;
      return false;
    }
  }

  public async handlePaymentAction(action: PaymentAction): Promise<boolean> {
    console.log("handlePaymentAction: " + action);

    // first handle authentications
    if (!action.requiresPaymentMethod) {
      const authSuccess = await this.confirmCardPayment(action.secret);
      if (!authSuccess) {
        console.error(
          "Failed to authenticate with your credit card company, please try again"
        );

        this.serverError =
          "Failed to authenticate with your credit card company, please try again";
        return false;
      }
      await this.$payment.confirmCharge(this.tripID);
      this.goToBooked();
      return true;
    } else {
      console.error(
        "The last payment attempt has failed or was canceled. You can try paying again with a new credit card"
      );
      this.serverError =
        "The last payment attempt has failed or was canceled. You can try paying again with a new credit card.";
      this.requiresPaymentMethod = true;
      this.paymentMethodAction = action;
      return false;
    }
  }

  public goToBooked(): void {
    dispatch.post("Trip", "booked " + this.tripID);
    this.$router.push({
      name: "Trip",
      params: { id: this.tripID },
    });
  }

  private async confirmCardPayment(secret: string): Promise<boolean> {
    console.log("confirmCardPayment: " + secret);

    try {
      const res = await this.paymentSelect.stripe.confirmCardPayment(secret);
      if (res.error) {
        this.serverError =
          res.error?.message ?? "Server error, please try again later";
        return false;
      }
      return true;
    } catch (err) {
      console.error("unexpected error: " + err);
      return false;
    }
  }

  public onChange(ev: any): void {
    if (ev.error) {
      this.cardError = ev.error.message;
    } else {
      this.cardError = "";
    }
  }
}
</script>

<style lang="scss">
.cardInput {
  box-shadow: 0px 0px 0px 0.5px rgb(50 50 93 / 10%),
    0px 2px 5px 0px rgb(50 50 93 / 10%), 0px 1px 1.5px 0px rgb(0 0 0 / 7%);
  border-radius: 4px;
  background: white;
  transition: box-shadow 0.2s ease;
  width: 400px;
  display: inline-block;
  height: 48px;
}
.paymentForm.v-form {
  max-width: 352px;
}
</style>
