<template>
  <div
    class="price mx-auto"
    :style="{
      '--size': size,
      '--weight': weight,
      '--color': color,
    }"
  >
    <span class="headline fullPrice" v-if="fullPrice && price != fullPrice"
      >${{ fullPrice / 100 }}</span
    >
    <span class="headline finalPrice"> ${{ price / 100 }}</span>
    <span v-if="perDia" class="headline postfix"> / day</span>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";

@Component
export default class PriceLabel extends Vue {
  @Prop({ default: "1rem" }) readonly size!: string;
  @Prop({ default: 600 }) readonly weight!: number;
  @Prop({ default: "rgb(20, 20, 20)" }) readonly color!: number;

  @Prop({ default: true, type: Boolean }) readonly perDia!: boolean;
  @Prop({ required: true }) readonly price!: number;
  @Prop({ default: 0 }) readonly fullPrice!: number;
}
</script>

<style lang="scss">
.price {
  color: var(--color);
  .postfix {
    font-size: var(--size) !important;
    font-weight: calc(var(--weight) - 200);
  }

  .finalPrice {
    font-size: calc(var(--size) * 1.5) !important;
    font-weight: var(--weight);
  }

  .fullPrice {
    font-size: calc(var(--size) * 1.25) !important;
    // color: rgb(137, 137, 137);
    opacity: 0.5;
    text-decoration: line-through;
    font-weight: calc(var(--weight) - 100);
  }
}
</style>
