<template>
  <div class="wrapper">
    <div :class="{ content: 'content', expanded: expanded }">
      <slot></slot>
      <div v-if="!noMore" :class="{ fade: !expanded }"></div>
    </div>
    <v-btn
      v-if="!noMore"
      text
      outlined
      @click="toggle"
      class="text-capitalize"
      >{{ toggleText }}</v-btn
    >
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";

@Component
export default class ShowHide extends Vue {
  private expanded = false;
  private readonly fadeHeight = 64;
  private noMore = true;

  mounted(): void {
    this.calculateHeight();
  }

  updated(): void {
    this.calculateHeight();
  }

  get toggleText(): string {
    return this.expanded ? "Less" : "More";
  }

  public toggle(): void {
    this.expanded = !this.expanded;
  }

  private calculateHeight(): void {
    const defaultSlots = this.$slots["default"];
    const slot = defaultSlots?.[0];
    if (!slot) return;
    const div = slot?.elm as HTMLDivElement;

    if (div.clientHeight > this.fadeHeight) this.noMore = false;
  }
}
</script>

<style lang="scss">
.content {
  max-height: 96px;
  position: relative;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  &.expanded {
    max-height: none;
  }
}

.fade {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  margin: 0px;
  height: 4em;
  background: linear-gradient(0deg, white, rgba(255, 255, 255, 0));
}

button.btn {
  text-transform: unset !important;
}
</style>
