<template>
  <div>
    <div class="text-h4 pt-4">Refundable deposit</div>
    <div>
      We require a security deposit for this trip, We'll issue a full refund
      after the trip ends without incident
    </div>
    <div></div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";

@Component({
  components: {},
})
export default class PriceDetails extends Vue {}
</script>

<style lang="scss">
.v-application {
  .text-h4 {
    font-weight: 500;
    opacity: 0.7;
  }
  .text-h6 {
    font-weight: 400;
    opacity: 0.7;
  }
}
</style>
