<template>
  <v-form ref="form" @submit.prevent="addIncidental" :disabled="disabled">
    <v-row align="center">
      <v-col cols="3">
        <price-input
          v-model="incidental.amount"
          label="Manual Charge"
          :rules="[
            rules.rangeRule(minIncidentalCharge, maxIncidentalCharge, true),
          ]"
          :error-messages="amountError"
        />
        <!-- <v-text-field
          v-model.number="incidental.amount"
          type="tel"
          prefix="$"
          
          
          
        ></v-text-field> -->
      </v-col>
      <v-col cols="5">
        <v-combobox
          v-model="incidental.description"
          :items="predefined"
          :rules="[rules.notEmptyRule]"
          label="Description"
        ></v-combobox>
      </v-col>
      <v-col cols="4">
        <v-btn
          depressed
          block
          color="error"
          @click="addIncidental(incidental)"
          :disabled="disabled"
          >Add</v-btn
        >
      </v-col>
    </v-row>
  </v-form>
</template>

<script lang="ts">
import { Rules } from "@/types/InputRules";
import { Incidental, IncidentalCause } from "@/types/TripTypes";
import Vue from "vue";
import { mask } from "vue-the-mask";
import { Component, Ref, Prop } from "vue-property-decorator";
import PriceInput from "@/components/price/PriceInput.vue";

@Component({
  components: {
    PriceInput,
  },
  directives: {
    mask,
  },
})
export default class IncidentalInput extends Vue {
  private rules = Rules;
  private incidental = new Incidental(IncidentalCause.Manual);
  private maxIncidentalCharge = Incidental.maxIncidentalCharge;
  private minIncidentalCharge = 1;
  private amountError = "";
  private descError = "";
  private predefined = [
    "Exterior Damage",
    "Exterior Cleaning",
    "Interior Damage",
    "Interior Cleaning",
  ];
  @Prop({ default: false, type: Boolean }) readonly disabled!: boolean;

  @Ref("form") readonly form!: HTMLFormElement;
  public addIncidental(): void {
    if (!this.form.validate()) {
      return;
    }
    this.$emit("input", this.incidental);
    this.incidental = new Incidental(IncidentalCause.Manual);
    this.form.resetValidation();
  }
}
</script>

<style lang="scss"></style>
