<template>
  <div>
    <v-chip
      class="mt-2 ml-2"
      v-for="incidental in value"
      :key="incidental.id"
      close
      color="primary"
      @click:close="removeIncidental(incidental)"
      :disabled="disabled"
      >{{ incidental.label }}</v-chip
    >
    <div v-if="value.length > 0">Total: ${{ totalFees / 100 }}</div>
    <v-alert dense outlined type="error" v-if="totalFees > maxIncidentalCharge">
      Total is larger then deposit, only ${{ maxIncidentalCharge / 100 }} can be
      charged
    </v-alert>
  </div>
</template>

<script lang="ts">
import { Incidental } from "@/types/TripTypes";
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";

@Component
export default class IncidentalChips extends Vue {
  @Prop({ default: () => [] }) readonly value!: Incidental[];
  @Prop({ default: false, type: Boolean }) readonly disabled!: boolean;
  private readonly maxIncidentalCharge = Incidental.maxIncidentalCharge;

  public removeIncidental(incidental: Incidental): void {
    const updated = this.value.slice();
    const index = updated.findIndex((v) => v.id === incidental.id);
    if (index === -1) return;
    updated.splice(index, 1);
    this.$emit("input", updated);
  }

  get totalFees(): number {
    return this.value.map((_) => _.amount).reduce((sum, v) => sum + v, 0);
  }
}
</script>

<style lang="scss"></style>
