<template>
  <div v-if="inspection" class="mt-4">
    <span class="mx-auto text-h6">Incidental Charges</span>
    <div v-for="incidental in inspection.incidentals" :key="incidental.id">
      <price-details-line
        class="mt-0"
        :title="incidental.description"
        :amount="incidental.amount"
        compact
      />
    </div>
    <price-details-line
      class="mt-2"
      title="Total Charges"
      :amount="totalFees"
      total
      compact
    />
  </div>
</template>

<script lang="ts">
import { Trip, TripInspection, TripInspectionType } from "@/types/TripTypes";
import Vue from "vue";
import { Component, Prop, Watch } from "vue-property-decorator";
import PriceDetailsLine from "@/components/trips/PriceDetailsLine.vue";

@Component({
  components: {
    PriceDetailsLine,
  },
})
export default class IncidentalDetails extends Vue {
  @Prop({}) trip!: Trip;
  private inspection: TripInspection | null = null;

  created(): void {
    this.fetchInspection();
  }

  @Watch("trip")
  private fetchInspection(): void {
    if (this.trip.postInspected)
      this.$trips
        .getInspection(this.trip.id, TripInspectionType.Post)
        .then((resp) => {
          this.inspection = resp.data;
        });
  }

  get totalFees(): number | undefined {
    return this.inspection?.incidentals
      .map((_) => _.amount)
      .reduce((sum, v) => sum + v, 0);
  }
}
</script>

<style lang="scss"></style>
