<template>
  <div>
    <v-skeleton-loader
      v-if="price.basePrice == 0"
      class="mx-auto"
      type="paragraph,sentences"
    ></v-skeleton-loader>
    <v-container class="pa-0" v-else>
      <trip-refundable :dates="dates" />
      <div>
        <price-details-line
          :title="'$' + car.formattedPrice + ' X ' + tripLength + ' days'"
          :amount="car.price * tripLength"
          compact
        />
      </div>
      <div v-if="insurance && nonFreeInsurance">
        <price-details-line
          :title="insurance.type + ' protection'"
          :amount="insurance.cost * tripLength"
          compact
        />
      </div>
      <div>
        <price-details-line
          :title="totalIncludedMiles + ' Included miles (for trip)'"
          :amount="0"
          discount
          compact
        />
      </div>
      <div v-for="discount in price.discounts" :key="discount.title">
        <price-details-line
          :title="discount.title"
          :amount="discount.amount"
          discount
          compact
        />
      </div>
      <price-details-line
        title="Sales Tax (9.5%)"
        :amount="price.tax"
        compact
      />
      <price-details-line
        title="Refundable deposit"
        :amount="price.deposit"
        compact
        tooltip
        @click="refundModel = true"
      />
      <price-details-line
        class="mt-3"
        :title="tripTotalLabel"
        :amount="price.total"
        total
        compact
      />
      <price-details-line
        v-if="updateFee > 0"
        title="Update Fee (subtracted from refund)"
        :amount="updateFee"
        compact
      />
      <v-dialog v-model="refundModel" max-width="600">
        <v-card>
          <v-card-text>
            <deposit-details />
          </v-card-text>
        </v-card>
      </v-dialog>
    </v-container>
  </div>
</template>

<script lang="ts">
import { DateRange } from "@/helpers/Utils";
import { Trip, TripPrice } from "@/types/TripTypes";
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import PriceDetailsLine from "@/components/trips/PriceDetailsLine.vue";
import { Car, Insurance, InsuranceOption } from "@/types/CarTypes";
import PriceLabel from "@/components/PriceLabel.vue";
import TripRefundable from "@/components/trips/TripRefundable.vue";
import DepositDetails from "@/components/trips/DepositDetails.vue";

@Component({
  components: {
    PriceDetailsLine,
    PriceLabel,
    TripRefundable,
    DepositDetails,
  },
})
export default class PriceDetails extends Vue {
  @Prop({ required: true }) dates!: DateRange;
  @Prop({ default: undefined }) readonly insurance?: InsuranceOption;
  @Prop() readonly price!: TripPrice;
  @Prop({ required: true }) car!: Car;
  @Prop({ required: true }) trip!: Trip;

  private refundModel = false;

  get updateFee(): number {
    return this.trip.updateFee(this.car.price);
  }

  get finalPrice(): number {
    return this.price.basePrice - this.price.discount + this.insuranceCost;
  }

  get tripTotalLabel(): string {
    return this.insurance ? "Trip total" : "Estimated trip total";
  }

  get insuranceCost(): number {
    if (!this.insurance) return 0;
    return this.insurance.cost * this.tripLength;
  }

  get nonFreeInsurance(): boolean {
    return this.insurance?.type != Insurance.none;
  }

  get priceForTrip(): number {
    return this.finalPrice;
  }

  get tripLength(): number {
    return this.dates ? this.dates.tripLength() : 0;
  }

  get totalIncludedMiles(): number {
    return this.car.includedMiles * this.tripLength;
  }
}
</script>

<style lang="scss">
.linkForTotal {
  text-decoration: underline;
  font-size: 0.9rem;
}
.text-h7 {
  font-weight: 500;
}
// .price {
//   color: rgb(20, 20, 20);
//   .postfix {
//     font-size: 1rem !important;
//     font-weight: 600;
//   }

//   .finalPrice {
//     font-weight: 600;
//   }

//   .fullPrice {
//     font-size: 1.25rem !important;
//     color: rgb(137, 137, 137);
//     text-decoration: line-through;
//     font-weight: 500;
//   }
// }
.v-list-item__subtitle {
  white-space: normal;
}
</style>
