<template>
  <v-row
    @click="$emit('click', $event)"
    class="mr-0"
    :class="{
      discount: discount,
      total: total,
      perDia: perDia,
      'ma-2': !compact,
    }"
  >
    <v-col
      >{{ title }}
      <v-icon class="ml-2" color="gray" v-if="tooltip">
        mdi-information-outline
      </v-icon></v-col
    >
    <v-col cols="4" class="mr-auto text-end pr-0">
      <span :class="{ discount: discount, total: total, perDia: perDia }">
        {{ sign }}{{ formattedAmount }}<span v-if="perDia">/day</span>
      </span>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";

@Component
export default class PriceDetailsLine extends Vue {
  @Prop() readonly title!: string;
  @Prop() readonly amount!: number;
  @Prop({ default: false, type: Boolean }) readonly compact!: boolean;
  @Prop({ default: false, type: Boolean }) readonly discount!: boolean;
  @Prop({ default: false, type: Boolean }) readonly total!: boolean;
  @Prop({ default: false, type: Boolean }) readonly perDia!: boolean;
  @Prop({ default: false, type: Boolean }) readonly tooltip!: boolean;

  get sign(): string {
    return this.discount && !this.compact ? "-" : "";
  }

  get formattedAmount(): string {
    if (this.amount == 0) return "FREE";
    return "$" + this.amount / 100;
  }
}
</script>

<style lang="scss">
.row.total {
  font-weight: 500;
  color: black;
}
span.discount {
  color: green;
}
</style>
