<template>
  <div>
    <div class="text-h6">Protection</div>
    <v-radio-group :value="value" @change="$emit('input', $event)">
      <v-radio v-for="opt in insuranceOptions" :key="opt.type" :value="opt">
        <template v-slot:label>
          <div>
            {{ opt.type }} -
            <price-label
              size="0.75rem"
              color="rgba(0, 0, 0, 0.6)"
              weight="500"
              style="display: inline-block"
              :price="opt.cost"
            />

            <v-tooltip right>
              <template v-slot:activator="{ on, attrs }">
                <v-icon class="ml-2" color="gray" v-bind="attrs" v-on="on">
                  mdi-information-outline
                </v-icon>
              </template>
              <span>{{ infoForInsurance(opt) }}</span>
            </v-tooltip>
          </div>
        </template>
      </v-radio>
    </v-radio-group>
  </div>
</template>

<script lang="ts">
import {
  Insurance,
  InsuranceCost,
  InsuranceCosts,
  InsuranceOption,
} from "@/types/CarTypes";
import Vue from "vue";
import { Component, Prop, Watch } from "vue-property-decorator";
import PriceLabel from "@/components/PriceLabel.vue";
import { CommonTexts } from "@/types/TextTypes";

@Component({
  components: {
    PriceLabel,
  },
})
export default class ProtectionSelection extends Vue {
  @Prop() readonly value?: InsuranceOption;
  @Prop({ required: true }) readonly insuranceCosts!: InsuranceCosts;
  @Prop() readonly selectedProtectionType!: Insurance;

  private insuranceOptions: InsuranceOption[] = [];
  private texts = new CommonTexts();

  created(): void {
    this.$text.getCommons().then((commons) => (this.texts = commons.data));
  }

  @Watch("selectedProtectionType")
  selectedProtectionTypeChanged(): void {
    const option = this.insuranceOptions.find(
      (_) => _.type === this.selectedProtectionType
    );
    if (option) this.$emit("input", option);
  }

  @Watch("insuranceCosts")
  insuranceCostsChanged(): void {
    const insurance = this.insuranceForAge;
    this.insuranceOptions = [
      new InsuranceOption(
        Insurance.standard,
        insurance.standard + insurance.minimal
      ),
      new InsuranceOption(Insurance.minimal, insurance.minimal),
      new InsuranceOption(Insurance.none, 0),
    ];
    this.selectedProtectionTypeChanged();
  }

  get insuranceForAge(): InsuranceCost {
    if (this.$auth.user?.youngDriver()) return this.insuranceCosts.young;
    return this.insuranceCosts.adult;
  }

  public infoForInsurance(insurance: InsuranceOption): string {
    switch (insurance.type) {
      case Insurance.standard:
        return this.texts.protectionFullTooltip;
      case Insurance.minimal:
        return this.texts.protectionPartialTooltip;
      case Insurance.none:
        return this.texts.protectionWaiverTooltip;
    }
    return "";
  }
}
</script>

<style lang="scss"></style>
