<template>
  <div>
    <v-alert dense outlined type="error" v-if="serverError">
      Problem getting trips, please try again in a few minutes.
    </v-alert>

    <div v-if="!ready && !serverError">
      <v-skeleton-loader
        type="list-item-avatar-three-line"
        v-for="i in 3"
        :key="i"
      ></v-skeleton-loader>
    </div>
    <div v-else>
      <div
        class="clickable"
        v-for="carTrip in carTrips"
        :key="carTrip.trip.id"
        @click="goToTrip(carTrip)"
      >
        <v-divider></v-divider>
        <trip-card :trip="carTrip.trip" :car="carTrip.car" />
      </div>

      <div v-if="carTrips.length == 0">
        <v-row justify="center" class="pt-0 pt-sm-10 pb-0 pb-sm-2">
          <v-col cols="12" sm="8" md="6" lg="4">
            <v-card>
              <v-card-title class="text-h4">No trips yet</v-card-title>
              <v-card-text>
                <div class="text-h6">Search for your next rental now</div>
                <search-box
                  class="mt-4"
                  redirect
                  :compact="false"
                  opens="right"
                />
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import TripCard from "@/components/trips/TripCard.vue";
import { CarTrip } from "@/types/TripTypes";
import SearchBox from "@/components/search/SearchBox.vue";

@Component({
  components: {
    TripCard,
    SearchBox,
  },
})
export default class TripList extends Vue {
  @Prop({ default: false, type: Boolean }) readonly history!: boolean;
  private carTrips: CarTrip[] = [];
  private serverError = false;
  private ready = false;

  created(): void {
    this.fetchData().catch(() => {
      this.serverError = true;
    });
  }

  public goToTrip(carTrip: CarTrip): void {
    const path = carTrip.trip.canceled
      ? "Trip"
      : carTrip.trip.booked
      ? "Trip"
      : "Book";

    this.$router.push({ name: path, params: { id: carTrip.trip.id } });
  }

  private async fetchData() {
    const trips = (await this.$trips.userTrips(this.history)).data;
    const carTrips = await this.$cars.getListingsForTrips(trips);
    const paymentRequiredTrips = carTrips.filter((_) => !_.trip.booked);
    const bookedTrips = carTrips.filter((_) => _.trip.booked);
    this.carTrips = [...paymentRequiredTrips, ...bookedTrips];
    this.ready = true;
  }
}
</script>

<style lang="scss">
.clickable {
  cursor: pointer;
  &:hover {
    background-color: rgb(240, 240, 240);
    .v-card {
      background-color: rgb(240, 240, 240);
    }
  }
}
</style>
