<template>
  <div>
    <trip-calculator
      v-show="showCalculator"
      v-model="totalPrice"
      :tripID="tripID"
      :vin="car.vin"
      :dates="dates"
      :car="car"
      :insurance="insurance"
      :showPriceChange="showPriceChange"
      @priceUpdate="tripPriceUpdate"
      @available="available = $event"
      @priceDiff="$emit('priceDiff', $event)"
    >
    </trip-calculator>
    <v-divider class="mt-4" v-if="showDates"></v-divider>
    <car-date-range-picker
      v-if="showDates"
      :vin="car.vin"
      class="mt-4"
      v-model="dates"
      :opens="opens"
    ></car-date-range-picker>
    <v-alert
      colored-border
      border="left"
      class="unavailableMessage mt-4"
      dense
      type="error"
      v-if="!available"
    >
      The car isn’t available for this trip
    </v-alert>

    <div class="discounts pa-4 mt-4" v-if="price.discounts.length > 0">
      <div v-for="discount in price.discounts" :key="discount.title">
        <price-details-line
          :title="discount.title"
          :amount="discount.amount"
          discount
          :compact="true"
        >
        </price-details-line>
      </div>
    </div>

    <!-- TODO disable button until we have a valid request (e.g. price != 0) -->
    <v-btn
      v-if="showDates"
      class="mt-4"
      :loading="booking"
      :disabled="!bookable"
      depressed
      block
      color="primary"
      @click="book"
      >{{ submitLabel }}
    </v-btn>

    <div v-if="expanded">
      <v-divider class="mt-4"></v-divider>
      <trip-refundable :dates="dates" />
      <v-divider />
      <v-list-item class="pa-0">
        <v-list-item-content>
          <v-list-item-title>Distance Included</v-list-item-title>
          <v-list-item-subtitle>
            ${{ car.displayDistanceOverageFee }}/mi overage fee
          </v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-action>
          <v-list-item-action-text
            >{{ totalIncludedMiles }} mi</v-list-item-action-text
          >
          <v-spacer />
        </v-list-item-action>
      </v-list-item>
      <v-divider></v-divider>
    </div>
  </div>
</template>

<script lang="ts">
import { DateRange } from "@/helpers/Utils";
import { Car, InsuranceOption } from "@/types/CarTypes";
import Vue from "vue";
import { Component, Prop, Watch } from "vue-property-decorator";
import CarDateRangePicker from "@/components/search/CarDateRangePicker.vue";
import TripCalculator from "@/components/trips/TripCalculator.vue";
import { TripPrice, TripRequest } from "@/types/TripTypes";
import PriceDetailsLine from "@/components/trips/PriceDetailsLine.vue";
import TripRefundable from "@/components/trips/TripRefundable.vue";
import { Auth } from "@/services/auth";
import { bus } from "@/EventBus";

@Component({
  components: {
    CarDateRangePicker,
    TripCalculator,
    PriceDetailsLine,
    TripRefundable,
  },
})
export default class TripInfo extends Vue {
  @Prop() readonly value!: number;
  @Prop({ required: true }) car!: Car;
  @Prop() startDates!: DateRange;
  @Prop({ default: "left" }) readonly opens!: string;
  @Prop({ default: true, type: Boolean }) readonly expanded!: boolean;
  @Prop({ default: true, type: Boolean }) readonly showDates!: boolean;
  @Prop({ default: true, type: Boolean }) readonly showCalculator!: boolean;
  @Prop({ default: false, type: Boolean }) showPriceChange!: boolean;
  @Prop({ default: "book now" }) readonly submitLabel!: string;
  @Prop({ default: undefined }) readonly tripID?: string;
  @Prop({ default: undefined }) readonly insurance?: InsuranceOption;

  private totalPrice = 0;
  private dates = this.startDates;
  private price = new TripPrice(this.car.price);
  private available = true;
  private bookedDates: DateRange[] = [];
  private booking = false;

  @Watch("startDates")
  public datesUpdate(newVal: DateRange): void {
    this.dates = newVal;
  }

  get totalIncludedMiles(): number {
    return this.car.includedMiles * this.tripLength;
  }

  get tripLength(): number {
    return this.dates.tripLength();
  }

  get bookable(): boolean {
    return this.available && this.price.basePrice != 0;
  }

  @Watch("totalPrice")
  public priceUpdate(newVal: number): void {
    console.log("Info: PriceUpdate: " + newVal);

    this.$emit("input", newVal);
  }

  public tripPriceUpdate(tripPrice: TripPrice): void {
    this.price = tripPrice;
    this.$emit("tripPriceUpdate", this.price);
  }

  public book(): void {
    if (!Auth.isLoggedIn()) {
      bus.$emit("login", this.book);
      return;
    }
    this.booking = true;
    if (!Auth.isApproved()) {
      this.$router.push({
        name: "Approval",
        query: { redirect: this.$route.fullPath },
      });
      return;
    }
    const trip = new TripRequest();
    trip.vin = this.car.vin;
    trip.startDate = this.dates.startDate.unix();
    trip.endDate = this.dates.endDate.unix();
    trip.price = this.price.basePrice;

    this.$trips
      .request(trip)
      .then((resp) => {
        this.$cache.cacheTrip(resp.data);
        this.$router.push({
          name: "Book",
          params: { id: resp.data.id },
        });
      })
      .catch(() => {
        this.available = false;
      })
      .finally(() => (this.booking = false));
  }
}
</script>

<style lang="scss">
.sidebar {
  max-width: 15rem;
}
.unavailableMessage {
  font-size: 0.8rem;
}
.discounts {
  font-weight: 400;
  font-size: 0.9rem;
  border-radius: 8px;
  background-color: rgb(238, 236, 236);
  border-color: rgb(220, 220, 228);
  border-style: solid;
  border-width: 1px;
}
.v-list-item__action-text {
  font-size: 1rem;
}
</style>
