<template>
  <div class="tripCard" @click="$emit('click')">
    <v-skeleton-loader
      v-if="!ready"
      type="list-item-avatar-three-line"
    ></v-skeleton-loader>
    <v-card flat v-else>
      <v-card-text class="pa-0">
        <v-list-item
          three-line
          id="listItem"
          :class="{ canceled: trip.canceled }"
        >
          <v-list-item-avatar tile size="80" color="grey">
            <lazy-car-img :src="car.imageURL" :vin="car.vin" />
          </v-list-item-avatar>
          <v-list-item-content>
            <div class="overline">
              {{ car.title }}
            </div>
            <div class="requires_payment" v-if="!editable && !trip.booked">
              <v-icon size="17" color="error">mdi-alert</v-icon>
              Payment required
            </div>
            <div class="requires_payment" v-if="!editable && trip.canceled">
              <v-icon size="17" color="error">mdi-alert</v-icon>
              Trip Canceled
            </div>
            <v-list-item-title class="text-subtitle-2">
              {{ tripFormat }}
            </v-list-item-title>
            <v-list-item-subtitle
              >Pickup location: 600S Spring St.
            </v-list-item-subtitle>
          </v-list-item-content>
          <!-- <v-list-item-action class="mt-9">
            <v-icon @click="$emit('editDates')" size="17" v-if="editable"
              >mdi-pencil</v-icon
            >
          </v-list-item-action> -->
        </v-list-item>
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import { CarListing } from "@/types/CarTypes";
import { Trip } from "@/types/TripTypes";
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { formatDate } from "@/helpers/Utils";
import LazyCarImg from "@/components/image/LazyCarImg.vue";

@Component({
  components: {
    LazyCarImg,
  },
})
export default class TripCard extends Vue {
  @Prop({ required: true }) readonly car!: CarListing;
  @Prop({ required: true }) readonly trip!: Trip;
  @Prop({ default: false, type: Boolean }) readonly editable!: boolean;

  get tripFormat(): string {
    return (
      this.dateFormat(this.trip.startDate) +
      " - " +
      this.dateFormat(this.trip.endDate)
    );
  }

  get ready(): boolean {
    if (this.car.vin && this.trip.id) return true;
    return false;
  }

  private dateFormat(date: number): string {
    return formatDate(new Date(date * 1000), true, true);
  }
}
</script>

<style lang="scss">
.tripCard {
  max-height: 112px;
  max-width: 400px;
}

.v-application .overline {
  line-height: 1.1;
  margin-top: -3px;
}

.requires_payment {
  padding-top: 2px;
  height: 28px;
  margin-bottom: 0;
  padding-bottom: 2px;
}

#listItem.canceled {
  text-decoration: line-through;
  opacity: 0.65;
}
</style>
