<template>
  <v-autocomplete
    :value="value"
    :items="items"
    :rules="[rules.notEmptyRule]"
    item-text="searchable"
    item-value="id"
    label="Trip Type"
    @input="$emit('input', $event)"
  >
  </v-autocomplete>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { Rules } from "@/types/InputRules";
import { TripType } from "@/types/TripTypes";

@Component
export default class TripTypeSelector extends Vue {
  private readonly rules = Rules;
  @Prop({ required: true, default: "" }) value!: string;
  private items: string[] = Object.values(TripType);
}
</script>

<style lang="scss"></style>
