<template>
  <div v-if="refundable">
    <v-list-item class="pa-0">
      <!-- <v-list-item-avatar class="mr-0">
          <v-icon>mdi-thumb-up-outline</v-icon>
        </v-list-item-avatar> -->
      <v-list-item-content>
        <v-list-item-title>Free cancellation</v-list-item-title>

        <v-list-item-subtitle>
          Before {{ refundDateFormatted }}
        </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
  </div>
</template>

<script lang="ts">
import { DateRange, formatTime } from "@/helpers/Utils";
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import CarDateRangePicker from "@/components/search/CarDateRangePicker.vue";
import TripCalculator from "@/components/trips/TripCalculator.vue";
import PriceDetailsLine from "@/components/trips/PriceDetailsLine.vue";
import { Time } from "@/helpers/Utils";

import dayjs from "dayjs";

@Component({
  components: {
    CarDateRangePicker,
    TripCalculator,
    PriceDetailsLine,
  },
})
export default class TripInfo extends Vue {
  @Prop({ required: true }) dates!: DateRange;

  get refundDate(): Time {
    if (!this.dates) return dayjs();
    const refundDaysBefore = 1;
    return this.dates.startDate.subtract(refundDaysBefore, "day");
  }

  get refundDateFormatted(): string {
    return formatTime(this.refundDate, true, true);
  }

  get refundable(): boolean {
    return this.refundDate.diff(dayjs(), "day") > 0;
  }
}
</script>

<style lang="scss"></style>
