<template>
  <div>
    <v-skeleton-loader
      v-if="loading"
      class="mx-auto"
      type="list-item-two-line"
    ></v-skeleton-loader>
    <v-container class="pa-0" v-else>
      <price-label :price="car.price" :fullPrice="fullPrice" />
      <!-- <div class="price mx-auto">
        <span class="headline fullPrice" v-if="car.price != fullPrice"
          >${{ fullPrice }}</span
        >
        <span class="headline finalPrice"> ${{ car.price }}</span>
        <span class="headline postfix">/day</span>
      </div> -->
      <div class="mx-auto" v-if="priceForTrip != 0">
        <a class="linkForTotal" @click="openDetails">
          ${{ priceForTrip / 100 }} <span v-if="!insurance">est.</span> total
          <span v-if="!insurance">+ fees</span>
        </a>
        <div
          class="priceChange text-caption"
          v-if="showPriceChange && priceChange"
        >
          {{ priceChange }}
        </div>
      </div>
    </v-container>

    <v-dialog v-model="dialog" max-width="600px">
      <v-card>
        <v-card-title class="headline pt-8"> Price Details </v-card-title>

        <v-card-text>
          <div class="text-h7" v-if="!insurance">INCLUDED</div>
          <v-divider class="mt-1" />
          <price-details-line
            :title="tripLength + '-day trip'"
            :amount="car.price"
            perDia
          />
          <div v-if="insurance">
            <v-divider />
            <price-details-line
              title="Protection plan"
              :amount="insurance.cost"
              perDia
            />
          </div>
          <div v-for="discount in price.discounts" :key="discount.title">
            <v-divider />
            <price-details-line
              :title="discount.title"
              :amount="discount.amount"
              discount
            />
          </div>
          <v-divider />
          <price-details-line
            class="mt-3"
            :title="tripTotalLabel"
            :amount="priceForTrip"
            total
          />
          <div v-if="!insurance">
            <div class="text-h7 mt-3">
              NOT YET INCLUDED (APPLIED AT CHECKOUT)
            </div>
            <v-divider class="mt-1" />
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>Protection plan</v-list-item-title>
                <v-list-item-subtitle
                  >Includes physical damage protection options and liability
                  insurance; you’ll select a plan at check
                  out</v-list-item-subtitle
                >
              </v-list-item-content>
            </v-list-item>
          </div>

          <!-- <v-row>
            <v-col>Estimated trip total</v-col>
            <v-col cols="2" class="mr-auto text-end">
              <span class="tripLength"> ${{ priceForTrip }} </span></v-col
            >
          </v-row> -->
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import { DateRange } from "@/helpers/Utils";
import { TripPrice } from "@/types/TripTypes";
import Vue from "vue";
import { Component, Prop, Watch } from "vue-property-decorator";
import PriceDetailsLine from "@/components/trips/PriceDetailsLine.vue";
import { Car, InsuranceOption } from "@/types/CarTypes";
import PriceLabel from "@/components/PriceLabel.vue";

@Component({
  components: {
    PriceDetailsLine,
    PriceLabel,
  },
})
export default class TripCalculator extends Vue {
  @Prop({ required: true }) dates!: DateRange;
  @Prop({ required: true }) vin!: string;
  @Prop({ required: true }) car!: Car;
  @Prop({ required: true }) value!: number;
  @Prop({ default: false, type: Boolean }) showPriceChange!: boolean;
  @Prop({ default: undefined }) readonly tripID?: string;
  @Prop({ default: undefined }) readonly insurance?: InsuranceOption;
  private price: TripPrice = new TripPrice();
  private loading = true;
  private dialog = false;
  private firstPrice = 0;

  created(): void {
    if (this.vin && this.dates && this.dates.startDate) this.calculateTrip();
  }

  @Watch("dates")
  datesChanged(): void {
    this.calculateTrip();
  }

  @Watch("vin")
  vinChanged(v: string): void {
    if (v) this.calculateTrip();
  }

  @Watch("insurance")
  private insuranceChanged(): void {
    this.calculateTrip(); // TODO no need to send request to server
  }

  get finalPrice(): number {
    return this.price.basePrice - this.price.discount + this.insuranceCost;
  }

  get tripTotalLabel(): string {
    return this.insurance ? "Trip total" : "Estimated trip total";
  }

  get priceChange(): string {
    const diff = this.finalPrice - this.firstPrice;
    if (diff == 0) return "";
    const direction = diff > 0 ? "increased" : "decreased";
    return `Total ${direction} from $${this.firstPrice} by $${Math.abs(diff)}`;
  }

  get priceDiff(): number {
    return this.finalPrice - this.firstPrice;
  }

  get insuranceCost(): number {
    if (!this.insurance) return 0;
    return this.insurance.cost * this.tripLength;
  }

  get fullPrice(): number {
    return this.car.price + Math.floor(this.discountPerDay);
  }

  private get discountPerDay(): number {
    return (
      this.price.discounts.map((_) => _.amount).reduce((acc, v) => acc + v, 0) /
      this.tripLength
    );
  }

  get priceForTrip(): number {
    return this.finalPrice;
  }

  get tripLength(): number {
    return this.dates.tripLength();
  }

  public openDetails(): void {
    this.dialog = true;
  }

  private calculateTrip(): void {
    if (!this.vin) return;
    this.loading = true;
    this.$emit("input", 0);
    this.$emit("priceUpdate", new TripPrice());
    this.$trips
      .calculateTrip(this.vin, this.dates, this.tripID, this.insurance?.type)
      .then((resp) => {
        this.price = resp.data;
        this.$emit("available", true);
        this.$emit("priceUpdate", this.price);
        this.$emit("input", this.finalPrice);
        this.$emit("priceDiff", this.priceDiff);
        if (this.firstPrice == 0) this.firstPrice = this.finalPrice;
      })
      .catch((err) => {
        this.price = new TripPrice();
        console.error(`calculating trip price ${err}`);
        this.$emit("available", false);
        this.$emit("input", -1);
      })
      .finally(() => (this.loading = false));
  }
}
</script>

<style lang="scss">
.linkForTotal {
  text-decoration: underline;
  font-size: 0.9rem;
}
.text-h7 {
  font-weight: 500;
}
// .price {
//   color: rgb(20, 20, 20);
//   .postfix {
//     font-size: 1rem !important;
//     font-weight: 600;
//   }

//   .finalPrice {
//     font-weight: 600;
//   }

//   .fullPrice {
//     font-size: 1.25rem !important;
//     color: rgb(137, 137, 137);
//     text-decoration: line-through;
//     font-weight: 500;
//   }
// }
.v-list-item__subtitle {
  white-space: normal;
}
</style>
