<template>
  <v-text-field
    @change="$emit('change', $event)"
    v-model.number="price"
    v-bind="{ ...$attrs }"
    prefix="$"
    type="number"
  />
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop, Watch } from "vue-property-decorator";

@Component
export default class PriceInput extends Vue {
  @Prop({ required: true }) value!: number;
  private price = this.value / 100;

  private notEmptyRule = (v: string): boolean | string => {
    console.log(v);
    return !!v || "Cannot be zero";
  };

  @Watch("value")
  private valueChanged(): void {
    console.log("valueChanged: " + this.value);
    this.price = this.value / 100;
  }

  @Watch("price")
  private priceChanged(): void {
    console.log("priceChanged: " + this.price);
    this.$emit("input", this.price * 100);
  }
}
</script>

<style lang="scss"></style>
