<template>
  <div>
    <v-img
      v-bind="{ ...$props, ...$attrs }"
      :src="src"
      @click="expanded = true"
    />
    <v-dialog
      v-model="expanded"
      max-width="600px"
      @click:outside.prevent.stop="close"
    >
    <v-img :src="src" />
    </v-dialog>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";

@Component
export default class ExpandableImg extends Vue {
  @Prop({ required: true }) readonly src!: string;

  private expanded = false;
  private dialog = false;

  public close(): void {
    this.expanded = false;
  }
}
</script>

<style lang="scss"></style>
