<template>
  <div
    :class="{ draggin: dragginBase }"
    @drop.stop.prevent="handleFileDrop"
    @dragenter="draggin = true"
    @dragover.stop.prevent="draggin = true"
    @dragleave="draggin = false"
  >
    <draggable
      v-model="links"
      :move="canMove"
      group="people"
      @start="draggableActive = true"
      @end="
        draggableActive = false;
        draggin = false;
      "
      class="d-flex flex-row flex-wrap align-center"
    >
      <!-- <transition-group> -->
      <v-col
        cols="3"
        class="d-flex child-flex"
        v-for="image in links"
        :key="image"
        style="position: relative"
      >
        <!-- <v-img :src="image" aspect-ratio="1"> </v-img> -->
        <expandable-img :src="image" aspect-ratio="1" />
        <v-btn
          v-if="!disabled"
          v-show="links.length > 1"
          class="close"
          color="white"
          absolute
          top
          right
          fab
          small
          elevation="0"
          @click="remove(image)"
        >
          <v-icon color="primary">mdi-delete</v-icon>
        </v-btn>
      </v-col>
      <v-col cols="auto" class="mr-auto pa-0">
        <v-container class="pa-0 ma-0">
          <p v-if="links.length == 0 && !compact" class="text-body-1">
            drag and drop images here or click add button
          </p>
          <input
            type="file"
            accept="image/*"
            id="files"
            ref="files"
            multiple
            v-on:change="handleFileSelection()"
          />
          <!-- <v-alert dense outlined type="error"> -->
          <!-- Please add images -->
          <!-- </v-alert> -->
        </v-container>
      </v-col>
      <!-- </transition-group> -->
    </draggable>
    <v-btn
      :class="{ draggin: dragginBase }"
      color="primary"
      right
      fab
      :small="compact"
      @click="add"
      v-if="!disabled"
    >
      <v-icon>mdi-image-plus</v-icon>
    </v-btn>

    <!-- <v-row>
      <v-col cols="auto" class="mr-auto">
        <v-container>
          <input
            type="file"
            accept="image/*"
            id="files"
            ref="files"
            multiple
            v-on:change="handleFileSelection()"
          />
          <v-btn
            :class="{ draggin: dragginBase }"
            color="primary"
            right
            fab
            type="file"
            @click="add"
          >
            <v-icon>mdi-image-plus</v-icon>
          </v-btn>
        </v-container>
      </v-col>
    </v-row> -->

    <v-snackbar v-model="snackbar" timeout="2000">
      Can only upload images

      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          Hide
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop, Ref, Watch } from "vue-property-decorator";
import draggable from "vuedraggable";
import ExpandableImg from "@/components/image/ExpandableImg.vue";

@Component({
  components: {
    draggable,
    ExpandableImg,
  },
})
export default class ImagePicker extends Vue {
  private dragginBase = false;
  private draggableActive = false;
  private snackbar = false;
  private index = 0;
  @Prop({ required: false, default: () => [] }) readonly images!: string[];
  @Prop({ required: false, default: 300 }) readonly height!: number;
  @Prop({ default: false, type: Boolean }) readonly compact!: boolean;
  @Prop({ default: false, type: Boolean }) readonly disabled!: boolean;
  private links: string[] = [];
  private filesToUpload: File[] = [];

  @Watch("images")
  valueChanged(newVal: string[]): void {
    this.links = newVal;
  }

  canMove(): boolean {
    return !this.disabled;
  }

  created(): void {
    this.links = this.images;
  }

  @Watch("links")
  changed(newVal: string[]): void {
    console.log("links newVal: " + newVal);
  }

  set draggin(v: boolean) {
    console.log(
      "dragging set: " + v + " this.draggableActive=" + this.draggableActive
    );
    if (this.draggableActive) this.dragginBase = false;
    else this.dragginBase = v;
  }

  get draggin(): boolean {
    return this.dragginBase;
  }

  private updatedImages(updated: string[]) {
    this.links = updated;
  }

  public remove(link: string): void {
    let updated = [...this.links];
    const index = this.links.indexOf(link);
    updated.splice(index, 1);
    this.updatedImages(updated);
  }

  @Ref("files") readonly files!: HTMLInputElement;
  public add(): void {
    this.files.click();
  }

  public handleFileDrop(e: DragEvent): void {
    if (this.draggableActive) return;
    this.draggin = false;
    this.handleFileSelection(e.dataTransfer?.files);
  }

  public handleFileSelection(_fileList?: FileList): void {
    console.log("handleFileSelection");
    const fileList = _fileList ? _fileList : this.files.files;

    if (!fileList) {
      console.error("no files selected");
      return;
    }

    const urls: string[] = [];
    const files: File[] = [];
    for (var i = 0; i < fileList.length; i++) {
      if (!fileList[i].type.includes("image")) {
        console.log("invlid type, ignoring: " + fileList[i]);
        this.snackbar = true;
        continue;
      }
      urls[i] = URL.createObjectURL(fileList[i]);
      files[i] = fileList[i];
    }

    this.filesToUpload = this.filesToUpload.concat(files);
    this.updatedImages([...this.links, ...urls]);
  }

  public clear(): void {
    this.links = [];
    this.filesToUpload = [];
  }

  get pendingFiles(): File[] {
    return this.filesToUpload;
  }

  get currentImageURLs(): string[] {
    // don't return blob urls, only real image urls
    return this.links.filter((_) => !_.startsWith("blob:"));
  }

  public attemptFileUpload(vin: string): void {
    let formData = new FormData();
    const files = this.filesToUpload;
    if (!files) {
      console.error("no files selected");
      return;
    }

    if (!vin) {
      console.error("no vin yet");
      return;
    }

    for (var i = 0; i < files.length; i++) {
      formData.append("files", files[i]);
    }

    console.log("uploading");

    this.$cars
      .uploadPhotos(vin, formData)
      .then((resp) => {
        resp.data;
      })
      .catch((err) => {
        console.log("FAILURE!! " + err);
      });
  }
}
</script>

<style lang="scss">
.v-btn.draggin {
  transform: rotate(-35deg);
}
input[type="file"] {
  position: absolute;
  top: -500px;
}
.imgContainer {
  height: 50px;
  width: 50px;
}
.v-btn.v-btn--fab.v-btn--absolute.close {
  top: -6px;
  right: -6px;
}
.v-image__image {
  border-radius: 8px;
}
</style>
