<template>
  <v-img v-bind="{ ...$props, ...$attrs }" :src="src" :lazy-src="lazyImage">
  </v-img>
</template>

<script lang="ts">
import { createImageKitUrl } from "@/helpers/Utils";
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";

@Component
export default class LazyCarImg extends Vue {
  @Prop({ required: true }) readonly src!: string;
  @Prop({ required: true }) readonly vin!: string;

  get lazyImage(): string {
    return createImageKitUrl(this.src, this.vin);
  }
}
</script>

<style lang="scss"></style>
