<template>
  <div
    :class="{ draggin: draggin }"
    @drop.stop.prevent="handleFileDrop"
    @dragenter="draggin = true"
    @dragover.stop.prevent="draggin = true"
    @dragleave="draggin = false"
  >
    <v-row v-show="!img" class="mt-3" align="center" justify="center">
      <!-- <v-alert dense outlined type="error"> -->
      <!-- Please add images -->
      <!-- </v-alert> -->
      <span class="text-body-1">drag and drop image here or click to</span>
      <v-btn class="ml-2" color="primary" @click="add"> Choose file </v-btn>
    </v-row>
    <input
      type="file"
      accept="image/*"
      id="files"
      ref="files"
      v-on:change="handleFileSelection()"
    />
    <cropper
      class="cropper"
      :src="img"
      :stencil-props="{ aspectRatio: 16 / 10 }"
      @change="changeCrop"
    ></cropper>

    <v-row v-if="img" class="mt-2">
      <v-col cols="6">
        <v-btn :disabled="saving" block text color="primary" @click="add">
          Choose another image
        </v-btn>
      </v-col>
      <v-col cols="6">
        <v-btn :loading="saving" block color="primary" @click="save">
          Save
        </v-btn>
      </v-col>
    </v-row>

    <v-snackbar v-model="snackbar" timeout="2000">
      Can only upload images

      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          Hide
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop, Ref } from "vue-property-decorator";
import { Cropper } from "vue-advanced-cropper";
import "vue-advanced-cropper/dist/style.css";

@Component({
  components: {
    Cropper,
  },
})
export default class UploadImage extends Vue {
  private snackbar = false;
  private draggin = false;
  private img = "";
  @Prop({ default: false }) readonly saving!: boolean;

  @Ref("files") readonly files!: HTMLInputElement;
  public add(): void {
    this.files.click();
  }

  public handleFileDrop(e: DragEvent): void {
    this.draggin = false;
    this.handleFileSelection(e.dataTransfer?.files);
  }

  private canvas?: HTMLCanvasElement;
  public changeCrop(data: any): void {
    this.canvas = data.canvas;
  }

  public save(): void {
    if (!this.canvas) {
      console.error("saveCrop: no canvas: " + this.canvas);
      return;
    }

    this.canvas.toBlob((blob) => this.$emit("uploaded", blob));
  }

  public handleFileSelection(_fileList?: FileList): void {
    const fileList = _fileList ? _fileList : this.files.files;

    if (!fileList) {
      console.error("no files selected");
      return;
    }

    const file = fileList[0];
    if (!file) {
      console.error("no files selected");
      return;
    }

    if (!file.type.includes("image")) {
      console.log("invlid type, ignoring: " + file);
      this.snackbar = true;
    }

    this.img = URL.createObjectURL(file);
  }
}
</script>

<style lang="scss">
.v-btn.draggin {
  transform: rotate(-35deg);
}
input[type="file"] {
  position: absolute;
  top: -500px;
}
</style>
