<template>
  <v-dialog
    v-model="dialog"
    scrollable
    max-width="600px"
    @click:outside.prevent.stop="close"
  >
    <v-card class="mt-7" max-width="700">
      <v-card-title>
        <h2 class="headline font-weight-bold mb-3">Edit User Details</h2>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-container>
          <v-form
            v-model="valid"
            ref="form"
            lazy-validation
            @submit.prevent="save"
          >
            <v-alert dense outlined type="error" v-if="serverError">{{
              serverError
            }}</v-alert>
            <v-text-field
              v-model="user.id"
              :rules="rules.nameRules"
              label="ID"
              disabled
              required
            ></v-text-field>

            <v-row>
              <v-col cols="6">
                <v-text-field
                  v-model="user.firstName"
                  :rules="rules.nameRules"
                  label="First Name"
                  required
                  :disabled="!canEdit"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  v-model="user.lastName"
                  :rules="rules.nameRules"
                  label="Last Name"
                  required
                  :disabled="!canEdit"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="6">
                <v-text-field
                  v-model="user.phone"
                  :rules="rules.phoneRules"
                  v-mask="'(###)-###-####'"
                  label="Phone"
                  required
                  :disabled="!canEdit"
                ></v-text-field>
              </v-col>
              <v-col cols="6">
                <v-text-field
                  v-model="user.email"
                  :rules="rules.emailRules"
                  label="Email"
                  required
                  :disabled="!canEdit"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="6">
                <birthday-picker
                  required
                  label="Birth date"
                  v-model="user.birthDate"
                  :disabled="!canEdit"
                >
                </birthday-picker>
              </v-col>
            </v-row>

            <v-row>
              <v-col>
                <v-radio-group
                  v-model="user.role"
                  row
                  label="Role"
                  :disabled="!canEdit"
                >
                  <v-radio label="Admin" :value="roles.Admin"></v-radio>
                  <v-radio label="Custodian" :value="roles.Custodian"></v-radio>
                  <v-radio label="User" :value="roles.User"></v-radio>
                </v-radio-group>
              </v-col>
            </v-row>

            <v-container v-if="user.licenseURL && canEdit">
              <v-checkbox
                v-model="user.validLicense"
                required
                label="License Validated"
              >
              </v-checkbox>
              <div>
                <v-btn
                  text
                  :disabled="downloadingLicense"
                  @click="streamLicense"
                  >Show License</v-btn
                >
              </div>
            </v-container>
            <transition name="fade">
              <v-progress-linear
                v-if="downloadingLicense"
                buffer-value="0"
                color="orange"
                stream
                :value="progress"
              ></v-progress-linear>
            </transition>

            <v-img v-if="showLicense" :src="licenseUrl"></v-img>
          </v-form>
        </v-container>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="close" :disabled="saving">Cancel</v-btn>
        <v-btn text @click="save" :loading="saving" v-if="canEdit">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script lang="ts">
import Vue from "vue";
import { Component, Ref } from "vue-property-decorator";
import { User, emptyUser, Role } from "@/types/UserTypes";
import BirthdayPicker from "@/components/BirthdayPicker.vue";
import { Rules } from "@/types/InputRules";
import { mask } from "vue-the-mask";

@Component({
  components: {
    BirthdayPicker,
  },
  directives: {
    mask,
  },
})
export default class AdminUserDetails extends Vue {
  private serverError = "";
  private showLicense = false;
  private valid = false;
  private dialog = false;
  private saving = false;
  private downloadingLicense = false;
  private rules = Rules;
  private licenseUrl = "";
  private progress = 0;
  //   @Prop({ required: false, default: emptyCar }) car?: Car;
  private user = emptyUser();
  private roles = Role;

  get canEdit(): boolean {
    return this.$auth.isAuthorized(Role.Admin);
  }

  public edit(user: User): void {
    this.showLicense = false;
    this.licenseUrl = "";
    this.progress = 0;
    this.user = user;
    this.dialog = true;
  }

  public close(): void {
    this.dialog = false;
    this.serverError = "";
    this.user = emptyUser();
    console.log("close");
  }

  @Ref("form") readonly form!: HTMLFormElement;
  public save(): void {
    const valid = this.form.validate();
    console.log("form: valid: " + valid);
    if (!valid) return;
    if (!this.user) return;

    this.saving = true;
    this.update(this.user)
      .then((resp) => {
        const car = resp.data;
        this.$emit("updated", car);
        this.close();
      })
      .catch(() => {
        this.serverError = "Problem updating user details, try again later";
      })
      .finally(() => (this.saving = false));
  }

  private onStreamProgress(percent: number) {
    this.progress = percent;
  }

  public streamLicense(): void {
    if (this.showLicense) {
      this.showLicense = false;
      return;
    }
    this.downloadingLicense = true;

    this.$auth
      .streamLicense(this.user.id, this.onStreamProgress)
      .then((response) => {
        console.log("response: " + response);
        this.licenseUrl = URL.createObjectURL(response.data);
        this.showLicense = true;
      })
      .catch((err) => {
        console.error("err: " + err);
      })
      .finally(() => (this.downloadingLicense = false));
  }

  private update(user: User) {
    console.log("update");
    return this.$auth.adminUpdateUser(user);
  }
}
</script>
<style lang="scss">
tbody {
  tr {
    cursor: pointer;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
