<template>
  <v-dialog
    v-model="dialog"
    scrollable
    max-width="600px"
    @click:outside.prevent.stop="close"
  >
    <v-card max-width="700">
      <v-card-title>
        <h2 class="headline font-weight-bold mb-3">Edit Car Details</h2>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-container>
          <image-picker
            ref="imagePicker"
            :images="car.imageURLs"
            height="200"
            :disabled="!canEdit"
          ></image-picker>

          <v-form
            v-model="valid"
            ref="form"
            lazy-validation
            :disabled="!canEdit"
            @submit.prevent="save"
          >
            <v-alert dense outlined type="error" v-if="serverError">{{
              serverError
            }}</v-alert>
            <v-row align="center">
              <v-col cols="6"
                ><v-text-field
                  v-model="car.vin"
                  :error-messages="vinError"
                  label="VIN"
                  :disabled="!isNewCar"
                  :rules="rules.vinRules"
                  required
                ></v-text-field
              ></v-col>
              <!-- <v-col cols="2" v-if="isNewCar">
                <v-btn
                  icon
                  @click="fillVinDetails"
                  :loading="fetchingVin"
                  :disabled="!car.vin || car.vin.length != 17"
                >
                  <v-icon>mdi-auto-fix</v-icon>
                </v-btn>
              </v-col> -->

              <v-col cols="6">
                <location-autocomplete v-model="car.locationID" />
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="4">
                <v-text-field
                  v-model="car.make"
                  :rules="rules.nameRules"
                  label="Make"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="car.model"
                  :rules="rules.nameRules"
                  label="Model"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model.number="car.year"
                  :counter="4"
                  type="number"
                  :rules="rules.yearRules"
                  label="Year"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="4">
                <price-input
                  v-model="car.price"
                  label="Price"
                  :rules="[rules.notEmptyRule]"
                />
                <!-- <v-text-field
                  v-model.number="car.price"
                  :rules="[rules.notEmptyRule]"
                  prefix="$"
                  type="number"
                  label="Price"
                  required
                ></v-text-field> -->
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model="car.licensePlate"
                  :rules="rules.nameRules"
                  label="License Plate #"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="4">
                <v-text-field
                  v-model.number="car.miles"
                  :rules="[rules.notEmptyRule]"
                  type="number"
                  label="Current Miles"
                  required
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="3">
                <v-text-field
                  v-model="car.includedMiles"
                  :rules="[rules.notEmptyRule, rules.rangeRule(10, 500)]"
                  type="number"
                  label="Included Miles"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field
                  v-model.number="car.mpg"
                  :rules="[rules.notEmptyRule, rules.rangeRule(1, 200)]"
                  label="MPG"
                  type="number"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field
                  v-model="car.seats"
                  :rules="[rules.notEmptyRule, rules.rangeRule(2, 12)]"
                  type="number"
                  label="Seat #"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="3">
                <v-text-field
                  v-model="car.doors"
                  :rules="[rules.notEmptyRule, rules.rangeRule(2, 6)]"
                  type="number"
                  label="Door #"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="3">
                <price-input
                  v-model="car.insurance.adult.minimal"
                  label="Minimal Insurance"
                  :rules="[rules.notEmptyRule, rules.minRule(1)]"
                />
              </v-col>
              <v-col cols="3">
                <price-input
                  v-model="car.insurance.adult.standard"
                  label="Standard Insurance"
                  :rules="[rules.notEmptyRule, rules.minRule(1)]"
                />
              </v-col>
              <v-col cols="3">
                <price-input
                  v-model="car.insurance.young.minimal"
                  label="Young Minimal"
                  :rules="[rules.notEmptyRule, rules.minRule(1)]"
                />
              </v-col>
              <v-col cols="3">
                <price-input
                  v-model="car.insurance.young.standard"
                  label="Young Standard"
                  :rules="[rules.notEmptyRule, rules.minRule(1)]"
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12">
                <v-textarea
                  v-model="car.description"
                  :rules="[rules.notEmptyRule]"
                  label="Description"
                ></v-textarea>
              </v-col>
            </v-row>

            <v-row>
              <v-col
                v-for="(feature, index) in computedBooleanFeatures"
                :key="index"
              >
                <v-checkbox v-model="car[feature.field]" :label="feature.title">
                </v-checkbox>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="close" :disabled="saving">Cancel</v-btn>
        <v-btn text @click="save" :loading="saving" v-if="canEdit">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script lang="ts">
import Vue from "vue";
import { Component, Ref, Watch } from "vue-property-decorator";
import { Car, carListing, emptyCar, Feature } from "@/types/CarTypes";
import EditableCarousel from "@/components/admin/EditableCarousel.vue";
import ImagePicker from "@/components/image/ImagePicker.vue";
import { Rules } from "@/types/InputRules";
import { VinService } from "@/services/VinService";
import { VinDetails } from "@/types/VinDetails";
import { AxiosError, AxiosResponse } from "axios";
import PriceInput from "@/components/price/PriceInput.vue";
import LocationAutocomplete from "@/components/search/LocationAutocomplete.vue";
import { Role } from "@/types/UserTypes";

@Component({
  components: {
    EditableCarousel,
    ImagePicker,
    PriceInput,
    LocationAutocomplete,
  },
})
export default class AdminCarDetails extends Vue {
  private serverError = "";
  private valid = false;
  private dialog = false;
  private isNewCar = true;
  private saving = false;
  private fetchingVin = false;
  private rules = Rules;
  private vinError = "";
  //   @Prop({ required: false, default: emptyCar }) car?: Car;
  private car = emptyCar();
  @Ref("imagePicker") readonly imagePicker!: ImagePicker;
  private vinService = new VinService(this.$api);

  get computedBooleanFeatures(): Feature[] {
    return this.car.computedBooleanFeatures;
  }

  get computedEditing(): boolean {
    return this.car?.vin != "";
  }

  get canEdit(): boolean {
    if (this.isNewCar) {
      return this.$auth.isAuthorized(Role.Custodian);
    }
    return this.$auth.isAuthorized(Role.Admin);
  }

  public newCar(): void {
    if (this.form) this.form.reset();
    this.isNewCar = true;
    this.dialog = true;
    this.car = emptyCar();
  }

  public edit(car: Car): void {
    this.isNewCar = false;
    this.car = car;
    this.dialog = true;
  }

  public close(): void {
    this.dialog = false;
    this.serverError = "";
    this.vinError = "";
    this.car = emptyCar();
    console.log("close");
  }

  @Watch("car.vin")
  public vinChanged(newVal: string): void {
    if (newVal && newVal.length == 17) {
      this.fillVinDetails();
    }
  }

  public fillVinDetails(): void {
    if (!this.car.vin || this.car.vin.length != 17) return;
    this.fetchingVin = true;
    this.vinError = "";
    this.vinService
      .getDetails(this.car.vin)
      .then((resp) => {
        const results = resp.data.Results;
        const details = results.length > 0 ? results[0] : new VinDetails();
        this.car = this.car.fillDataFromVin(details);
      })
      .catch(() => {
        console.error("fetching vin details");
        this.vinError = "couldn't find vin";
      })
      .finally(() => (this.fetchingVin = false));
  }
  @Ref("form") readonly form!: HTMLFormElement;
  public save(): void {
    const valid = this.form.validate();
    console.log("form: valid: " + valid);
    if (!valid) return;
    if (!this.car) return;

    if (
      this.car.imageURLs.length === 0 &&
      this.imagePicker.pendingFiles.length === 0
    ) {
      this.serverError = "At least one image is required!";
      return;
    }

    this.car.imageURLs = this.imagePicker.currentImageURLs;
    this.serverError = "";

    this.saving = true;
    this.putOrUpdate(this.isNewCar, this.car)
      .then(() => {
        this.uploadCarImages(this.car.vin, this.imagePicker.pendingFiles)
          .then((links) => {
            this.imagePicker.clear();
            this.car.imageURLs = links;

            this.$emit(
              this.isNewCar ? "added" : "updated",
              carListing(this.car)
            );
            this.close();
          })
          .catch((err: AxiosError) => {
            console.error("uploading photos: " + err);
            this.serverError = "Problem uploading images, try again later";
          })
          .finally(() => (this.saving = false));
      })
      .catch((err: AxiosError) => {
        this.saving = false;
        console.error("uploading car: " + err);
        if (err.response?.status === 409)
          this.serverError = "Car with vin " + this.car.vin + " already exists";
      });
  }

  private putOrUpdate(
    isNewCar: boolean,
    car: Car
  ): Promise<AxiosResponse<any>> {
    if (isNewCar) return this.put(car);
    return this.update(car);
  }

  private async uploadCarImages(vin: string, files: File[]) {
    //if no new uploads just keep current images
    if (!files || files.length == 0) return this.car.imageURLs;

    let formData = new FormData();
    files.forEach((file) => formData.append("files", file));

    return this.$cars.uploadPhotos(vin, formData).then((resp) => resp.data);
  }

  private put(car: Car) {
    return this.$cars.add(car);
  }

  private update(car: Car) {
    return this.$cars.update(car);
  }
}
</script>
<style lang="scss">
tbody {
  tr {
    cursor: pointer;
  }
}
</style>
