<template>
  <v-dialog
    v-model="dialog"
    scrollable
    max-width="600px"
    @click:outside.prevent.stop="close"
  >
    <v-card class="mt-7" max-width="700">
      <v-card-title>
        <h2 class="headline font-weight-bold mb-3">Edit Location Details</h2>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-text>
        <v-container>
          <v-form
            v-model="valid"
            ref="form"
            lazy-validation
            @submit.prevent="save"
          >
            <v-alert dense outlined type="error" v-if="serverError">{{
              serverError
            }}</v-alert>
            <v-text-field
              v-model="location.id"
              label="ID"
              disabled
            ></v-text-field>

            <v-row no-gutters>
              <v-col cols="12">
                <v-text-field
                  v-model="location.label"
                  :rules="rules.nameRules"
                  label="Label"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row no-gutters>
              <v-col cols="12">
                <v-text-field
                  v-model="location.address"
                  :rules="rules.nameRules"
                  label="address"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row no-gutters>
              <v-col cols="12">
                <v-textarea
                  rows="3"
                  v-model="location.directions"
                  label="directions"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-form>
        </v-container>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="close" :disabled="saving">Cancel</v-btn>
        <v-btn text @click="save" :loading="saving" v-if="canEdit">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script lang="ts">
import Vue from "vue";
import { Component, Ref } from "vue-property-decorator";
import { Rules } from "@/types/InputRules";
import { Location } from "@/types/LocationTypes";
import { Role } from "@/types/UserTypes";
import { AxiosResponse } from "axios";

@Component({})
export default class AdminUserDetails extends Vue {
  private serverError = "";
  private valid = false;
  private dialog = false;
  private saving = false;
  private downloadingLicense = false;
  private rules = Rules;
  private licenseUrl = "";
  private location = new Location();
  private newLocation = false;

  get canEdit(): boolean {
    return this.$auth.isAuthorized(Role.Admin);
  }

  public edit(location: Location): void {
    this.location = location;
    this.newLocation = false;
    this.dialog = true;
  }

  public add(): void {
    this.location = new Location();
    this.newLocation = true;
    this.dialog = true;
  }

  public close(): void {
    this.dialog = false;
    this.serverError = "";
    this.location = new Location();
    console.log("close");
  }

  @Ref("form") readonly form!: HTMLFormElement;
  public save(): void {
    const valid = this.form.validate();
    console.log("form: valid: " + valid);
    if (!valid) return;
    if (!this.location) return;

    this.saving = true;

    this.putOrUpdate(this.newLocation, this.location)
      .then((resp) => {
        const res = resp.data;
        this.$emit(this.newLocation ? "added" : "updated", res);
        this.close();
      })
      .catch(() => {
        this.serverError =
          "Problem uploading location details, try again later";
      })
      .finally(() => (this.saving = false));
  }

  private putOrUpdate(
    isNewLocation: boolean,
    location: Location
  ): Promise<AxiosResponse<Location>> {
    if (isNewLocation) return this.$locations.add(location);
    return this.$locations.update(location);
  }
}
</script>
<style lang="scss">
tbody {
  tr {
    cursor: pointer;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
