<template>
  <span>
    <v-carousel :height="height" v-model="index">
      <v-carousel-item v-for="image in value" :key="image">
        <v-img :src="image" :height="height"></v-img>
      </v-carousel-item>
      <v-carousel-item v-if="!value || value.length == 0">
        <v-sheet color="success" height="100%">
          <v-row class="fill-height" align="center" justify="center">
            <div class="display-3">No Images yet</div>
          </v-row>
        </v-sheet>
      </v-carousel-item>
    </v-carousel>
    <v-row>
      <v-col cols="auto" class="ml-auto">
        <v-container>
          <v-btn text @click="remove">Remove Image</v-btn>
        </v-container>
      </v-col>
      <v-col cols="auto">
        <v-container>
          <input
            type="file"
            accept="image/*"
            id="files"
            ref="files"
            multiple
            v-on:change="handleFileUpload()"
          />
          <v-btn type="file" text @click="add">Add Image</v-btn>
        </v-container>
      </v-col>
    </v-row>
  </span>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop, Ref, Watch } from "vue-property-decorator";

@Component
export default class extends Vue {
  private index = 0;
  @Prop({ default: "" }) readonly vin!: string;
  @Prop({ required: true, default: () => [] }) readonly value!: string[];
  @Prop({ required: false, default: 300 }) readonly height!: number;

  private updatedImages(updated: string[]) {
    this.$emit("input", updated);
  }

  public remove(): void {
    let updated = [...this.value];
    updated.splice(this.index, 1);
    this.updatedImages(updated);
  }

  @Ref("files") readonly files!: HTMLInputElement;
  public add(): void {
    this.files.click();
  }

  public handleFileSelection() {
    const files = this.files.files;

    if (!files) {
      console.error("no files selected");
      return;
    }

    const urls: string[] = [];
    for (var i = 0; i < files.length; i++) {
      urls[i] = URL.createObjectURL(files[i]);
    }
  }
}
</script>

<style lang="scss">
input[type="file"] {
  position: absolute;
  top: -500px;
}
</style>
