<template>
  <div>
    <user-details ref="userDetails" />
    <v-text-field
      v-model="user.name"
      :rules="rules.nameRules"
      label="User"
      required
      @click="showUser"
    ></v-text-field>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { Component, Ref } from "vue-property-decorator";
import UserDetails from "@/components/admin/AdminUserDetails.vue";
import { User } from "@/types/UserTypes";

@Component({
  components: {
    UserDetails,
  },
})
export default class TripDetails extends Vue {
  @Ref("userDetails") readonly userDetails!: UserDetails;
  private user = new User();

  showUser(): void {
    if (!this.user) {
      console.error("no user to show: " + this.user);
      return;
    }

    this.userDetails.edit(this.user);
  }
}
</script>
<style lang="scss">
tbody {
  tr {
    cursor: pointer;
  }
}
</style>
