<template>
  <div>
    <trip-inspection-details ref="inspectionDialog" disabled />
    <user-details ref="userDetails" />
    <v-dialog
      v-model="dialog"
      scrollable
      max-width="600px"
      @click:outside.prevent.stop="close"
    >
      <v-card max-width="700">
        <v-card-title>
          <h2 class="headline font-weight-bold mb-3">Edit Trip Details</h2>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-container>
            <v-form
              v-model="valid"
              ref="form"
              lazy-validation
              @submit.prevent="save"
            >
              <v-alert dense outlined tripType="error" v-if="serverError">{{
                serverError
              }}</v-alert>
              <v-row>
                <v-col cols="12">
                  <vin-autocomplete v-model="trip.vin" />
                </v-col>
              </v-row>
              <v-row v-if="manual" no-gutters>
                <v-col cols="4">
                  <trip-type-selector v-model="trip.type" />
                </v-col>
              </v-row>
              <v-row v-if="manual" no-gutters>
                <v-col cols="12">
                  <v-textarea
                    v-model="trip.manualDescription"
                    label="Description"
                    rows="2"
                  ></v-textarea>
                </v-col>
              </v-row>
              <v-row no-gutters>
                <v-col cols="10">
                  <car-date-range-picker
                    :vin="trip.vin"
                    :disabledDates="bookedDates"
                    opens="right"
                    inDialogHack
                    v-model="dates"
                    :reflectQuery="false"
                    :compact="false"
                    :disabled="trip.indefinite === true"
                    :required="dateRequired"
                  ></car-date-range-picker>
                </v-col>
                <!-- <v-col cols="2" v-if="isMaintenance">
                <v-checkbox
                  v-model="trip.indefinite"
                  label="Indefinite"
                ></v-checkbox>
              </v-col> -->
              </v-row>
              <v-row v-if="!isMaintenance">
                <v-col cols="4">
                  <price-input
                    v-model="trip.price"
                    label="Price"
                    :rules="[rules.notEmptyRule]"
                  />
                </v-col>
                <v-col cols="4">
                  <v-text-field
                    v-model="carTripUser.user.name"
                    :rules="rules.nameRules"
                    label="User"
                    required
                    @click="showUser"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="6">
                  <v-checkbox v-model="trip.preInspected" label="Pre Inspected">
                    <template v-slot:label>
                      Pre Inspected
                      <v-btn
                        :loading="inspecting"
                        text
                        @click.stop="openPreInspection"
                        >Show</v-btn
                      >
                    </template>
                  </v-checkbox>
                </v-col>
                <v-col cols="6">
                  <v-checkbox
                    v-model="trip.postInspected"
                    label="Post Inspected"
                  >
                    <template v-slot:label>
                      Post Inspected
                      <v-btn
                        :loading="inspecting"
                        text
                        @click.stop="openPostInspection"
                        >Show</v-btn
                      >
                    </template>
                  </v-checkbox>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="close" :disabled="saving">Cancel</v-btn>
          <v-btn text @click="save" :loading="saving">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { Component, Ref } from "vue-property-decorator";
import {
  BaseTrip,
  CarTrip,
  CarTripUser,
  MaintenanceTrip,
  Trip,
  TripInspectionType,
} from "@/types/TripTypes";
import { Rules } from "@/types/InputRules";
import CarDateRangePicker from "@/components/search/CarDateRangePicker.vue";
import { DateRange } from "@/helpers/Utils";
import VinAutocomplete from "@/components/search/VinAutocomplete.vue";
import TripTypeSelector from "@/components/trips/TripTypeSelector.vue";
import TripInspectionDetails from "@/components/admin/TripInspectionDetails.vue";
import PriceInput from "@/components/price/PriceInput.vue";
import UserDetails from "@/components/admin/AdminUserDetails.vue";

export enum TripType {
  Trip,
  TripRequest,
  Maintenance,
}

@Component({
  components: {
    CarDateRangePicker,
    VinAutocomplete,
    TripInspectionDetails,
    PriceInput,
    UserDetails,
    TripTypeSelector,
  },
})
export default class TripDetails extends Vue {
  private serverError = "";
  private valid = false;
  private dialog = false;
  private isNewTrip = true;
  private saving = false;
  private inspecting = false;
  private rules = Rules;
  private trip: BaseTrip = new Trip();
  private tripType = TripType.Trip;
  private bookedDates: DateRange[] = [];
  private dates = new DateRange();
  private carTripUser = new CarTripUser();

  private manual = false;

  public newTrip(): void {
    this.tripType = TripType.Trip;
    this.trip = new Trip();
    this.newBaseTrip();
  }

  public newMaintenance(): void {
    this.tripType = TripType.Maintenance;
    this.trip = new MaintenanceTrip();
    // console.log("newMaintenance: is indefinite: " + this.trip.indefinite);
    this.newBaseTrip();
  }

  public manualSchedule(): void {
    this.tripType = TripType.Maintenance;
    this.manual = true;
    this.trip = new MaintenanceTrip();
    this.newBaseTrip();
  }

  private newBaseTrip(): void {
    this.isNewTrip = true;
    this.dialog = true;
    if (this.form) this.form.reset();
  }

  public baseEdit(trip: Trip): void {
    this.isNewTrip = false;
    this.trip = trip;
    this.dialog = true;
    this.initDates(trip);
  }

  public edit(
    carTripUser: CarTripUser,
    tripType: TripType = TripType.Trip
  ): void {
    this.carTripUser = carTripUser;
    this.tripType = tripType;
    this.isNewTrip = false;
    this.trip = carTripUser.trip;
    this.dialog = true;
    this.initDates(carTripUser.trip);
  }

  private initDates(trip: Trip) {
    this.dates = new DateRange(trip.startDate, trip.endDate);
  }

  public close(): void {
    this.dialog = false;
    this.serverError = "";
    this.trip = new Trip();
    console.log("close");
  }

  get isMaintenance(): boolean {
    return this.tripType === TripType.Maintenance;
  }

  get dateRequired(): boolean {
    if (BaseTrip.isMaintenanceTrip(this.trip) && this.trip.indefinite)
      return false;
    return true;
  }

  public openPreInspection(): void {
    this.inspectTrip(TripInspectionType.Pre);
  }

  public openPostInspection(): void {
    this.inspectTrip(TripInspectionType.Post);
  }

  @Ref("inspectionDialog") readonly inspectionDetails!: TripInspectionDetails;
  async inspectTrip(inspectionType: TripInspectionType): Promise<void> {
    if (!BaseTrip.isTrip(this.trip)) return;
    this.inspecting = true;
    const car = (await this.$cars.getListing(this.trip.vin)).data;
    const carTrip = new CarTrip(this.trip, car);
    const isUpdate = true;
    this.inspectionDetails.edit(carTrip, inspectionType, isUpdate);
    this.inspecting = false;
  }

  @Ref("userDetails") readonly userDetails!: UserDetails;
  showUser(): void {
    if (!this.carTripUser || !this.carTripUser.user) {
      console.error("no user to show: " + this.carTripUser);
      return;
    }

    this.userDetails.edit(this.carTripUser.user);
  }

  @Ref("form") readonly form!: HTMLFormElement;
  public save(): void {
    const valid = this.form.validate();
    console.log("form: valid: " + valid);
    if (!valid) return;
    if (!this.trip) return;

    this.trip.startDate = this.dates.startDate.unix();
    this.trip.endDate = this.dates.endDate.unix();
    this.serverError = "";

    this.saving = true;
    this.putOrUpdate(this.isNewTrip, this.trip)
      .then((resp) => {
        this.$emit(this.isNewTrip ? "added" : "updated", resp.data);
        this.close();
      })
      .catch((err) => {
        console.error("uploading trip: " + err);
        if (err.response.status === 409)
          this.serverError =
            "Car " + this.trip.vin + " is booked for these dates";
      })
      .finally(() => (this.saving = false));
  }

  private putOrUpdate(isNewTrip: boolean, trip: BaseTrip) {
    console.log("putOrUpdate: isTrip: " + BaseTrip.isTrip(this.trip));
    console.log(
      "putOrUpdate: isMaintenanceTrip: " + BaseTrip.isMaintenanceTrip(this.trip)
    );
    if (BaseTrip.isTrip(trip)) {
      if (isNewTrip) return this.put(trip);
      return this.update(trip);
    }
    if (BaseTrip.isMaintenanceTrip(trip)) {
      if (isNewTrip) return this.$trips.scheduleMaintenance(trip);
      return this.$trips.updateMaintenance(trip);
    }
    return Promise.reject(new Error("no handler for type: " + this.tripType));
  }

  private put(trip: Trip) {
    console.log("add");
    return this.$trips.add(trip);
  }

  private update(trip: Trip) {
    console.log("update");
    return this.$trips.update(trip);
  }
}
</script>
<style lang="scss">
tbody {
  tr {
    cursor: pointer;
  }
}
</style>
