<template>
  <div>
    <user-details ref="userDetails" />
    <v-dialog
      v-model="dialog"
      scrollable
      max-width="600px"
      @click:outside.prevent.stop="close"
    >
      <v-card max-width="700">
        <v-card-title>
          <h2 class="headline font-weight-bold mb-3">Trip Inspection</h2>
        </v-card-title>
        <v-divider></v-divider>
        <v-card-text>
          <v-container>
            <trip-card :trip="carTrip.trip" :car="carTrip.car" />
            <v-divider />
            <v-progress-linear indeterminate v-if="loading" />
            <v-form
              v-else
              class="mt-4"
              v-model="valid"
              ref="form"
              lazy-validation
              @submit.prevent="save"
              :disabled="disabled"
            >
              <v-alert dense outlined tripType="error" v-if="serverError">{{
                serverError
              }}</v-alert>
              <v-row no-gutters dense>
                <v-col cols="4">
                  <v-text-field
                    v-model="user.name"
                    :rules="rules.nameRules"
                    label="User"
                    required
                    @click="showUser"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row no-gutters dense>
                <v-col cols="4">
                  <v-text-field
                    v-model.number="inspection.currentMiles"
                    :rules="[rules.notEmptyRule, milesIncreasedRule]"
                    type="number"
                    @change="milesChanged"
                    label="Current Miles"
                    required
                  />
                </v-col>
                <!-- <v-col cols="4" class="ml-2">
                <v-switch v-model="inspection.cleaning" label="Cleaned" />
              </v-col> -->
              </v-row>
              <v-row no-gutters dense>
                <v-col cols="12">
                  <fuel-level-input v-model="inspection.gasLevel" />
                </v-col>
              </v-row>
              <v-row no-gutters dense>
                <v-col cols="auto">
                  <v-switch v-model="refuelled" label="Refuel" />
                </v-col>
                <v-col cols="3" v-if="refuelled" class="ml-2">
                  <v-text-field
                    v-model.number="gasRefillAmount"
                    :rules="[rules.notEmptyRule]"
                    type="number"
                    label="Refuel Gal"
                    required
                  />
                </v-col>
                <v-col cols="3" v-if="refuelled" class="ml-2">
                  <price-input
                    v-model="gasRefillCost"
                    @change="gasRefillChanged"
                    :rules="[rules.notEmptyRule]"
                    label="Refuel Charge"
                  />
                  <!-- <v-text-field
                  v-model.number="gasRefillCost"
                  @change="gasRefillChanged"
                  :rules="[rules.notEmptyRule]"
                  type="number"
                  prefix="$"
                  label="Refuel Charge"
                  required
                /> -->
                </v-col>
              </v-row>
              <v-label>Images</v-label>
              <v-row align="center" no-gutters dense>
                <v-col>
                  <image-picker
                    ref="imagePicker"
                    :images="inspection.photos"
                    height="200"
                    compact
                    :disabled="disabled"
                  />
                </v-col>
              </v-row>
              <div v-if="isPostInspection">
                <incidental-input
                  @input="addManualIncidental"
                  :disabled="disabled"
                />
                <incidental-chips
                  v-model="inspection.incidentals"
                  :disabled="disabled"
                />
              </div>
              <v-textarea
                v-model="inspection.description"
                label="Description"
              ></v-textarea>
              <v-alert dense outlined tripType="error" v-if="serverError">{{
                serverError
              }}</v-alert>
            </v-form>
          </v-container>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="close" :disabled="saving">Cancel</v-btn>
          <v-btn text @click="save" :loading="saving" v-if="!disabled">
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from "vue";
import { Component, Ref, Prop } from "vue-property-decorator";
import {
  CarTrip,
  Incidental,
  IncidentalCause,
  TripInspection,
  TripInspectionType,
} from "@/types/TripTypes";
import { Rules } from "@/types/InputRules";
import TripCard from "@/components/trips/TripCard.vue";
import { Car } from "@/types/CarTypes";
import IncidentalChips from "@/components/trips/IncidentalChips.vue";
import IncidentalInput from "@/components/trips/IncidentalInput.vue";
import ImagePicker from "@/components/image/ImagePicker.vue";
import FuelLevelInput from "@/components/FuelLevelInput.vue";
import PriceInput from "@/components/price/PriceInput.vue";
import { User } from "@/types/UserTypes";
import UserDetails from "@/components/admin/AdminUserDetails.vue";

export enum TripType {
  Trip,
  TripRequest,
  Maintenance,
}
@Component({
  components: {
    TripCard,
    IncidentalChips,
    ImagePicker,
    IncidentalInput,
    FuelLevelInput,
    PriceInput,
    UserDetails,
  },
})
export default class TripInspectionDetails extends Vue {
  private carTrip = new CarTrip();
  private car = new Car();
  private inspectionType = TripInspectionType.Pre;
  private inspection = new TripInspection();
  private isUpdate = false;
  private user = new User();

  private gasRefillCost = 0;
  private gasRefillAmount = 0;
  private refuelled = false;

  private valid = false;
  private dialog = false;
  private loading = false;
  private saving = false;
  private rules = Rules;
  private serverError = "";
  private maxIncidentalCharge = Incidental.maxIncidentalCharge;

  private manualIncidental = new Incidental(IncidentalCause.Manual);
  private incidentalCharge = 0;
  private chargeError = "";
  private charging = false;
  private charged = false;

  @Prop({ default: false, type: Boolean }) readonly disabled!: boolean;
  // TODO make incidental chips

  get isPostInspection(): boolean {
    return this.inspectionType === TripInspectionType.Post;
  }

  public close(): void {
    this.dialog = false;
    this.carTrip = new CarTrip();
    this.car = new Car();
    this.serverError = "";
    this.incidentalCharge = 0;
    this.charging = false;
    this.charged = false;
    this.chargeError = "";
    console.log("close");
  }

  public edit(
    carTrip: CarTrip,
    inspectionType: TripInspectionType,
    isUpdate = false
  ): void {
    this.isUpdate = isUpdate;
    this.inspectionType = inspectionType;
    this.loading = true;
    this.carTrip = carTrip;
    this.dialog = true;
    this.fetchCarAndInspection()
      .catch(() => {
        this.serverError =
          "Promblem fetching inspection and or car, try again later.";
      })
      .finally(() => {
        this.loading = false;
        this.fillExistingIncidentals();
      });
  }

  public milesIncreasedRule(miles: number): boolean | string {
    if (this.isUpdate) return true;
    return miles >= this.car.miles || `Cannot be less then ${this.car.miles}`;
  }

  public milesChanged(miles: number): void {
    const milesAdded = miles - this.car.miles;
    const includedMiles = this.car.includedMiles * this.carTrip.trip.tripLength;
    const overageMiles = milesAdded - includedMiles;
    if (overageMiles < 1) {
      this.removeIncidental(IncidentalCause.Miles);
      return;
    }

    const incidental = new Incidental(IncidentalCause.Miles);
    incidental.overage = overageMiles;
    incidental.amount = Math.min(
      Math.floor(overageMiles * this.car.distanceOverageFee),
      this.maxIncidentalCharge
    );

    incidental.description += `${overageMiles} miles above included miles`;
    this.replaceIncidental(incidental);
  }

  public gasRefillChanged(): void {
    const incidental = new Incidental(IncidentalCause.Gas);
    incidental.amount = this.gasRefillCost;
    incidental.overage = this.gasRefillAmount;
    incidental.description += `${incidental.overage} Gallons refuel`;
    this.replaceIncidental(incidental);
  }

  public addManualIncidental(incidental: Incidental): void {
    this.addIncidental(incidental);
    this.manualIncidental = new Incidental(IncidentalCause.Manual);
  }

  public replaceIncidental(incidental: Incidental): void {
    this.removeIncidental(incidental.cause);
    this.addIncidental(incidental);
  }

  public addIncidental(incidental: Incidental): void {
    this.inspection.incidentals.push(incidental);
  }

  private removeIncidental(cause: IncidentalCause): void {
    const index = this.inspection.incidentals.findIndex(
      (c) => c.cause === cause
    );
    if (index >= 0) {
      this.inspection.incidentals.splice(index, 1);
    }
  }

  private async fetchCarAndInspection() {
    const tripID = this.carTrip.trip.id;
    this.car = (await this.$cars.getDetails(this.carTrip.trip.vin)).data;
    this.user = (await this.$auth.fetchUser(this.carTrip.trip.userID)).data;
    this.inspection = await this.getInspection(tripID);
    this.inspection.tripID = tripID;
    this.inspection.currentMiles = this.car.miles;
  }

  private async getInspection(tripID: string) {
    try {
      const resp = await this.$trips.getInspection(tripID, this.inspectionType);
      return resp.data;
    } catch (e) {
      return new TripInspection();
    }
  }

  public chargeIncidental(): void {
    if (this.inspection.description == "") {
      this.chargeError = "Need description to charge";
      return;
    }

    this.charging = true;
    this.$payment
      .chargeIncidental(
        this.carTrip.trip.id,
        this.incidentalCharge,
        this.inspection.description
      )
      .then(() => {
        this.charged = true;
      })
      .catch((err) => {
        this.chargeError = `error while charging ${err.getMessage()}`;
      })
      .finally(() => (this.charging = false));
  }

  @Ref("imagePicker") readonly imagePicker!: ImagePicker;
  @Ref("form") readonly form!: HTMLFormElement;
  public save(): void {
    const valid = this.form.validate();
    console.log("form: valid: " + valid);
    if (!valid) return;
    if (!this.carTrip) return;

    if (
      this.inspection.photos.length === 0 &&
      this.imagePicker.pendingFiles.length === 0
    ) {
      this.serverError = "At least one image is required!";
      return;
    }

    this.serverError = "";

    this.saving = true;
    this.$trips
      .submitTripInspection(this.inspection, this.imagePicker.pendingFiles)
      .then(() => {
        this.$emit("done", this.carTrip);
        this.close();
      })
      .catch((err) => {
        console.error("postTripInspection: " + err);
        this.serverError = err;
      })
      .finally(() => (this.saving = false));
  }

  @Ref("userDetails") readonly userDetails!: UserDetails;
  showUser(): void {
    if (!this.user) {
      console.error("no user to show: " + this.user);
      return;
    }

    this.userDetails.edit(this.user);
  }

  private fillExistingIncidentals(): void {
    const indexOfRefill = this.inspection.incidentals
      .map((_) => _.cause)
      .indexOf(IncidentalCause.Gas);
    if (indexOfRefill > -1) {
      const refillIncidental = this.inspection.incidentals[indexOfRefill];
      this.refuelled = true;
      this.gasRefillAmount = refillIncidental.overage;
      this.gasRefillCost = refillIncidental.amount;
    }
  }
}
</script>
<style lang="scss">
tbody {
  tr {
    cursor: pointer;
  }
}
</style>
