<template>
  <div>
    <v-alert dense outlined type="error" v-if="serverError">
      Problem getting trips, please try again in a few minutes.
    </v-alert>
    <trip-inspection-details ref="dialog" @done="inspected" />
    <div v-if="carTrips.length == 0" class="mt-4 text-h6">
      No trips to inspect, Yay!
    </div>
    <v-row no-gutters>
      <v-col
        v-for="carTrip in carTrips"
        :key="carTrip.trip.id"
        class="col"
        lg="4"
        md="6"
        sm="6"
        cols="12"
      >
        <div>
          <v-skeleton-loader
            v-if="!ready && !serverError"
            class="mx-auto"
            type="list-item-avatar-three-line"
          ></v-skeleton-loader>
          <trip-card
            class="clickable"
            @click="inspectTrip(carTrip)"
            :trip="carTrip.trip"
            :car="carTrip.car"
          />
        </div>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import { CarTrip, Trip, TripInspectionType } from "@/types/TripTypes";
import Vue from "vue";
import { Component, Prop, Ref } from "vue-property-decorator";
import TripCard from "@/components/trips/TripCard.vue";
import TripInspectionDetails from "@/components/admin/TripInspectionDetails.vue";

@Component({
  components: {
    TripCard,
    TripInspectionDetails,
  },
})
export default class TripGrid extends Vue {
  private trips!: Trip[];
  @Prop({ required: true }) readonly inspectionType!: TripInspectionType;
  private carTrips: CarTrip[] = [
    new CarTrip(new Trip("1")),
    new CarTrip(new Trip("2")),
    new CarTrip(new Trip("3")),
  ];
  private serverError = false;
  private ready = false;

  created(): void {
    this.$trips.getTripsToInspect(this.inspectionType).then((resp) => {
      this.trips = resp.data;
      this.fetchData();
    });
  }

  private fetchData(): void {
    this.$cars
      .getListingsForTrips(this.trips)
      .then((carTrips) => {
        this.carTrips = carTrips.filter((_) => _.trip.booked);
        this.ready = true;
      })
      .catch(() => (this.serverError = true));
  }

  @Ref("dialog") readonly inspectionDetails!: TripInspectionDetails;
  inspectTrip(carTrip: CarTrip): void {
    const clone = Object.assign(new CarTrip(), carTrip);
    this.inspectionDetails.edit(clone, this.inspectionType);
  }

  public inspected(carTrip: CarTrip): void {
    const i = this.carTrips.findIndex(
      (ct: CarTrip) => ct.trip.id == carTrip.trip.id
    );
    if (i < 0) return;
    this.carTrips.splice(i, 1);
  }
}
</script>

<style lang="scss">
.clickable {
  cursor: pointer;
  &:hover {
    background-color: rgb(240, 240, 240);
    .v-card {
      background-color: rgb(240, 240, 240);
    }
  }
}
</style>
