<template>
  <div>
    <v-data-table
      :headers="headers"
      :items="filteredTrips"
      :search="search"
      :loading="loading"
      @click:row="rowClicked"
      loading-text="Loading... Please wait"
      sort-by="make"
      class="elevation-1"
    >
      <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Trips</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            label="Search"
            single-line
            hide-details
          ></v-text-field>
          <v-spacer></v-spacer>
          <!-- <v-btn color="primary" @click="scheduleMaintenance">
            Schedule Maintenance
          </v-btn> -->
          <trip-details
            ref="tripDetails"
            @updated="tripUpdated"
            @added="tripAdded"
          ></trip-details>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]>
        <v-icon small class="mr-2"> mdi-pencil </v-icon>
        <!-- <v-icon small @click.stop="deleteItem(item)"> mdi-delete </v-icon> -->
      </template>
    </v-data-table>
    <!-- <v-dialog v-model="dialogDelete" max-width="520px">
      <v-card>
        <v-card-title class="headline"
          >Are you sure you want to delete this item?</v-card-title
        >
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="dialogDelete = false"
            >Cancel</v-btn
          >
          <v-btn color="blue darken-1" text @click="deleteItemConfirm"
            >OK</v-btn
          >
          <v-spacer></v-spacer>
        </v-card-actions>
      </v-card>
    </v-dialog> -->
    <v-snackbar v-model="snackbar">
      {{ snackbarText }}

      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          Hide
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Ref } from "vue-property-decorator";
import TripDetails, { TripType } from "@/components/admin/TripDetails.vue";
import { CarTripUser, Trip } from "@/types/TripTypes";
import { bus } from "@/EventBus";

@Component({
  components: {
    TripDetails,
  },
})
export default class TripTable extends Vue {
  private dialogDelete = false;
  private search = "";
  private loading = true;
  private headers = [
    { text: "Car", value: "car.title" },
    { text: "User", value: "user.name" },
    { text: "start", value: "trip.startDateFormatted" },
    { text: "end", value: "trip.endDateFormatted" },
    { text: "price", value: "trip.formattedPrice" },
    { text: "vin", value: "car.vin", align: " d-none" },
    { text: "Actions", value: "actions", sortable: false },
  ];

  private trips: CarTripUser[] = [];
  private tripsToInspect: Trip[] = [];

  created(): void {
    this.fetchTrips();
    bus.$on("tripAdded", this.tripAdded);
  }

  get filteredTrips(): CarTripUser[] {
    return this.trips;
  }

  @Ref("tripDetails") readonly tripDetails!: TripDetails;

  // private itemToDelete!: Trip;
  private snackbarText = "";
  private snackbar = false;
  // public deleteItem(item: Trip): void {
  //   this.itemToDelete = item;
  //   this.dialogDelete = true;
  // }

  // public deleteItemConfirm(): void {
  //   const item = this.itemToDelete;
  //   const index = this.trips.indexOf(item);
  //   this.trips.splice(index, 1);
  //   this.dialogDelete = false;
  //   this.$trips.delete(item.id);
  //   this.showSnackbar("Deleted Trip: " + item.id);
  // }

  private showSnackbar(text: string) {
    this.snackbarText = text;
    this.snackbar = true;
  }

  public rowClicked(carTripUser: CarTripUser): void {
    if (!carTripUser) {
      console.error("row clicked with data: " + carTripUser);
      return;
    }

    const clone = Object.assign(new CarTripUser(), carTripUser);
    const tripType =
      carTripUser.trip.userID === "maintenance"
        ? TripType.Maintenance
        : TripType.Trip;
    this.tripDetails.edit(clone, tripType);
  }

  public tripAdded(trip: Trip): void {
    console.log("Added Trip for car: " + trip);
    this.showSnackbar("Added Trip for car: " + trip.vin);
    this.fetchCarTripUser(trip).then((carTripUser) => {
      this.showSnackbar("Added Trip for car: " + carTripUser.car.title);
      this.trips.unshift(carTripUser);
    });
  }

  public tripUpdated(carTripUser: CarTripUser): void {
    const index = this.trips.map((c) => c.trip.id).indexOf(carTripUser.trip.id);
    this.trips.splice(index, 1, carTripUser);
    this.showSnackbar("Updated Trip: " + carTripUser.trip.id);
  }

  public scheduleMaintenance(): void {
    this.tripDetails.newMaintenance();
  }

  private fetchTrips(): void {
    this.loading = true;
    this.getTrips()
      .then((resp) => {
        this.trips = resp;
      })
      .catch((err) => console.error("fetching trips: " + err))
      .finally(() => (this.loading = false));
  }

  //TODO pagination
  private async getTrips(): Promise<CarTripUser[]> {
    const trips = (await this.$trips.listAllUsers()).data;
    const carTrips = await this.$cars.getListingsForTrips(trips);
    const users = (await this.$auth.listUsers()).data; // TODO: could optimize by only asking for relevant users
    return carTrips.map((carTrip) => {
      const userIndex = users.map((_) => _.id).indexOf(carTrip.trip.userID);
      return new CarTripUser(carTrip.car, carTrip.trip, users[userIndex]);
    });
  }

  private async fetchCarTripUser(trip: Trip): Promise<CarTripUser> {
    const car = await this.$cars.getListing(trip.vin);
    const user = await this.$auth.fetchUser(trip.userID);
    return new CarTripUser(car.data, trip, user.data);
  }
}
</script>

<style lang="scss"></style>
