<template>
  <span>
    <router-view />
    <register></register>
  </span>
</template>

<script lang="ts">
import Vue from "vue";
import Register from "@/components/register/Register.vue";

export default Vue.extend({
  name: "App",
  components: { Register },
  data: () => ({
    //
  }),
});
</script>
