<template>
  <div v-if="!fetchError">
    <h6 class="text-h6">Pickup & return location</h6>
    <div class="text-h7">
      {{ location.label }}
    </div>
    <div class="text-subtitle-1">
      <a class="linkForTotal" :href="directionsURL" target="_blank">
        {{ location.address }}
      </a>
      <a
        :href="directionsURL"
        class="text-decoration-none ml-1"
        target="_blank"
      >
        <v-icon dense>mdi-directions</v-icon>
      </a>
    </div>
    <div class="text-subtitle-1">
      {{ location.directions }}
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { Location } from "@/types/LocationTypes";

@Component
export default class extends Vue {
  @Prop({ required: true }) readonly locationId!: string;
  private location = new Location();
  private fetchError = false;

  created(): void {
    this.$locations
      .get(this.locationId)
      .then((loc) => {
        this.location = loc.data;
      })
      .catch((err) => {
        console.error("fetching location: " + err);
        this.fetchError = true;
      });
  }

  get directionsURL(): string {
    if (!this.location) return "";
    const base = "https://www.google.com/maps/search/?api=1&query=";
    return base + this.location.address;
  }
}
</script>

<style lang="scss">
.linkForTotal {
  text-decoration: underline;
  font-size: 0.9rem;
  .v-icon {
    text-decoration: unset;
  }
}
</style>