<template>
  <search-date-range-picker
    :disabledDates="bookedDates"
    :value="innerDates"
    @input="update"
    :compact="false"
    :opens="opens"
    :reflectQuery="reflectQuery"
  ></search-date-range-picker>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop, Watch } from "vue-property-decorator";
import SearchDateRangePicker from "@/components/search/SearchDateRangePicker.vue";
import { DateRange } from "@/helpers/Utils";

@Component({
  components: {
    SearchDateRangePicker,
  },
})
export default class CarDateRangePicker extends Vue {
  @Prop({ required: true }) readonly value!: DateRange;
  @Prop({ required: true }) readonly vin!: string;
  @Prop() readonly tripId!: string;
  @Prop({ default: "left" }) readonly opens!: string;
  @Prop({ default: true, type: Boolean }) readonly reflectQuery!: boolean;
  private innerDates = this.value;
  private bookedDates: DateRange[] = [];
  private startDates = this.value.clone();

  created(): void {
    this.innerDates = this.value;
    if (this.vin) this.getBookedDates();
  }

  public update(val: DateRange): void {
    this.innerDates = val;
    this.$emit("input", this.innerDates);
  }

  @Watch("value")
  onValueChange(newVal: DateRange): void {
    this.innerDates = newVal;
  }

  @Watch("vin")
  carChanged(): void {
    this.getBookedDates();
  }

  private getBookedDates(): void {
    this.$trips.booked(this.vin).then((resp) => {
      this.bookedDates = resp.data
        .filter((tripDate) => {
          return this.tripId !== tripDate.id;
        })
        .map((_) => new DateRange(_.startDate, _.endDate));
    });
  }
}
</script>

<style lang="scss">
.inDialogHack {
  .vue-daterange-picker {
    position: absolute;
    margin-top: -88px;
  }
}
</style>
