<template>
  <div>
    <v-row class="dateSelect" align="center" justify="start" dense>
      <v-col cols="6" @click.stop.prevent="$emit('toggle')" class="pt-0">
        <mock-select class="pa-0" :label="computedDateFormatDay"></mock-select>
      </v-col>
      <v-col cols="6" class="pt-0">
        <v-select
          class="pa-0"
          hide-details="true"
          single-line
          :value="computedDateFormatHour"
          @input="updateHour"
          :items="enabledHours"
        ></v-select>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop, Ref, Watch } from "vue-property-decorator";

import { dateSetHour, formatDate } from "@/helpers/Utils";
import MockSelect from "@/components/MockSelect.vue";

class HourSelection {
  constructor(public text: string, public value: number) {}
}

@Component({
  components: {
    MockSelect,
  },
})
export default class DateTimePickerPart extends Vue {
  @Prop({ required: true }) readonly value!: Date;
  @Prop({ default: 0 }) readonly minHour!: number;
  private hours: HourSelection[] = [];

  created(): void {
    for (let i = 0; i < 24; i++) {
      const postfix = i < 12 ? "AM" : "PM";
      let hour = i % 12;
      hour = hour == 0 ? 12 : hour; //0=>12
      this.hours.push(new HourSelection(`${hour}:00 ${postfix}`, i));
    }
  }

  get enabledHours(): HourSelection[] {
    return this.hours.filter((h) => h.value >= this.minHour);
  }

  get computedDateFormatHour(): HourSelection {
    const hours = this.value.getHours();
    if (hours < this.minHour) this.updateHour(this.minHour);

    return this.hours[hours];
  }

  public updateHour(hour: number): void {
    this.$emit("update", hour);
  }

  get computedDateFormatDay(): string {
    return formatDate(this.value, false, false);
    // return formatDate(this.value, true, false);
  }
}
</script>

<style lang="scss">
.v-toolbar .mockContainer {
  margin-top: 0px;
}

.compactContainer.row.dateSelect {
  .col {
    max-width: 6.5rem;
  }
}
</style>
