<template>
  <v-row
    @click="$emit('click')"
    dense
    no-gutters
    class="labelContainer pr-2 pr-md-0"
    align="center"
  >
    <v-col class="pl-2 pt-0" cols="11">
      {{ computedDateFormatFrom }} - {{ computedDateFormatTo }}
    </v-col>
    <v-col cols="1" class="pa-0">
      <v-icon>mdi-chevron-down</v-icon>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import { DateRange, formatDate, formatTime } from "@/helpers/Utils";
import Vue from "vue";
import { Component, Prop, Ref, Watch } from "vue-property-decorator";

@Component
export default class DateLabel extends Vue {
  @Prop() readonly dates!: number[];
  private dateRange = new DateRange(this.dates[0], this.dates[1]);

  @Watch("dates")
  datesChanged(val: number[]): void {
    this.dateRange = new DateRange(val[0], val[1]);
  }

  private syncDateRange(): void {
    if (this.dates[0] == 0) return;
    this.dateRange = new DateRange(this.dates[0], this.dates[1]);
  }

  get computedDateFormatFrom(): string {
    return formatTime(this.dateRange.startDate).replace(":00 ", "");
  }

  get computedDateFormatTo(): string {
    return formatTime(this.dateRange.endDate).replace(":00 ", "");
  }
}
</script>

<style lang="scss">
.row.no-gutters .labelContainer {
  cursor: pointer;
  height: 3.1em;
  font-size: 0.8rem;
  font-weight: 300;
  margin-top: 3px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #f2f2f2;
  max-width: 256px;
}
</style>
