<template>
  <div>
    <filter-container
      :class="[{ changed: notDefault(filter.field) }, 'mr-4']"
      v-for="filter in filters"
      :key="filter.label"
      :button="button"
      :label="computedLabel(filter.label, filter.field, filter.formatter)"
      @reset="resetFilter(filter.field)"
      @apply="$emit('apply')"
    >
      <range-filter
        v-if="filter.type == filterType.Range"
        v-model="pendingFilters[filter.field]"
        :label-formatter="filter.formatter"
        :min="defaultFilters[filter.field][0]"
        :max="defaultFilters[filter.field][1]"
      >
      </range-filter>

      <option-filter
        v-else-if="filter.type == filterType.Option"
        v-model="pendingFilters[filter.field]"
        :options="filterOptions[filter.field]"
      >
      </option-filter>
    </filter-container>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop, Watch } from "vue-property-decorator";
import FilterContainer from "@/components/search/FilterContainer.vue";
import RangeFilter from "@/components/search/RangeFilter.vue";
import OptionFilter from "@/components/search/OptionFilter.vue";
import {
  Filters,
  defaultFilters,
  FilterOptions,
  FilterType,
  FiltersImpl,
  FilterDescription,
} from "@/types/FilterTypes";

@Component({
  components: {
    FilterContainer,
    RangeFilter,
    OptionFilter,
  },
})
export default class FilterGroup extends Vue {
  private defaultFilters = defaultFilters();
  private filterOptions = FilterOptions;
  private filterType = FilterType;
  @Prop({ default: false, type: Boolean }) readonly button!: boolean;
  @Prop({ required: true }) readonly value!: Filters;
  @Prop({ required: true }) readonly filters!: FilterDescription[];
  private pendingFilters = this.value;

  @Watch("value")
  valueChanged(newVal: Filters): void {
    this.pendingFilters = newVal;
  }

  @Watch("pendingFilters")
  pendingChanged(newVal: Filters): void {
    this.$emit("input", newVal);
  }

  public resetFilter(field: keyof Filters): void {
    FiltersImpl.assign(this.pendingFilters, this.defaultFilters, field);
    this.$emit("apply");
  }

  public notDefault(field: keyof Filters): boolean {
    return !FiltersImpl.eq(this.pendingFilters, this.defaultFilters, field);
  }

  public computedLabel(
    label: string,
    field: keyof Filters,
    formatter: ((v: number[]) => string) | undefined = undefined
  ): string {
    if (this.button && this.notDefault(field)) {
      return (
        label +
        " • " +
        FiltersImpl.formatDetails(this.pendingFilters, field, formatter)
      );
    } else {
      return label;
    }
  }
}
</script>

<style lang="scss">
.changed {
  button {
    background-color: rgba(0, 0, 0, 0.12);
    border-color: transparent !important;
  }
}
</style>
