<template>
  <span>
    <v-app v-if="sheetStyle">
      <v-app-bar app color="white">
        <v-app-bar-nav-icon @click="$emit('close')">
          <v-icon>mdi-close</v-icon>
        </v-app-bar-nav-icon>
        <v-spacer></v-spacer>
        <h2 class="text-h5">{{ label }}</h2>
        <v-spacer></v-spacer>
        <v-btn text @click="reset">Reset</v-btn>
      </v-app-bar>
      <v-main>
        <v-card>
          <v-card-text>
            <slot></slot>
          </v-card-text>
        </v-card>
      </v-main>
      <v-app-bar app bottom color="white">
        <v-btn block depressed color="accent" @click="apply">Apply</v-btn>
      </v-app-bar>
    </v-app>
    <span v-else-if="button">
      <v-menu
        offset-y
        v-model="menu"
        :close-on-content-click="false"
        :nudge-width="200"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn outlined text v-bind="attrs" v-on="on" class="text-capitalize">
            {{ label }}
          </v-btn>
        </template>
        <v-card max-height="320px">
          <!-- <v-card-title>
          </v-card-title> -->
          <v-card-text>
            <slot></slot>
          </v-card-text>
          <v-card-actions>
            <v-btn outlined text color="grey" @click="reset">Reset</v-btn>
            <v-btn depressed color="accent" @click="apply">Apply</v-btn>
          </v-card-actions>
        </v-card>
      </v-menu>
    </span>
    <span v-else>
      <h6 class="text-h6 mb-2">{{ label }}</h6>
      <slot></slot>
    </span>
  </span>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop, Ref, Watch } from "vue-property-decorator";

@Component
export default class FilterContainer extends Vue {
  @Prop({ default: false, type: Boolean }) readonly button!: boolean;
  @Prop({ default: false, type: Boolean }) readonly sheetStyle!: boolean;
  @Prop({ default: 0, type: Number }) readonly changes!: number;
  @Prop({ type: String }) readonly label!: string;
  private menu = false;

  public close(): void {
    this.menu = false;
  }

  public reset(): void {
    this.menu = false; //TODO restore value, on outside click close also?
    this.$emit("reset");
  }

  public apply(): void {
    this.menu = false;
    this.$emit("apply");
  }

  public labelChange(label: string): void {
    console.log("label changed: " + label);
  }
}
</script>

<style lang="scss">
.v-card {
  display: flex !important;
  flex-direction: column;
}

.v-card__text {
  flex-grow: 1;
  overflow: auto;
}
</style>
