<template>
  <v-autocomplete
    :value="value"
    :items="items"
    :loading="isLoading"
    :search-input.sync="search"
    clearable
    :rules="[rules.notEmptyRule]"
    item-text="searchable"
    item-value="id"
    label="Search for a location"
    @input="$emit('input', $event)"
  >
    <template v-slot:no-data>
      <v-list-item>
        <v-list-item-title> Start typing location </v-list-item-title>
      </v-list-item>
    </template>
    <!-- <template v-slot:selection="{ item }">
        {{item.vin}}
      </template> -->
    <template v-slot:item="{ item }">
      <v-list-item-content>
        <v-list-item-title v-text="item.label"></v-list-item-title>
        <v-list-item-subtitle v-text="item.address"></v-list-item-subtitle>
      </v-list-item-content>
    </template>
  </v-autocomplete>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop, Watch } from "vue-property-decorator";
import { Rules } from "@/types/InputRules";
import { Location } from "@/types/LocationTypes";

@Component
export default class LocationAutocomplete extends Vue {
  private items: Location[] = [];
  private isLoading = false;
  private search = "";
  private readonly rules = Rules;
  @Prop({ required: true, default: "" }) value!: string;

  @Watch("search")
  public searchChanged(): void {
    if (this.items.length > 0) return;
    this.isLoading = true;

    this.$locations
      .list()
      .then((resp) => {
        this.items = resp.data;
      })
      .catch((err) => {
        console.error("fetching locations: " + err);
      })
      .finally(() => (this.isLoading = false));
  }
}
</script>

<style lang="scss"></style>
