<template>
  <div>
    <v-radio-group :value="value" @change="bubble($event)">
      <v-radio
        v-for="opt in options"
        :key="opt.value"
        :label="opt.label"
        :value="opt.value"
      ></v-radio>
    </v-radio-group>
  </div>
</template>

<script lang="ts">
import { defaultFilters, OptionEntry } from "@/types/FilterTypes";
import Vue from "vue";
import { Component, Prop, Ref, Watch } from "vue-property-decorator";

@Component
export default class OptionFilter extends Vue {
  @Prop({ required: true }) readonly value!: string;
  @Prop() readonly labelFormatter?: (_: number[]) => string;
  @Prop({ required: true }) readonly options!: OptionEntry[];

  public bubble(e: Event) {
    this.$emit("input", e);
    this.$emit("label-change", this.value);
  }
}
</script>

<style lang="scss"></style>
