<template>
  <div>
    <div v-if="compact">
      <v-row
        dense
        no-gutters
        class="compactContainer"
        align="center"
        justify="start"
      >
        <v-col cols="6" class="firstCol">
          <v-row dense no-gutters align="center">
            <v-col cols="auto" class="label_container">
              <span class="text-subtitle-1 label">From</span>
            </v-col>
            <v-col cols="9">
              <date-time-picker-part
                v-model="dateRange.startDate"
                @toggle="toggle"
                @update="updateFromHour"
                :minHour="minStartHour"
              >
              </date-time-picker-part>
            </v-col>
          </v-row>
        </v-col>

        <div class="pickerContainer pa-0">
          <date-range-picker
            class="picker"
            ref="picker"
            :minDate="minDate"
            :maxDate="computedMaxDate"
            :ranges="false"
            :autoApply="true"
            :linkedCalendars="false"
            :opens="opens"
            v-model="dateRange"
            :dateFormat="dateFormat"
            @update="dateSelected"
            @startSelection.passive="startSelected"
            @finishSelection="endSelected"
          >
            <template v-slot:input>
              <span></span>
            </template>
          </date-range-picker>
        </div>

        <v-col cols="6" class="firstCol">
          <v-row dense no-gutters align="center">
            <v-col cols="auto" class="label_container">
              <span class="text-subtitle-1 label">Until</span>
            </v-col>
            <v-col cols="9">
              <date-time-picker-part
                v-model="dateRange.endDate"
                @toggle="toggle"
                @update="updateToHour"
                :minHour="minEndHour"
              ></date-time-picker-part>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </div>
    <v-row v-else dense>
      <div class="text-caption">From</div>
      <v-col cols="12">
        <date-time-picker-part
          v-model="dateRange.startDate"
          @toggle="toggle"
          @update="updateFromHour"
          :minHour="minStartHour"
        ></date-time-picker-part>
      </v-col>

      <v-col
        cols="12"
        class="pickerContainer pa-0"
        :class="{
          'align-end': opens == 'left',
          'align-start': opens == 'right',
        }"
      >
        <v-spacer v-if="opens == 'left'"></v-spacer>
        <date-range-picker
          class="picker"
          ref="picker"
          :minDate="minDate"
          :maxDate="computedMaxDate"
          :ranges="false"
          :autoApply="true"
          :linkedCalendars="false"
          :opens="opens"
          v-model="dateRange"
          :dateFormat="dateFormat"
          @update="dateSelected"
          @startSelection.passive="startSelected"
          @finishSelection="endSelected"
        >
          <template v-slot:input>
            <span></span>
          </template>
        </date-range-picker>
      </v-col>

      <div class="text-caption">Until</div>
      <v-col cols="12">
        <date-time-picker-part
          v-model="dateRange.endDate"
          @toggle="toggle"
          @update="updateToHour"
          :minHour="minEndHour"
        ></date-time-picker-part>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop, Ref, Watch } from "vue-property-decorator";
import DateRangePicker from "vue2-daterange-picker";
import "@/assets/styles/daterange-picker.css";
// import 'vue2-daterange-picker/dist/vue2-daterange-picker.css'
import {
  datePlusDays,
  DateRange,
  dateSetHour,
  daysBetween,
  hoursBetween,
  isSameDay,
  TimeIsSameDay,
} from "@/helpers/Utils";
import MockSelect from "@/components/MockSelect.vue";
import DateTimePickerPart from "@/components/search/DateTimePickerPart.vue";
import dayjs from "dayjs";

class HourSelection {
  constructor(public text: string, public value: number) {}
}

class DateRangeInner {
  private readonly defaultHours = 10;
  public startDate: Date = this.setHour(new Date());
  public endDate: Date = this.setHour(datePlusDays(new Date(), 7));

  constructor(dateRange?: DateRange) {
    if (!dateRange) return;
    this.startDate = dateRange.startDate.toDate();
    this.endDate = dateRange.endDate.toDate();
  }

  public contains(d: Date): boolean {
    const start = dayjs(this.startDate);
    const end = dayjs(this.endDate);
    const date = dayjs(d);
    return date.isBetween(this.startDate, this.endDate);
  }

  private setHour(d: Date, hour = this.defaultHours): Date {
    const res = new Date(d);
    res.setHours(hour, 0, 0, 0);
    return res;
  }
}

@Component({
  components: {
    DateRangePicker,
    MockSelect,
    DateTimePickerPart,
  },
})
export default class PrettyDateRangePicker extends Vue {
  @Prop() minDate!: Date;
  @Prop() maxDate!: Date;
  @Prop({ required: true }) readonly value!: DateRange;
  @Prop({ default: true, type: Boolean }) readonly compact!: boolean;
  @Prop({ default: () => [] }) readonly disabledDates!: DateRangeInner[];
  @Prop({ default: "left" }) readonly opens!: string;
  @Prop({ default: false, type: Boolean }) readonly disabled!: boolean;
  dateRange = new DateRangeInner(this.value);
  private readonly maxRentTime = 31; //days
  private readonly defaultDurationDays = 7; //days
  private readonly defaultPickupTime = 10; //days
  private selectedStart = false;
  private hours: HourSelection[] = [];

  created(): void {
    for (let i = 0; i < 24; i++) {
      const postfix = i < 12 ? "AM" : "PM";
      let hour = i % 12;
      hour = hour == 0 ? 12 : hour; //0=>12
      this.hours.push(new HourSelection(`${hour}:00 ${postfix}`, i));
    }
  }

  @Watch("value")
  valChange(newVal: DateRange): void {
    this.dateRange = new DateRangeInner(this.value);
  }

  get computedMaxDate(): Date {
    if (!this.selectedStart) return this.maxDate;
    if (daysBetween(this.stageStartDate, this.maxDate) > this.maxRentTime) {
      return datePlusDays(this.stageStartDate, this.maxRentTime);
    }
    return this.maxDate;
  }

  get defaultEndDate(): Date {
    return datePlusDays(new Date(), this.defaultDurationDays);
  }

  get computedDateFormatFrom(): string {
    return this.formatDate(this.dateRange.startDate);
  }

  public updateFromHour(hour: number): void {
    this.dateRange.startDate = dateSetHour(this.dateRange.startDate, hour);
    this.dateSelected();
  }

  public updateToHour(hour: number): void {
    const end = dateSetHour(this.dateRange.endDate, hour);
    const endWithHours = this.fixEndHours(
      dayjs(this.dateRange.startDate),
      dayjs(end)
    );
    // this.dateRange.endDate = endWithHours.toDate()
    const updated = new DateRangeInner();
    updated.startDate = this.dateRange.startDate;
    updated.endDate = endWithHours.toDate();
    this.dateRange = updated;
    this.dateSelected();
  }

  get computedDateFormatTo(): string {
    return this.formatDate(this.dateRange.endDate);
  }

  private formatDate(date: Date, day = true, hour = true) {
    let options: Intl.DateTimeFormatOptions = {};
    if (day) {
      options.month = "short";
      options.day = "numeric";
    }
    if (hour) {
      options.hour = "numeric";
      options.minute = "numeric";
    }
    return new Intl.DateTimeFormat("en-US", options).format(date);
  }

  @Ref("picker") readonly picker!: any;
  public toggle(e: any) {
    if (!e || e.target?.nodeName !== "TD") {
      this.picker.togglePicker(true);
    }
  }

  // disabled dates
  public dateFormat(classes: any, date: Date): any {
    if (!classes.disabled)
      classes.disabled = this.dateInRanges(date, this.disabledDates);
    return classes;
  }

  private dateInRanges(date: Date, ranges: DateRangeInner[]): boolean {
    return ranges.filter((range) => range.contains(date)).length > 0;
  }

  public dateSelected(): void {
    const res = new DateRange(
      this.dateRange.startDate.getTime() / 1000,
      this.dateRange.endDate.getTime() / 1000
    );
    this.$emit("input", res);
  }

  private stageStartDate = new Date();
  private stageStartHour = 0;
  public startSelected(start: Date): void {
    this.selectedStart = true;
    const hours = this.dateRange.startDate.getHours();
    this.stageStartHour = hours;
    this.stageStartDate = start;
  }

  public endSelected(end: Date): void {
    this.stageStartDate.setHours(this.stageStartHour);
    this.dateRange.startDate = this.stageStartDate;
    end.setHours(this.dateRange.endDate.getHours());
    this.selectedStart = false;
  }

  private fixEndHours(start: dayjs.Dayjs, end: dayjs.Dayjs): dayjs.Dayjs {
    const hours = end.diff(start, "hour");
    if (hours < 1) {
      console.error("end cannot be before start");
      return end.hour(start.hour() + 1);
    }
    return end;
  }

  get minStartHour(): number {
    const minHoursBeforeStart = 13;
    const minStartDate = dayjs().add(minHoursBeforeStart, "days");
    const now = dayjs();
    const tripStart = dayjs(this.dateRange.startDate);
    if (
      tripStart.isBefore(minStartDate) ||
      TimeIsSameDay(tripStart, minStartDate)
    ) {
      return now.add(minHoursBeforeStart, "hours").hour();
    }
    return 0;
  }

  get minEndHour(): number {
    if (isSameDay(this.dateRange.startDate, this.dateRange.endDate)) {
      //same day
      return this.dateRange.startDate.getHours() + 1;
    }
    return 0;
  }
}
</script>

<style lang="scss">
.pickerContainer {
  height: 0px;
  &.align-start {
    text-align: start;
  }
  &.align-end {
    text-align: end;
  }
}
.row .picker.vue-daterange-picker {
  min-width: 0px;
  .daterangepicker {
    &.opensright {
      left: 0px;
    }
    &.opensleft {
      right: 0px;
    }
  }
}

// .row.no-gutters .labelContainer.col.col-12 {
.row.no-gutters .compactContainer {
  margin-top: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  // background-color: #f2f2f2;
  .col {
    padding: 0;
    &.firstCol {
      max-width: 17rem;
    }
  }
  .col.label_container {
    max-width: 3rem;
  }
  .label {
    margin-right: 10px;
    font-weight: 500;
    opacity: 0.7;
  }
}

.v-toolbar .mockContainer {
  margin-top: 0px;
}
</style>
