<template>
  <div>
    <v-layout>
      <div class="mx-auto text-subtitle-1">{{ rangeText }}</div>
    </v-layout>
    <v-range-slider
      :value="value"
      @input="bubble($event)"
      :min="min"
      :max="max"
      track-color="gray"
      thumb-color="accent"
      track-fill-color="accent"
      :tick-size="tickSize"
    ></v-range-slider>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";

@Component
export default class RangeFilter extends Vue {
  @Prop({ required: true }) readonly min!: number;
  @Prop({ required: true }) readonly max!: number;
  @Prop() readonly value!: number[];
  @Prop({ default: 1 }) readonly tickSize!: number;
  @Prop() readonly labelFormatter?: (_: number[]) => string;
  // private range = this.value;

  get rangeText(): string {
    const formatter = this.labelFormatter
      ? this.labelFormatter
      : this.defaultFormatter;
    return formatter(this.value);
  }

  private defaultFormatter(vals: number[]) {
    if (!vals || vals.length < 2) {
      return "";
    }
    return `${vals[0]} - ${vals[1]}`;
  }

  public bubble(e: Event): void {
    this.$emit("input", e);
    this.$emit("label-change", this.value);
  }
}
</script>

<style lang="scss"></style>
