<template>
  <!-- <div> -->
  <!-- <v-card > -->
  <filter-container
    sheetStyle
    v-if="!combo"
    :label="computedComboLabel()"
    @apply="applyFilters"
    @reset="resetComboFilter"
    @close="$emit('close')"
  >
    <filter-group
      v-model="this.pendingFilters"
      :filters="this.comboFilters"
    ></filter-group>
  </filter-container>
  <!-- <v-card-title></v-card-title>
      <v-card-text> </v-card-text>
      <v-card-actions>
        <v-btn outlined text color="grey" @click="reset">Reset</v-btn>
        <v-btn depressed color="accent" @click="apply">Apply</v-btn>
      </v-card-actions> -->
  <!-- </v-card> -->
  <v-row v-else>
    <filter-group
      v-model="this.pendingFilters"
      button
      :filters="this.buttonFilters"
      @apply="applyFilters"
    >
    </filter-group>

    <filter-container
      :class="[{ changed: nonDefaultMoreFilters().length > 0 }, 'mr-4']"
      button
      :label="computedMoreLabel()"
      @reset="resetMoreFilters"
      @apply="applyFilters"
    >
      <filter-group
        v-model="pendingFilters"
        :filters="moreFilters"
        @apply="applyFilters"
      >
      </filter-group>
    </filter-container>
  </v-row>
  <!-- <v-btn text outlined @click="showMoreFilters = true"> More filters </v-btn> -->

  <!-- <v-dialog width="352px" scrollable>
      <template v-slot:activator="{ on }">
        <v-btn text outlined slot="activator" v-on="on"
          >More filters
        </v-btn></template
      >

      
    </v-dialog> -->
  <!-- <filter-container button label="More filters"> </filter-container> -->
  <!-- </div> -->
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop, Watch } from "vue-property-decorator";
import FilterContainer from "@/components/search/FilterContainer.vue";
import {
  DefaultFunctions,
  FilterType,
  defaultFilters,
  Filters,
  FiltersImpl,
  FilterDescription,
} from "@/types/FilterTypes";
import FilterGroup from "@/components/search/FilterGroup.vue";
import { FilterQuery } from "@/helpers/FilterQuery";

@Component({
  components: {
    FilterGroup,
    FilterContainer,
  },
})
export default class SearchFilters extends Vue {
  private showMoreFilters = false;
  @Prop({ required: true }) readonly value!: Filters;
  @Prop({ default: false, type: Boolean }) readonly combo!: boolean;
  private pendingFilters = this.value;
  private filterType = FilterType;
  private filterQuery = new FilterQuery(defaultFilters());
  private defaultFilters = defaultFilters();

  created(): void {
    this.pendingFilters = this.value;
  }

  private nonDefaultFilters(filters: any[]): (keyof Filters)[] {
    return filters
      .map((filterDesc) => filterDesc.field as keyof Filters)
      .filter(
        (key) => !FiltersImpl.eq(this.pendingFilters, this.defaultFilters, key)
      );
  }

  nonDefaultMoreFilters(): (keyof Filters)[] {
    return this.nonDefaultFilters(this.moreFilters);
  }

  resetMoreFilters(): void {
    this.nonDefaultMoreFilters().forEach((key) => {
      FiltersImpl.assign(this.pendingFilters, this.defaultFilters, key);
    });
    this.applyFilters();
  }

  computedMoreLabel(): string {
    const filterCount = this.nonDefaultMoreFilters().length;
    const postfix = filterCount > 0 ? " • " + filterCount : "";
    return "More filters" + postfix;
  }

  nonDefaultComboFilters(): (keyof Filters)[] {
    return FiltersImpl.changed(this.pendingFilters, this.defaultFilters);
  }

  computedComboLabel(): string {
    const filterCount = this.nonDefaultComboFilters().length;
    const postfix = filterCount > 0 ? " • " + filterCount : "";
    return "Filters" + postfix;
  }

  resetComboFilter(): void {
    this.nonDefaultComboFilters().forEach((key) => {
      FiltersImpl.assign(this.pendingFilters, this.defaultFilters, key);
    });
    this.applyFilters();
  }

  @Watch("value")
  valueChanged(newVal: Filters): void {
    this.pendingFilters = newVal;
  }

  private buttonFilters: FilterDescription[] = [
    new FilterDescription("Sort by", FilterType.Option, "sort"),
    new FilterDescription(
      "Price",
      FilterType.Range,
      "price",
      DefaultFunctions.priceFormatter
    ),
    new FilterDescription("Vehicle years", FilterType.Range, "year"),
  ];

  private moreFilters = [
    new FilterDescription("Transmission", FilterType.Option, "transmission"),
  ];

  private comboFilters = this.buttonFilters.concat(this.moreFilters);

  public applyFilters(): void {
    // const query = this.filterQuery.queryFromFilters(this.pendingFilters);
    // const currentQuery = this.$route.query;
    // this.$router.push({ query: mergeQuery(query, currentQuery) });
    // const pendingFilters = this.combo ? this.comboFilters : this.pendingFilters;
    this.$emit("input", this.pendingFilters);
  }
}
</script>

<style lang="scss">
.changed {
  button {
    background-color: rgba(0, 0, 0, 0.12);
    border-color: transparent !important;
  }
}
</style>
