<template>
  <div @click="$emit('click')">
    <div class="search-box">
      <search-date-range-picker
        v-model="dateRange"
        :compact="compact"
        :opens="opens"
      ></search-date-range-picker>
    </div>
    <v-btn
      class="mt-4"
      v-if="!compact"
      block
      depressed
      color="primary"
      @click="search"
    >
      Search for cars
    </v-btn>
  </div>
</template>

<script lang="ts">
import { FilterQuery } from "@/helpers/FilterQuery";
import { DateRange } from "@/helpers/Utils";
import { defaultFilters, Filters } from "@/types/FilterTypes";
import Vue from "vue";
import { Component, Prop, Watch } from "vue-property-decorator";
import SearchDateRangePicker from "./SearchDateRangePicker.vue";

@Component({
  components: {
    SearchDateRangePicker,
  },
})
export default class SearchBox extends Vue {
  private dateRange = new DateRange();
  @Prop({ default: () => defaultFilters() }) readonly value!: Filters;
  @Prop({ default: true, type: Boolean }) readonly compact!: boolean;
  @Prop({ default: "left" }) readonly opens!: string;
  @Prop({ default: false, type: Boolean }) readonly redirect!: boolean;
  private filters = this.value;
  private filterQuery = new FilterQuery(defaultFilters());

  @Watch("value")
  valueChanged(newVal: Filters): void {
    this.filters = newVal;
    this.syncDateRange();
  }

  @Watch("dateRange")
  dateChanged(): void {
    if (this.compact) this.search(); //auto search when compact
  }

  created(): void {
    this.filters = this.value;
    this.syncDateRange();
  }

  private syncDateRange(): void {
    if (this.filters.date[0] == 0) return;
    this.dateRange = new DateRange(this.filters.date[0], this.filters.date[1]);
  }

  public search(): void {
    this.filters.date = this.dateRange.asArray;
    this.$emit("input", this.filters);
    if (this.redirect) {
      const query = this.filterQuery.queryFromFilters(this.filters);
      this.$router.push({ name: "Search", query: query });
    }
  }
}
</script>

<style lang="scss">
// .search-box {
//   max-width: 344px;
// }
</style>
