<template>
  <pretty-date-range-picker
    :class="{ inDialogHack: inDialogHack }"
    :minDate="minDate"
    :maxDate="maxDate"
    :value="dateRange"
    :compact="compact"
    :opens="opens"
    :disabledDates="disabledDates"
    @input="dateSelected"
  ></pretty-date-range-picker>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop, Watch } from "vue-property-decorator";
import PrettyDateRangePicker from "@/components/search/PrettyDateRangePicker.vue";
import { DateRange } from "@/helpers/Utils";
import { FilterQuery, mergeQuery } from "@/helpers/FilterQuery";
import { defaultFilters, Filters } from "@/types/FilterTypes";
import dayjs from "dayjs";

@Component({
  components: {
    PrettyDateRangePicker,
  },
})
export default class SearchDateRangePicker extends Vue {
  @Prop({}) readonly value!: DateRange;
  @Prop({ default: true, type: Boolean }) readonly compact!: boolean;
  @Prop({ default: () => [] }) readonly disabledDates!: DateRange[];
  @Prop({ default: "left" }) readonly opens!: string;
  @Prop({ default: false, type: Boolean }) readonly inDialogHack!: boolean;
  @Prop({ default: true, type: Boolean }) readonly reflectQuery!: boolean;
  private dateRange = this.value;
  private filterQuery = new FilterQuery(defaultFilters());

  created(): void {
    this.dateRange = this.value;
    const query = this.$route.query;
    const filters = this.filterQuery.filtersFromQuery(query);
    this.syncDateRange(filters);
  }

  private syncDateRange(filters: Filters): void {
    if (filters.date[0] == 0) return;
    this.dateRange.startDate = dayjs.unix(filters.date[0]);
    this.dateRange.endDate = dayjs.unix(filters.date[1]);
  }

  @Watch("value")
  onValueChange(): void {
    this.dateRange = this.value;
  }

  get minDate(): Date {
    const minHoursBeforeStart = 13;
    let minDate = dayjs().add(minHoursBeforeStart, "hour").subtract(1, "days"); //TODO important how long?
    return minDate.toDate();
  }

  get maxDate(): Date {
    const maxAdvanceDays = 90;
    let maxDate = new Date();
    maxDate.setDate(maxDate.getDate() + maxAdvanceDays);
    return maxDate;
  }

  public dateSelected(value: DateRange): void {
    if (this.reflectQuery) {
      const query = this.filterQuery.queryFromRange(value); //TODO
      const currentQuery = this.$route.query;
      this.$router.push({ query: mergeQuery(query, currentQuery) });
    }

    this.$emit("input", value);
  }
}
</script>

<style lang="scss">
.inDialogHack {
  .vue-daterange-picker {
    position: absolute;
    margin-top: -88px;
  }
}
</style>
