<template>
  <v-autocomplete
    v-model="model"
    :items="items"
    :loading="isLoading"
    :search-input.sync="search"
    clearable
    :rules="[rules.notEmptyRule]"
    item-text="searchable"
    item-value="vin"
    label="Search for a car"
  >
    <template v-slot:no-data>
      <v-list-item>
        <v-list-item-title> Start typing car details </v-list-item-title>
      </v-list-item>
    </template>
    <!-- <template v-slot:selection="{ item }">
        {{item.vin}}
      </template> -->
    <template v-slot:item="{ item }">
      <v-list-item-content>
        <v-list-item-title v-text="item.title"></v-list-item-title>
        <v-list-item-subtitle v-text="item.vin"></v-list-item-subtitle>
      </v-list-item-content>
    </template>
  </v-autocomplete>
</template>

<script lang="ts">
import { CarListing } from "@/types/CarTypes";
import Vue from "vue";
import { Component, Prop, Watch } from "vue-property-decorator";
import { Rules } from "@/types/InputRules";

@Component
export default class VinAutocomplete extends Vue {
  private items: CarListing[] = [];
  private isLoading = false;
  private search = "";
  private readonly rules = Rules;
  @Prop({ required: true, default: "" }) value!: string;
  private model = this.value;

  created(): void {
    this.searchChanged();
  }

  @Watch("value")
  public valueChanged(val: string): void {
    this.model = val;
  }

  @Watch("model")
  public modelChanged(val: string): void {
    this.$emit("input", val);
  }

  // @Watch("search")
  public searchChanged(): void {
    // if (this.items.length > 0) return;
    this.isLoading = true;

    this.$cars
      .list()
      .then((resp) => {
        //TODO autocomplete doesn't update right when preselected
        this.items = resp.data.map((cl) => Object.assign(new CarListing(), cl));
      })
      .catch((err) => {
        console.error("fetching cars: " + err);
      })
      .finally(() => (this.isLoading = false));
  }
}
</script>

<style lang="scss"></style>
