<template>
  <v-stepper class="elevation-0" v-model="step" vertical>
    <v-stepper-step :complete="user.validEmail" step="1">
      Verify email address
    </v-stepper-step>

    <v-stepper-content step="1">
      <email-verify :email="user.email" />
    </v-stepper-content>

    <v-stepper-step :complete="user.validPhone" step="2">
      Verify Phone
    </v-stepper-step>

    <v-stepper-content step="2">
      <sms-verify
        :user="user"
        :phoneNumber="user.phone"
        @done="user.validPhone = true"
      ></sms-verify>
    </v-stepper-content>

    <v-stepper-step :complete="user.validLicense" step="3">
      Driver's License
    </v-stepper-step>

    <v-stepper-content step="3">
      <VerifyHuman @done="verifiedLicense" />
      <!-- <upload-license @done="finalDone"></upload-license> -->
    </v-stepper-content>
    <div v-if="step == 4">
      <v-row justify="center">
        <h2 class="text-h6">
          Your details have been verified, you are ready to rent a car.
        </h2>
      </v-row>
      <v-row justify="center">
        <v-btn
          class="mt-2"
          v-if="redirect"
          depressed
          color="primary"
          @click="continueBooking"
          >Continue with booking</v-btn
        >
      </v-row>
    </div>
  </v-stepper>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import Signup from "@/components/register/Signup.vue";
import { emptyUser, User } from "@/types/UserTypes";
import SmsVerify from "@/components/register/SmsVerify.vue";
import UploadLicense from "@/components/register/UploadLicense.vue";
import VerifyHuman from "@/components/register/VerifyHuman.vue";
import EmailVerify from "@/components/register/EmailVerify.vue";

@Component({
  components: {
    Signup,
    SmsVerify,
    UploadLicense,
    VerifyHuman,
    EmailVerify,
  },
})
export default class SignupFlow extends Vue {
  @Prop() readonly redirect!: string;

  private step = 1;
  private user: User = emptyUser();
  private phone?: string;
  private smsDone = this.user.validPhone;

  created(): void {
    this.$auth.listenForUser((user) => {
      this.user = user;
      this.gotoNextStep();
    });
    this.$auth.fetchUserSelf();
  }

  private gotoNextStep(): void {
    if (!this.user.validEmail) {
      this.step = 1;
      return;
    }
    if (!this.user.validPhone) {
      this.step = 2;
      return;
    }
    if (!this.user.validLicense) {
      this.step = 3;
      return;
    }
    this.step = 4;
  }

  public onRegister(user: User): void {
    this.user = user;
    this.phone = user.phone;
    this.step = 2;
  }

  public verifiedLicense(): void {
    this.user.validLicense = true;
    this.gotoNextStep();
  }

  public continueBooking(): void {
    if (this.redirect) {
      this.$router.push(this.redirect);
    }
  }
}
</script>

<style lang="scss"></style>
