<template>
  <v-container>
    <p>A verification link has been sent to your email address {{ email }}</p>
    <p>
      Please complete the verification by following the instructions given in
      the email.
    </p>
    <p class="text-caption mb-1">
      Check your spam folder to make sure it didn't end up there.
    </p>
    <div class="text-caption mt-0 mb-2">
      If you do not receive the varification email within 2 minutes, you can
      resend the verificaiton email by
      <a @click="resend">clicking here.</a>
    </div>
    <v-alert dense outlined type="error" v-if="resendError">
      Can't send another mail for {{ timeout }} seconds.
    </v-alert>
    <v-alert dense outlined type="error" v-if="sendError">
      Problem sending mail, please check your email and try again in a few
      minutes.
    </v-alert>
    <v-alert dense outlined type="info" v-if="resent">
      Sent a new verification mail.
    </v-alert>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { secondsBetween } from "@/helpers/Utils";

@Component
export default class EmailVerify extends Vue {
  @Prop({ required: true }) readonly email!: string;
  private phone = "";
  private token = "";
  private sent = false;
  private sentTime = new Date(0);
  private sendError = false;
  private resendError = false;
  private resent = false;
  private timeout = 0;
  private readonly timeoutTime = 60;

  public sendEmail(): void {
    this.sendError = false;
    this.resendError = false;
    this.$auth
      .sendEmailVerification()
      .then(() => {
        this.sent = true;
        this.sentTime = new Date();
      })
      .catch((err) => {
        this.sendError = true;
        console.error("sendVerificationMail: " + err);
      });
  }

  public resend(): void {
    if (secondsBetween(new Date(), this.sentTime) < this.timeoutTime) {
      this.resendError = true;
      this.startTimeout();
    } else {
      this.resent = true;
      this.sendEmail();
    }
  }

  private startTimeout(): void {
    if (this.timeout != 0) return;
    this.timeout = this.timeoutTime - secondsBetween(new Date(), this.sentTime);
    const intervalID = setInterval(() => {
      this.timeout--;
      if (this.timeout == 0) {
        clearInterval(intervalID);
        this.resendError = false;
      }
    }, 1000);
  }

  private reset(): void {
    this.sendError = false;
    this.resendError = false;
    this.resent = false;
    this.sent = false;
    this.sentTime = new Date(0);
    this.timeout = 0;
    this.token = "";
  }
}
</script>

<style lang="scss"></style>
