<template>
  <v-btn :loading="loading" v-bind="{ ...$props, ...$attrs }" @click="verify"
    >Verify</v-btn
  >
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import { loadStripe, Stripe } from "@stripe/stripe-js";

@Component
export default class UploadLicense extends Vue {
  private loading = false;
  private stripe!: Stripe;
  private loadError =
    "Problem contacting payment server, please try again in a few minutes";
  private readonly pulishableKey =
    "pk_test_51IqX8hAmDEGdU9XxbBj8HryBu8EcwAHwyVE3hXuacXdfUboeI6h8BF3LAEUbSK7EXGwo0KE7GmdgZkssgAr3AUNt003IZHnChl";

  private stripePromise!: Promise<void>;

  created(): void {
    this.stripePromise = loadStripe(this.pulishableKey)
      .then((resp) => {
        if (!resp) {
          console.error("loadStripe returned empty");
          this.$emit("error", this.loadError);
          return;
        }
        this.stripe = resp;
      })
      .catch((err) => {
        console.error("loading stripe: " + err);
        this.$emit("error", this.loadError);
      });
  }

  public verify(): void {
    this.loading = true;
    this.doVerify()
      .catch((err) => {
        console.error("verify: " + err);
        this.$emit("error", this.loadError);
      })
      .finally(() => (this.loading = false));
  }

  async doVerify(): Promise<void> {
    await this.stripePromise;
    const clientSecret = (await this.$auth.licenseVerificationSession()).data;
    const result = await (this.stripe as any).verifyIdentity(clientSecret); //TODO remove when stripe updates
    this.loading = false;
    if (result && result.error && result.error.type === "user_action")
      this.$emit("error", "Verification was cancelled before completion.");
    else this.$emit("done");
  }
}
</script>

<style lang="scss"></style>
