<template>
  <v-form v-model="valid" ref="form" lazy-validation @submit.prevent="login">
    <v-container class="pa-8">
      <v-row justify="center">
        <h2 class="text-h4 mb-5 pt-6">Welcome back</h2>
      </v-row>
      <v-alert dense outlined type="error" v-if="serverError">
        {{ serverError }}. Or try to
        <a @click="$emit('toggle', 'signup')">Signup?</a>
      </v-alert>

      <!-- <v-text-field
        v-model="request.phone"
        :rules="phoneRules"
        :counter="10"
        label="Phone number"
        required
      ></v-text-field> -->

      <v-text-field
        v-model="request.email"
        :rules="emailRules"
        :error-messages="emailErrors"
        label="E-mail"
        required
      ></v-text-field>

      <v-text-field
        v-model="request.password"
        :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
        :type="showPass ? 'text' : 'password'"
        label="Password"
        :counter="8"
        :rules="passRules"
        @click:append="showPass = !showPass"
        required
      ></v-text-field>

      <v-btn
        block
        :disabled="loading || !valid"
        :loading="loading"
        type="submit"
        color="accent"
        class="mt-3"
      >
        Login
      </v-btn>

      <div class="mt-5 text.subtitle-2">
        Don't have an account?
        <a @click="$emit('toggle', 'signup')">Signup now</a>
      </div>
      <div class="mt-5 text.subtitle-2">
        Forgot your password?
        <a @click="$emit('toggle', 'reset')">Reset password</a>
      </div>
    </v-container>
  </v-form>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Ref } from "vue-property-decorator";
import { LoginRequest } from "@/types/authTypes";
import birthdayPicker from "@/components/BirthdayPicker.vue";

@Component({
  components: {
    birthdayPicker,
  },
})
export default class Login extends Vue {
  private valid = false;
  private showPass = false;
  private emailErrors: string[] = [];
  private serverError = "";
  private loading = false;

  private request: LoginRequest = {
    email: "",
    // phone: "",
    password: "",
  };
  // @Prop() readonly user: Object;

  private passRules = [
    (v: unknown) => !!v || "Password is required",
    (v: any) => (v && v.length >= 8) || "Must be at least 8 characters",
  ];

  private emailRules = [
    (v: unknown) => !!v || "E-mail is required",
    (v: any) => /.+@.+\..+/.test(v) || "E-mail must be valid",
  ];

  // private phoneRules = [
  //   (v: any) => !!v || "Phone is required",
  //   (v: any) => (v && v.length == 10) || "Invlid phone number",
  // ];

  @Ref("form") readonly form!: HTMLFormElement;
  public login(): void {
    const valid = this.form.validate();
    console.log("login form: login is valid " + this.valid);
    if (!this.valid) return;

    this.loading = true;
    this.$auth
      .attemptLogin(this.request)
      .then((response) => {
        this.$emit("registered", response.data);
      })
      .catch((err) => {
        if (err.response.status == 400 /*bad request*/) {
          this.serverError = "email and password don't match!";
        } else {
          this.serverError =
            "Oops, couldn't log you in, try again in a few minutes";
        }
      })
      .finally(() => {
        this.loading = false;
      });
  }
}
</script>

<style lang="scss">
li a {
  text-decoration: none;
}
</style>
