<template>
  <v-text-field
    v-mask="'(###) ###-####'"
    :rules="r.phoneRules"
    :counter="14"
    v-bind="$props"
    v-on="$listeners"
  >
  </v-text-field>
</template>

<script>
import { VTextField } from "vuetify/lib";
import { mask } from "vue-the-mask";
import { Rules } from "@/types/InputRules";

export default {
  name: "PhoneField",
  extends: VTextField,
  directives: { mask },
  data: () => ({
    r: Rules,
  }),
};
</script>
