<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" max-width="600px">
      <v-card>
        <login
          v-if="page == 'login'"
          @toggle="page = $event"
          @registered="onRegistered"
        ></login>
        <signup
          v-if="page == 'signup'"
          @toggle="page = $event"
          @registered="onRegistered"
        ></signup>
        <reset-password v-if="page == 'reset'" @toggle="page = $event" />
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script lang="ts">
import Vue from "vue";
import signup from "@/components/register/Signup.vue";
import login from "@/components/register/Login.vue";
import signupFlow from "@/components/register/SignupFlow.vue";
import ResetPassword from "@/components/register/ResetPassword.vue";
import { Component } from "vue-property-decorator";
import { bus } from "@/EventBus";
import { User } from "@/types/UserTypes";

@Component({
  components: {
    signup,
    login,
    signupFlow,
    ResetPassword,
  },
})
export default class Register extends Vue {
  private dialog = false;
  private login = true;
  private page = "login";
  private callback?: () => void;

  onRegistered(user: User): void {
    this.dialog = false;
    // if (user.role === Role.Admin) {
    //   this.$router.push("/admin/trips");
    // }
    bus.$emit("registered", user);
    this.callback?.();
  }

  created(): void {
    bus.$on("login", (callback: () => void) => {
      this.login = true;
      this.page = "login";
      this.dialog = true;
      this.callback = callback;
    });
    bus.$on("signup", () => {
      this.login = false;
      this.page = "signup";
      this.dialog = true;
    });
  }
}
</script>

<style lang=""></style>
