<template>
  <v-container>
    <v-card>
      <v-card-text>
        <v-row>
          <h4 class="text-h6 mx-auto">
            Enter your email to reset your password
          </h4>
        </v-row>
        <v-divider class="mt-4" />

        <v-alert class="mt-4" dense text :type="alertType" v-if="alertText">
          {{ alertText }}
        </v-alert>

        <v-form
          class="mt-4"
          v-model="valid"
          ref="form"
          @submit.prevent="submit"
        >
          <v-text-field
            outlined
            v-model="email"
            :rules="rules.emailRules"
            label="E-mail"
            required
          ></v-text-field>

          <v-btn
            class="mt-2"
            block
            :loading="loading"
            :disabled="!valid"
            type="submit"
            color="primary"
          >
            Reset password
          </v-btn>
        </v-form>
      </v-card-text>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import { Rules } from "@/types/InputRules";

@Component
export default class ResetPassword extends Vue {
  private email = "";
  private valid = false;
  private rules = Rules;
  private loading = false;

  private alertType = "";
  private alertText = "";

  public submit(): void {
    console.log("submit");
    this.loading = true;
    this.$auth
      .requestPasswordReset(this.email)
      .then(() => {
        this.alertType = "info";
        this.alertText =
          "A password reset link has been sent to your email account.";
      })
      .catch(() => {
        this.alertType = "error";
        this.alertText = "Problem resetting password, please try again later";
      })
      .finally(() => (this.loading = false));
  }
}
</script>

<style lang="scss"></style>
