<template>
  <v-stepper v-model="step" alt-labels non-linear>
    <v-stepper-items>
      <v-stepper-content step="1">
        <signup @registered="onRegister" @toggle="$emit('toggle')"></signup>
      </v-stepper-content>

      <v-stepper-content step="2">
        <sms-verify :phoneNumber="user.phone" :user="user"></sms-verify>
      </v-stepper-content>

      <v-stepper-content step="3">
        <upload-license @done="finalDone"></upload-license>
      </v-stepper-content>
    </v-stepper-items>
    <v-stepper-header>
      <v-stepper-step editable :complete="step > 1" step="1">
        Signup
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step editable :complete="step > 2" step="2">
        Verify Phone
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step editable step="3"> Upload License </v-stepper-step>
    </v-stepper-header>
  </v-stepper>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop, Ref, Watch } from "vue-property-decorator";
import Signup from "@/components/register/Signup.vue";
import { emptyUser, User } from "@/types/UserTypes";
import SmsVerify from "@/components/register/SmsVerify.vue";
import UploadLicense from "@/components/register/UploadLicense.vue";

@Component({
  components: {
    Signup,
    SmsVerify,
    UploadLicense,
  },
})
export default class SignupFlow extends Vue {
  private step = 1;
  private user: User = emptyUser();
  private phone?: string;
  public onRegister(user: User) {
    this.user = user;
    this.phone = user.phone;
    this.step = 2;
  }

  public finalDone() {
    this.$emit("registered", this.user);
  }
}
</script>

<style lang="scss"></style>
