<template>
  <v-form v-model="valid" ref="form" lazy-validation @submit.prevent="signup">
    <v-container class="pa-8">
      <v-row justify="center">
        <h2 class="text-h4 mb-5 mt-3">Let's get started</h2>
      </v-row>
      <v-alert dense outlined type="error" v-if="serverError">
        {{ serverError }} try to <a @click="$emit('toggle', 'login')">Login?</a>
      </v-alert>
      <v-row class="mt-2">
        <v-col cols="6">
          <v-text-field
            outlined
            v-model="request.firstName"
            :rules="rules.nameRules"
            :counter="12"
            label="First name"
            required
          ></v-text-field>
        </v-col>

        <v-col cols="6">
          <v-text-field
            outlined
            v-model="request.lastName"
            :rules="rules.nameRules"
            :counter="12"
            label="Last name"
            required
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row no-gutters>
        <v-col cols="12">
          <birthday-picker
            required
            label="date of birth"
            v-model="request.birthDate"
            :rules="[rules.notEmptyRule]"
          >
          </birthday-picker>
        </v-col>
      </v-row>

      <v-row class="mt-0">
        <v-col cols="6" class="pt-0">
          <v-text-field
            outlined
            v-model="request.email"
            :rules="emailRules"
            :error-messages="emailErrors"
            label="E-mail"
            required
          ></v-text-field>
        </v-col>
        <v-col cols="6" class="pt-0">
          <phone-field
            outlined
            v-model="request.phone"
            label="Phone #"
            :rules="phoneRules"
            required
          >
          </phone-field>
        </v-col>
      </v-row>

      <v-text-field
        outlined
        v-model="request.password"
        :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
        :type="showPass ? 'text' : 'password'"
        label="Password"
        :counter="8"
        :rules="rules.passRules"
        @click:append="showPass = !showPass"
        required
      ></v-text-field>

      <v-btn
        block
        :loading="loading"
        :disabled="!valid"
        type="submit"
        color="accent"
        class="mt-3"
      >
        Signup
      </v-btn>

      <div class="mt-5 text.subtitle-2">
        Already have an account?
        <a @click="$emit('toggle', 'login')">Login now</a>
      </div>
    </v-container>
  </v-form>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Ref } from "vue-property-decorator";
import { SignupRequest } from "@/types/authTypes";
import birthdayPicker from "@/components/BirthdayPicker.vue";
import { mask } from "vue-the-mask";
import PhoneField from "@/components/register/PhoneField.vue";
import { Rules } from "@/types/InputRules";

@Component({
  components: {
    birthdayPicker,
    PhoneField,
  },
  directives: {
    mask,
  },
})
export default class Signup extends Vue {
  private valid = false;
  private showPass = false;
  private emailErrors: string[] = [];
  private serverError = "";
  private loading = false;
  private rules = Rules;

  private request: SignupRequest = {
    firstName: "",
    lastName: "",
    email: "",
    phone: "",
    password: "",
    birthDate: "",
  };
  // @Prop() readonly user: Object;

  private emailRules = [...this.rules.emailRules];
  private phoneRules = [...this.rules.phoneRules];

  public updateDate(dateString: string): void {
    this.request.birthDate = dateString;
  }

  @Ref("form") readonly form!: HTMLFormElement;
  public signup(): void {
    const valid = this.form.validate();
    console.log("signup form: Signup is valid " + valid);
    if (!valid) return;

    this.loading = true;
    this.$auth
      .attemptSignup(this.request)
      .then((response) => {
        this.$emit("registered", response.data);
      })
      .catch((err) => {
        if (err.response.status == 409 /*created*/) {
          if (err.response.data.mailExists === true) {
            console.log("mail exists");
            const mail = this.request.email;
            const error = "user with mail " + mail + " already exists!";
            this.serverError = error;
            this.emailRules.push((v: string) => v !== mail || error);
            this.form.validate();
            return;
          }
          if (err.response.data.phoneExists === true) {
            console.log("phone exists");
            const phone = this.request.phone;
            const error = "user with phone " + phone + " already exists!";
            this.serverError = error;
            // this.phoneRules.push((v: string) => v !== phone || error); //TODO show error in phone input
            this.form.validate();
            return;
          }
        }
        this.serverError =
          "Problem creating user, please check that the details are correct and try again later.";
      })
      .finally(() => (this.loading = false));
  }
}
</script>

<style lang="scss">
li a {
  text-decoration: none;
  cursor: pointer;
}
</style>
