<template>
  <v-container>
    <div v-if="!sent">
      <v-row :justify="justify">
        <h2 class="headline mb-3">Verify Phone Number.</h2>
      </v-row>
      <v-divider></v-divider>
      <v-row :justify="justify" class="mt-2">
        <v-col cols="4">
          <phone-field v-model="phone" label="Phone number" required>
          </phone-field>
        </v-col>
      </v-row>
      <v-alert dense outlined type="error" v-if="alreadyVerified">
        Your phone number is already verified.
      </v-alert>
      <v-row :justify="justify">
        <v-btn
          :loading="sending"
          depressed
          @click="sendSmsToken"
          color="primary"
        >
          Send Code
        </v-btn>
      </v-row>
    </div>
    <div v-else>
      <v-row :justify="justify">
        <h2 class="headline mb-3">Enter the verification code.</h2>
      </v-row>
      <v-divider></v-divider>
      <div>
        A text message with a 6 digit code was sent to phone number
        {{ hiddenPhone }}.
      </div>
      <v-row :justify="justify" class="mt-2" no-gutters dense>
        <v-col cols="4">
          <v-text-field
            v-model="token"
            counter="6"
            v-mask="'######'"
            inputmode="numeric"
            autocomplete="one-time-code"
            :error-messages="verificationErrors"
            outlined
            label="Verification Code"
          ></v-text-field>
        </v-col>
      </v-row>
      <v-alert dense outlined type="error" v-if="resendError">
        Can't send another code for {{ timeout }} seconds.
      </v-alert>
      <v-alert dense outlined type="error" v-if="sendError">
        Problem sending code, please check your number and try again in a few
        minutes.
      </v-alert>
      <v-alert dense outlined type="info" v-if="resent">
        Sent a new verification code.
      </v-alert>
      <v-btn :loading="verifying" depressed @click="verify" color="primary"
        >Verify</v-btn
      >
      <div>Didn't get a code? <a @click="resend">Resend.</a></div>
      <div>
        Not your phone number? <a @click="changePhone"> Change phone number.</a>
      </div>
    </div>
  </v-container>
</template>

<script lang="ts">
import { secondsBetween } from "@/helpers/Utils";
import Vue from "vue";
import { Component, Prop } from "vue-property-decorator";
import { mask } from "vue-the-mask";
import PhoneField from "@/components/register/PhoneField.vue";
import { User } from "@/types/UserTypes";

@Component({
  components: {
    PhoneField,
  },
  directives: {
    mask,
  },
})
export default class SmsVerify extends Vue {
  @Prop({ required: true }) readonly phoneNumber!: string;
  @Prop({ default: "center" }) readonly justify!: string;
  @Prop({ required: true }) readonly user!: User;

  private phone = "";
  private token = "";
  private sending = false;
  private verifying = false;
  private sent = false;
  private sentTime = new Date(0);
  private secondsBetweenSends = 60;
  private sendError = false;
  private resendError = false;
  private resent = false;
  private timeout = 0;
  private alreadyVerified = false;

  private verificationErrors = "";

  created(): void {
    this.phone = this.phoneNumber;
  }

  private reset(): void {
    this.sendError = false;
    this.alreadyVerified = false;
    this.resendError = false;
    this.resent = false;
    this.sent = false;
    this.sentTime = new Date(0);
    this.timeout = 0;
    this.token = "";
  }

  private async sendSmsToken(): Promise<void> {
    this.alreadyVerified = false;
    this.sending = true;
    this.sendSmsTokenImpl()
      .catch((err) => {
        this.sendError = true;
        console.error("sendSmsToken: " + err);
      })
      .finally(() => (this.sending = false));
  }

  private async sendSmsTokenImpl(): Promise<void> {
    this.sendError = false;
    this.resendError = false;
    if (this.phone != this.phoneNumber) {
      try {
        await this.$auth.updatePhone(this.phone);
      } catch (err) {
        console.error("update: " + err);

        // if (err.response.status === "304") { // NotModified
        //   if (user.validPhone)
        // }
      }
    } else if (this.user.validPhone) {
      this.alreadyVerified = true;
      return;
    }
    await this.$auth.sendSmsToken();
    this.sent = true;
    this.sentTime = new Date();
  }

  public verify(): void {
    this.verifying = true;
    this.$auth
      .verifySmsToken(this.token)
      .then(() => this.$emit("done"))
      .catch((err) => {
        console.error("verifySmsToken: " + err);
        this.verificationErrors =
          "Incorrect verifcation code, please try again.";
      })
      .finally(() => (this.verifying = false));
  }

  get hiddenPhone(): string {
    return "******" + this.phoneNumber?.slice(-4);
  }

  public resend(): void {
    if (secondsBetween(new Date(), this.sentTime) < this.secondsBetweenSends) {
      this.resendError = true;
      this.startTimeout();
    } else {
      this.resent = true;
      this.sendSmsToken();
    }
  }

  public changePhone(): void {
    this.reset();
  }

  private startTimeout(): void {
    if (this.timeout != 0) return;
    const timeoutTime =
      this.secondsBetweenSends - secondsBetween(new Date(), this.sentTime);
    this.timeout = timeoutTime;
    const intervalID = setInterval(() => {
      this.timeout--;
      if (this.timeout == 0) {
        clearInterval(intervalID);
        this.resendError = false;
      }
    }, 1000);
  }
  // public change(e: KeyboardEvent) {
  //   debugger;
  // }
}
</script>

<style lang="scss">
.text-h4 {
  font-weight: 500;
  opacity: 0.7;
}
.text-h6 {
  font-weight: 400;
  opacity: 0.7;
}
</style>
