<template>
  <v-container>
    <v-row justify="center">
      <h2 class="headline mb-3">
        Almost done, just upload a photo of you driver's license
      </h2>
    </v-row>
    <v-progress-linear
      v-if="saving"
      buffer-value="0"
      color="orange"
      stream
      :value="progress"
    ></v-progress-linear>
    <v-divider></v-divider>
    <upload-image
      :saving="saving"
      class="mt-2"
      @uploaded="uploaded"
    ></upload-image>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import UploadImage from "@/components/image/UploadImage.vue";
@Component({
  components: {
    UploadImage,
  },
})
export default class UploadLicense extends Vue {
  private saving = false;
  private progress = 0;

  private onUploadProgress(percentComplete: number) {
    this.progress = Math.min(percentComplete, 95);
  }

  public uploaded(imgData: Blob): void {
    this.saving = true;
    this.$auth
      .uploadLicense(imgData, this.onUploadProgress)
      .then(() => this.$emit("done"))
      .catch((err) => {
        console.error("uploading " + err);
      })
      .finally(() => (this.saving = false));
  }
}
</script>

<style lang="scss"></style>
