<template>
  <v-container>
    <v-row justify="center">
      <h2 class="headline">
        We just need some details to verify your driver's license.
      </h2>
    </v-row>
    <v-divider class="mt-4"></v-divider>
    <v-row justify="center" class="mt-2">
      <v-form v-model="valid" ref="form" @submit.prevent="verify">
        <v-row>
          <v-col cols="4">
            <v-text-field
              v-model="request.firstName"
              :rules="rules.nameRules"
              :counter="10"
              label="First name"
              required
            ></v-text-field>
          </v-col>

          <v-col cols="4">
            <v-text-field
              v-model="request.middleName"
              label="Middle name"
            ></v-text-field>
          </v-col>
          <v-col cols="4">
            <v-text-field
              v-model="request.lastName"
              :rules="rules.nameRules"
              :counter="10"
              label="Last name"
              required
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6">
            <v-select
              disabled
              persistent-hint
              hint="Only US driver's license"
              label="Country"
              :items="[country]"
              v-model="country"
            />
          </v-col>
          <v-col cols="6">
            <state-autocomplete v-model="request.state" />
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="6">
            <v-text-field
              v-model="request.licenseNumber"
              :rules="rules.nameRules"
              :counter="10"
              label="License number"
              required
            ></v-text-field>
          </v-col>
        </v-row>
        <date-picker
          class="mt-2"
          v-model="request.expDate"
          label="Expiration date"
          yearPlaceholder="2023"
          :minDate="minLicenseDate"
          :maxDate="maxLicenseDate"
        />
        <birthday-picker v-model="request.birthDate" class="mt-2" />

        <v-btn
          @click="verify"
          :loading="loading"
          :disabled="!valid"
          depressed
          color="primary"
          >Continue</v-btn
        >
      </v-form>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import { mask } from "vue-the-mask";
import StateAutocomplete from "@/components/register/StateAutocomplete.vue";
import { Driver } from "@/types/UserTypes";
import { Rules } from "@/types/InputRules";
import BirthdayPicker from "@/components/BirthdayPicker.vue";
import DatePicker from "@/components/DatePicker.vue";

@Component({
  components: {
    StateAutocomplete,
    BirthdayPicker,
    DatePicker,
  },
  directives: {
    mask,
  },
})
export default class VerifyHuman extends Vue {
  private valid = false;
  private rules = Rules;
  private request = new Driver();
  private country = "United States";
  private loading = false;

  created(): void {
    this.request.phone = this.$auth.user?.phone ?? "";
  }

  public verify(): void {
    if (!this.valid) return;

    this.loading = true;
    this.$auth
      .verifyLicense(this.request)
      .then(() => this.$emit("done"))
      .catch((err) => console.error("verify license: " + err))
      .finally(() => (this.loading = false));
  }

  get minLicenseDate(): string {
    return "" + new Date().getFullYear();
  }

  get maxLicenseDate(): string {
    const maxLicenseTime = 20; //years
    return "" + (new Date().getFullYear() + maxLicenseTime);
  }
}
</script>

<style lang="scss"></style>
