<template>
  <v-container>
    <v-progress-linear
      v-if="loading"
      color="secondary"
      indeterminate
    ></v-progress-linear>
    <div v-else>
      <div v-if="!processing && !verified">
        <v-row justify="center">
          <h2 class="headline">
            We just need some details to verify your driver's license.
          </h2>
        </v-row>
        <v-divider class="mt-4"></v-divider>
        <v-row justify="center" class="mt-2">
          <identity-button
            color="primary"
            block
            depressed
            @error="serverError = $event"
            @done="waitForProcessing"
          />
          <v-alert class="mt-2" dense outlined type="error" v-if="serverError">
            {{ serverError }}
          </v-alert>
        </v-row>
      </div>
    </div>

    <v-alert class="mt-2" dense outlined type="info" v-if="processing">
      Processing license information, this usually takes a few minutes.
    </v-alert>
  </v-container>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import IdentityButton from "@/components/register/IdentityButton.vue";

@Component({
  components: {
    IdentityButton,
  },
})
export default class VerifyHuman extends Vue {
  private serverError = "";
  private processing = false;
  private loading = true;
  private verified = false;

  created(): void {
    this.checkVerification();
  }

  private async checkVerification(): Promise<boolean> {
    this.loading = true;
    const verification = (await this.$auth.getLicenseVerification()).data;
    if (!verification) {
      this.collectVerification();
      return false;
    }
    if (verification.status === "verified") {
      this.verify();
      return true;
    } else if (verification.status === "pending") {
      this.waitForProcessing();
    } else {
      this.serverError =
        "There was a problem with the last verificaiton attempt: " +
        verification.error +
        " please try again.";
    }
    this.loading = false;
    return false;
  }

  public collectVerification(): void {
    this.loading = false;
    this.processing = false;
    this.verified = false;
  }

  public waitForProcessing(): void {
    this.processing = true;
    const checkEvery = 1000 * 15; // 15 seconds
    const intervalID = setInterval(() => {
      this.processing = false;
      this.checkVerification().then(() => {
        clearInterval(intervalID);
      });
    }, checkEvery);
  }

  private verify(): void {
    this.loading = false;
    this.processing = false;
    this.verified = true;
    this.$emit("done");
  }
}
</script>

<style lang="scss"></style>
