<template>
  <div>
    <page-error v-if="notFound" tripNotFound />
    <v-container v-else class="bookContainer">
      <div class="container">
        <div class="text-h4">Review Trip Details</div>
        <trip-card
          editable
          :car="car.carListing"
          :trip="trip"
          @editDates="showDates = !showDates"
        />
        <v-btn @click="showDates = !showDates" outlined color="primary">
          Change Dates
        </v-btn>
        <car-date-range-picker
          v-if="showDates && !confirming"
          :vin="car.vin"
          :tripId="trip.id"
          :reflectQuery="false"
          class="mt-4"
          v-model="dates"
          opens="left"
        />
        <v-progress-linear class="mt-4" v-if="confirming" indeterminate />
        <v-divider class="mt-4 mb-4"></v-divider>
        <v-alert dense text type="error" v-if="alertText">
          {{ alertText }}
        </v-alert>
        <protection-selection
          v-model="protectionOption"
          :insuranceCosts="car.insurance"
          :selectedProtectionType="selectedProtectionType"
        />
        <v-divider class="mt-4 mb-4"></v-divider>
        <div class="text-h6">Pricing</div>
        <trip-info
          v-show="false"
          class="trip-info"
          v-if="dates"
          v-model="price"
          :tripID="tripID"
          :car="car"
          :startDates="dates"
          :showDates="false"
          :showCalculator="false"
          :expanded="false"
          :insurance="protectionOption"
          :showPriceChange="isReschedule"
          @priceDiff="priceDiff = $event"
          @tripPriceUpdate="tripPrice = $event"
          submitLabel="update dates"
          opens="left"
        />
        <price-details
          :dates="dates"
          :insurance="protectionOption"
          :price="tripPrice"
          :car="car"
          :trip="serverTrip"
        />
        <v-divider class="mt-4 mb-4"></v-divider>

        <h4 class="text-h6">Billing</h4>
        <payment
          @paymentMethodSelected="selectedPaymentID = $event"
          :show="requiresPayment"
          ref="payment"
          :tripID="tripID"
          :disableSubmit="showDates"
          hideSubmit
        />
        <div class="text-caption mt-4">
          By clicking '{{ paymentLabel }}', you agree to pay the total shown
        </div>
        <div class="text-caption">
          and to the
          <router-link :to="{ name: 'Terms' }">Terms of service</router-link>.
        </div>
        <v-btn
          :loading="confirming"
          :disabled="price == 0 || !selectedPaymentID"
          class="mt-2"
          depressed
          color="primary"
          @click="updateTripAndCharge"
        >
          {{ paymentLabel }}
        </v-btn>
        <div class="text-caption">
          powered by
          <a href="https://www.stripe.com" target="_blank">Stripe</a>.
        </div>
        <v-alert dense text type="error" v-if="bookingError">
          {{ bookingError }}
        </v-alert>
      </div>

      <v-dialog v-model="updateFeeModel" max-width="600">
        <v-card>
          <v-card-text class="text-h6 pt-6">
            An update fee of ${{ updateFee / 100 }} will be charged for updating
            the trip this close to the start
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn text @click="updateFeeModel = false">Cancel</v-btn>
            <v-btn text @click="updateTripAndCharge">Agree</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Watch, Ref } from "vue-property-decorator";
import Payment from "@/components/Payment.vue";
import { Trip, TripPrice, TripUpdateRequest } from "@/types/TripTypes";
import { Car, Insurance, InsuranceOption } from "@/types/CarTypes";
import TripCard from "@/components/trips/TripCard.vue";
import TripInfo from "@/components/trips/TripInfo.vue";
import { DateRange } from "@/helpers/Utils";
import CarDateRangePicker from "@/components/search/CarDateRangePicker.vue";
import PageError from "@/components/PageError.vue";
import ProtectionSelection from "@/components/trips/ProtectionSelection.vue";
import PriceDetails from "@/components/trips/PriceDetails.vue";
import { AxiosError } from "axios";

@Component({
  components: {
    Payment,
    TripCard,
    TripInfo,
    CarDateRangePicker,
    PageError,
    ProtectionSelection,
    PriceDetails,
  },
})
export default class Book extends Vue {
  private tripID = this.$route.params.id;
  private trip = new Trip();
  private car = new Car();
  private dates: DateRange | null = null;
  private existingDates: DateRange | null = null;
  private notFound = false;
  private showDates = false;
  private alertText = "";
  private bookingError = "";
  private confirming = false;
  private shouldUpdate = true;
  private isReschedule = false;

  private updateFeeModel = false;

  private price = 0;
  private tripPrice = new TripPrice();
  public priceDiff = 0;
  private serverTrip = new Trip();
  private updatingTrip = false;
  private hideSubmit = true;
  @Ref("payment") readonly payment!: Payment;
  private selectedPaymentID = "";

  private protectionOption = new InsuranceOption();
  private selectedProtectionType = Insurance.standard;

  //TODO use cache
  created(): void {
    this.isReschedule = this.$route.query["reschedule"] == "true";
    this.fetchTripAndCar().catch((err) => {
      console.error("fetching trip: " + err);
      this.notFound = true;
    });
  }

  get updateFee(): number {
    return this.serverTrip.updateFee(this.car.price);
  }

  get paymentLabel(): string {
    if (!this.trip.booked) {
      return "Confirm Payment";
    }
    // const price = this.trip.booked ? this.priceDiff : this.price;
    const priceLabel = this.trip.booked ? `($${this.priceDiff / 100})` : "";
    if (this.priceDiff > 0 || !this.trip.booked) return "Confirm Payment"; // + priceLabel;
    if (this.priceDiff < 0) return "Confirm Refund " + priceLabel;
    return "Confirm Changes"; //TODO after free reschedule??
  }

  public async fetchTripAndCar(): Promise<void> {
    //TODO clean cache usage
    this.trip = await this.fetchTrip();
    this.selectedProtectionType = this.trip.insurance;
    this.serverTrip = Object.assign(new Trip(), this.trip);
    if (this.trip.canceled) {
      this.notFound = true;
      return;
    }
    this.dates = new DateRange(this.trip.startDate, this.trip.endDate);
    this.existingDates = this.dates.clone();
    if (this.isReschedule) this.showDates = true;
    this.car = await this.fetchCar(this.trip);
  }

  private async fetchTrip(): Promise<Trip> {
    return (await this.$trips.get(this.tripID)).data;
  }

  private async fetchCar(trip: Trip): Promise<Car> {
    const cachedCar = this.$cache.car(trip.vin);
    return cachedCar ? cachedCar : (await this.$cars.getDetails(trip.vin)).data;
  }

  @Watch("protectionOption")
  protectionOptionChanged(): void {
    this.trip.insurance = this.protectionOption.type;
  }

  @Watch("dates")
  datesChanged(dateRange: DateRange): void {
    if (!this.dates || !this.trip.id) return;
    if (this.existingDates && this.existingDates.isSame(dateRange)) {
      this.shouldUpdate = false;
      return;
    }
    this.shouldUpdate = true;
    this.existingDates = dateRange;
    this.trip.startDate = this.dates.startDate.unix();
    this.trip.endDate = this.dates.endDate.unix();
    this.confirming = true;
  }

  @Watch("price")
  priceChanged(newPrice: number): void {
    if (!this.shouldUpdate) return;
    if (!newPrice) {
      this.alertText = "";
      this.bookingError = "";
      return;
    }
    if (newPrice == -1) {
      this.confirming = false;
      this.alertText =
        "car isn't available for these days, try again with different times";
      return;
    }
    if (!this.dates) return;
    this.trip.price = newPrice;
    this.confirming = false;
    this.showDates = false;
    // we have the price for the new dates/ protection
  }

  public updateTripAndCharge(): void {
    if (this.updateFee > 0) {
      if (!this.updateFeeModel) {
        this.updateFeeModel = true;
        return;
      }
      this.updateFeeModel = false;
    }

    this.alertText = "";
    this.payment.clearErrors();
    if (!this.dates) return;
    const protectionCost = this.protectionOption.cost * this.trip.tripLength;
    this.trip.price =
      this.tripPrice.total - this.tripPrice.protection + protectionCost;
    this.trip.startDate = this.dates.startDate.unix();
    this.trip.endDate = this.dates.endDate.unix();
    this.confirming = true;
    this.updateTrip(this.trip)
      // .then(() => {})
      .catch((err) => {
        this.handleUpdateError(err);
      })
      .finally(() => (this.confirming = false));
  }

  private charge(): void {
    console.log("Book: charge");
    if (this.requiresPayment)
      this.payment.submit().finally(() => (this.confirming = false));
    else this.payment.charge().finally(() => (this.confirming = false));
  }

  private get requiresPayment(): boolean {
    return !this.trip.booked || this.priceDiff > 0;
  }

  public async updateTrip(trip: Trip): Promise<void> {
    console.log("Book: updateTrip");
    this.alertText = "";
    this.bookingError = "";
    const req = new TripUpdateRequest(
      this.tripID,
      trip,
      this.selectedPaymentID
    );
    const resp = await this.$trips.updateRequest(req);
    const paymentAction = resp.data.paymentAction;
    if (paymentAction) {
      const success = await this.payment.handlePaymentAction(paymentAction);
      this.trip.booked = success;
      return;
    } else this.payment.goToBooked();
    this.serverTrip = Object.assign(new Trip(), trip);
    this.showDates = false;
    this.hideSubmit = false;
  }

  private handleUpdateError(err: AxiosError): void {
    this.confirming = false;
    console.error("updateTrip:" + err);
    if (err.response?.status === 409) {
      this.bookingError =
        "car isn't available for these days, try again with different times";
      return;
    }
    if (err.response?.status === 423) {
      // Locked
      this.bookingError = "Can't edit trip 24hr before start";
      return;
    }

    // if (err.response.status === 417) {
    //   this.alertText = "Price doens't match the price listed on the server";
    //   return;
    // }
    this.bookingError = "Server error, please try again in a few minutes";
  }
}
</script>

<style lang="scss">
.trip-info {
  max-width: 256px;
}

.bookContainer {
  max-width: 800px;
  .container {
    max-width: 512px;
  }
}

.v-application {
  .text-h4 {
    font-weight: 500;
    opacity: 0.7;
  }
  .text-h6 {
    font-weight: 400;
    opacity: 0.7;
  }
}
</style>
