<template>
  <car-details :vin="vin" :startDates="dates"></car-details>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import CarDetails from "@/components/CarDetails.vue";
import { Car, emptyCar } from "@/types/CarTypes";
import Avatar from "@/components/Avatar.vue";
import { FilterQuery } from "@/helpers/FilterQuery";
import { defaultFilters } from "@/types/FilterTypes";
import { DateRange } from "@/helpers/Utils";

@Component({
  components: {
    CarDetails,
    Avatar,
  },
})
export default class CarDetailsView extends Vue {
  private car: Car = emptyCar();
  private filterQuery = new FilterQuery(defaultFilters());
  private dates: DateRange = new DateRange();
  private vin = this.$route.params.id;

  created(): void {
    const query = this.$route.query;
    const queryDate = this.filterQuery.filtersFromQuery(query).date;
    if (queryDate && queryDate[0] != 0) {
      this.dates = new DateRange(queryDate[0], queryDate[1]);
    }
  }
}
</script>

<style lang="scss"></style>
