<template>
  <div>
    <payment />
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";
import Payment from "@/components/Payment.vue";

@Component({
  components: {
    Payment,
  },
})
export default class Checkout extends Vue {}
</script>

<style lang="scss"></style>
