<template>
  <div class="home">
    <v-app>
      <v-app-bar app color="white" flat outlined extension-height="200">
        <v-row no-gutters>
          <logo></logo>

          <v-spacer v-if="$vuetify.breakpoint.mobile"></v-spacer>
          <v-col
            cols="8"
            class="pa-0"
            v-if="$route.path != '/'"
            v-show="!searchExtention"
          >
            <date-label
              :dates="dates"
              @click="searchExtention = true"
            ></date-label>
          </v-col>
          <v-spacer></v-spacer>
          <avatar></avatar>
        </v-row>

        <template v-slot:extension v-if="searchExtention">
          <search-box
            :value="filters"
            redirect
            :compact="false"
            opens="right"
          ></search-box>
        </template>
      </v-app-bar>
      <!-- <v-progress-linear height="2px" class="ma-0" indeterminate /> -->

      <v-main @click="searchExtention = false">
        <!-- user/admin switch -->
        <div v-if="$route.path == '/'">
          <Home />
        </div>

        <router-view v-else></router-view>
        <div
          class="overlay"
          v-if="searchExtention"
          @click="searchExtention = false"
        ></div>

        <v-footer class="mt-4" padless color="rgb(242, 242, 242)">
          <v-container class="mt-4">
            <v-row>
              <v-col cols="auto">
                <router-link :to="{ name: 'Trips' }">
                  Manage Bookings
                </router-link>
              </v-col>
              <v-col cols="auto">
                <router-link :to="{ name: 'Support' }"> Support </router-link>
              </v-col>
              <!-- <v-col cols="auto">
                <router-link :to="{ name: 'Trips' }"> Contact </router-link>
              </v-col> -->
              <v-col cols="auto">
                <router-link :to="{ name: 'Protection' }">
                  Protection
                </router-link>
              </v-col>
              <v-col cols="auto">
                <router-link :to="{ name: 'About' }"> About Us </router-link>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="auto">©2021 AtoZ Car Rentals</v-col>
              <v-col cols="auto">
                <router-link :to="{ name: 'Privacy' }"> Privacy </router-link>
              </v-col>
              <v-col cols="auto">
                <router-link :to="{ name: 'Terms' }"> Terms </router-link>
              </v-col>
            </v-row>
          </v-container>
        </v-footer>
      </v-main>
    </v-app>
    <v-snackbar top v-model="snackbar">
      {{ message }}

      <template v-slot:action="{ attrs }">
        <v-btn color="pink" text v-bind="attrs" @click="snackbar = false">
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script lang="ts">
import Avatar from "@/components/Avatar.vue";
import Logo from "@/components/Logo.vue";
import { Component, Vue } from "vue-property-decorator";
import Home from "@/components/Home.vue"; // @ is an alias to /src
import { dispatch } from "@/services/Dispatch";
import DateLabel from "@/components/search/DateLabel.vue";
import { DateRange } from "@/helpers/Utils";
import { Filters } from "@/types/FilterTypes";
import SearchBox from "@/components/search/SearchBox.vue";
import { FilterQuery } from "@/helpers/FilterQuery";

@Component({
  components: {
    Home,
    Avatar,
    Logo,
    DateLabel,
    SearchBox,
  },
})
export default class HomeView extends Vue {
  private message = "";
  private snackbar = false;
  private searchExtention = false;
  private dates = new DateRange().asArray;
  private filters = new Filters();
  private filterQuery = new FilterQuery(new Filters());

  created(): void {
    const msg = dispatch.get("Home");
    if (msg) {
      this.message = msg;
      this.snackbar = true;
    }
  }

  public dateSearchEvent(filters: Filters): void {
    this.searchExtention = false;
    const query = this.filterQuery.queryFromFilters(filters);
    this.$router.push({ name: "Search", query: query });
  }
}
</script>
<style lang="scss">
.v-sheet--outlined.v-app-bar.v-toolbar--flat {
  border-bottom-color: rgba(0, 0, 0, 0.12) !important;
}
.v-toolbar__extension {
  z-index: -1;
}

div.overlay {
  z-index: 4;
  position: fixed;
  top: 256px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
footer {
  a {
    text-decoration: none;
  }
}
</style>
