<template>
  <div>
    <v-tabs v-model="tab" slider-size="4">
      <!-- <v-tabs-slider color="yellow"></v-tabs-slider> -->

      <v-tab> Booked </v-tab>
      <v-tab> History </v-tab>
    </v-tabs>
    <v-divider />
    <v-tabs-items v-model="tab">
      <v-tab-item>
        <trip-list />
      </v-tab-item>
      <v-tab-item>
        <trip-list history />
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import TripList from "@/components/trips/TripList.vue";

@Component({
  components: {
    TripList,
  },
})
export default class Trips extends Vue {
  private tab = 0;
}
</script>
<style lang="scss">
.v-sheet--outlined.v-app-bar.v-toolbar--flat {
  border-bottom-color: rgba(0, 0, 0, 0.12) !important;
}

.v-application {
  .text-h4 {
    font-weight: 500;
    opacity: 0.7;
  }
  .text-h6 {
    font-weight: 400;
    opacity: 0.7;
  }
}
</style>
