<template>
  <div>
    <page-error v-if="notFound" notFound />
    <v-container v-else>
      <v-container class="main">
        <loading-dialog
          label="Processing Payment"
          v-model="processingPayment"
        />
        <v-alert dense outlined type="info" v-if="freshlyBooked">
          Your trip has been successfully booked
        </v-alert>
        <v-alert dense outlined :type="paymentInfoType" v-if="paymentInfo">
          {{ paymentInfo }}
        </v-alert>
        <span class="mx-auto text-h6">{{ titleText }} trip</span>

        <trip-card :trip="trip" :car="car" />
        <router-link :to="{ name: 'Car', params: { id: car.vin } }"
          >View car details</router-link
        >
        <v-divider class="mt-4"></v-divider>
        <div class="time">{{ timeText }}</div>
        <v-row v-if="before && !trip.canceled">
          <v-alert dense outlined type="error" v-if="serverError">
            {{ serverError }}
          </v-alert>
          <v-col cols="auto">
            <v-btn @click="dialogCancel = true" depressed color="error"
              >Cancel{{ priceToUpdate }}</v-btn
            >
          </v-col>
          <v-col cols="auto">
            <v-btn depressed color="accent" @click="reshcedule"
              >Reschedule{{ priceToUpdate }}</v-btn
            >
          </v-col>
        </v-row>
        <v-divider class="mt-4"></v-divider>
        <incidental-details :trip="trip" />
      </v-container>
      <v-dialog v-model="dialogCancel" max-width="500px">
        <v-card>
          <v-card-title class="headline">Cancel trip</v-card-title>
          <v-card-text>
            <p>Are you sure you want to cancel this trip?</p>
            <p v-if="freeCancel">
              Canceling is free of charge up to 24 hours before the trip starts
            </p>
            <p v-else>
              If you cancel now a ${{ updateFee }} fee will be charged
            </p>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialogCancel = false"
              >Nevermind</v-btn
            >
            <v-btn
              :loading="canceling"
              depressed
              color="error"
              @click="cancelTrip"
              >Cancel Trip{{ cancelButtonText }}</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
  </div>
</template>

<script lang="ts">
import { CarListing } from "@/types/CarTypes";
import { Trip } from "@/types/TripTypes";
import Vue from "vue";
import { Component, Ref } from "vue-property-decorator";
import TripCard from "@/components/trips/TripCard.vue";
import dayjs from "dayjs";
import { dispatch } from "@/services/Dispatch";
import PageError from "@/components/PageError.vue";
import LoadingDialog from "@/components/LoadingDialog.vue";
import Payment from "@/components/Payment.vue";
import IncidentalDetails from "@/components/trips/IncidentalDetails.vue";

@Component({
  components: {
    TripCard,
    PageError,
    LoadingDialog,
    Payment,
    IncidentalDetails,
  },
})
export default class TripView extends Vue {
  private tripID = this.$route.params.id;
  private authorizeNow = this.$route.query.authorizeNow ? true : false;
  private trip = new Trip();
  private car = new CarListing();
  private serverError = "";
  private loading = true;
  private dialogCancel = false;
  private canceling = false;
  private notFound = false;

  private paymentInfo = "";
  private paymentInfoType = "info";
  private processingPayment = false;

  @Ref("payment") readonly payment!: Payment;

  created(): void {
    this.fetchTripAndCar().catch(() => {
      this.serverError =
        "Problem Loading trip, please try again in a few minutes";
      this.loading = false;
      this.notFound = true;
    });
  }

  get updateFee(): number {
    return this.car.formattedPrice;
  }

  private payed(): void {
    this.paymentInfoType = "info";
    this.paymentInfo =
      "Payment processed successfully! The car is waiting for you";
  }

  get freshlyBooked(): boolean {
    return dispatch.get("Trip") == "booked " + this.tripID;
  }

  async fetchTripAndCar(): Promise<void> {
    this.trip = (await this.$trips.get(this.tripID, true)).data;
    this.car = (await this.$cars.getListing(this.trip.vin)).data;
    this.loading = false;
  }

  get titleText(): string {
    return this.trip.canceled ? "Canceled" : "Booked";
  }

  get forFree(): string {
    return this.freeCancel ? " for free" : "";
  }

  get priceToUpdate(): string {
    return this.freeCancel ? "" : ` for $${this.updateFee}`;
  }

  get cancelButtonText(): string {
    return this.freeCancel ? "" : ` for $${this.updateFee}`; //TODO
  }

  get freeCancel(): boolean {
    return this.trip.updateFee(this.car.formattedPrice) == 0;
  }

  get before(): boolean {
    const now = dayjs();
    return now.isBefore(this.trip.startMoment);
  }

  get inProgress(): boolean {
    const now = dayjs();
    return now.isBetween(this.trip.startMoment, this.trip.endMoment);
  }

  get ended(): boolean {
    return dayjs().isAfter(this.trip.endMoment);
  }

  get timeText(): string {
    if (this.trip.canceled) return "This trip was canceled";
    if (this.trip.startDate == 0) return "";
    const start = this.trip.startMoment;
    const end = this.trip.endMoment;
    if (this.inProgress) {
      return `This trip ends ${end.fromNow()}`;
    }
    if (this.ended) {
      return `This trip ended ${end.toNow(true)} ago`;
    }
    return `This trip starts ${start.fromNow()}`;
  }

  public reshcedule(): void {
    this.$router.push({ name: "Book", query: { reschedule: "true" } });
  }

  public cancelTrip(): void {
    this.canceling = true;
    this.$trips
      .cancel(this.tripID)
      .then(() => {
        this.trip.canceled = true;
        this.dialogCancel = false;
      })
      // .catch((err) => {}) TODO
      .finally(() => (this.canceling = false));
  }
}
</script>

<style lang="scss">
.v-application {
  .text-h4 {
    font-weight: 500;
    opacity: 0.7;
  }
  .text-h6 {
    font-weight: 400;
    opacity: 0.7;
  }
}
.main {
  max-width: 512px;
}
.time {
  border-radius: 6px;
  border: 2px solid #e4e0e0;
  margin-bottom: 16px;
  margin-top: 16px;
  padding: 16px 24px;
  width: 100%;
}
</style>
