td[data-v-155e681b],
th[data-v-155e681b] {
  padding: 2px;
  background-color: #fff;
}
td.today[data-v-155e681b] {
  font-weight: 700;
}
td.disabled[data-v-155e681b] {
  pointer-events: none;
  background-color: #eee;
  border-radius: 0;
  opacity: 0.6;
}
.fa[data-v-155e681b] {
  display: inline-block;
  width: 100%;
  height: 100%;
  background: transparent no-repeat 50%;
  background-size: 100% 100%;
  fill: #ccc;
}
.next[data-v-155e681b]:hover,
.prev[data-v-155e681b]:hover {
  background-color: transparent !important;
}
.next .fa[data-v-155e681b]:hover,
.prev .fa[data-v-155e681b]:hover {
  opacity: 0.6;
}
.chevron-left[data-v-155e681b] {
  width: 16px;
  height: 16px;
  display: block;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-2 -2 10 10'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.chevron-right[data-v-155e681b] {
  width: 16px;
  height: 16px;
  display: block;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-2 -2 10 10'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
.yearselect[data-v-155e681b] {
  padding-right: 1px;
  border: none;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  appearance: menulist;
}
.monthselect[data-v-155e681b] {
  border: none;
}
.daterangepicker .ranges {
  text-align: left;
  margin: 0;
  width: 100%;
}
.daterangepicker .ranges ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}
.daterangepicker .ranges li {
  font-size: 12px;
  padding: 8px 12px;
  cursor: pointer;
}
.daterangepicker .ranges li:hover {
  background-color: #eee;
  color: #000;
}
.daterangepicker .ranges li.active {
  background-color: #08c;
  color: #fff;
}
.daterangepicker .monthselect,
.daterangepicker .yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default;
  width: calc(50% - 1rem);
}
.daterangepicker .monthselect {
  margin-right: 1rem;
}
.daterangepicker .calendar-time {
  text-align: center;
  margin: 4px auto 0 auto;
  line-height: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.daterangepicker .calendar-time select.disabled {
  color: #ccc;
  cursor: not-allowed;
}
.daterangepicker select.ampmselect,
.daterangepicker select.hourselect,
.daterangepicker select.minuteselect,
.daterangepicker select.secondselect {
  width: 50px;
  margin: 2px;
  background: #eee;
  border: 1px solid #eee;
  padding: 2px;
  outline: 0;
  font-size: 12px;
}
.daterangepicker .drp-buttons .btn {
  margin-left: 8px;
  font-size: 12px;
  font-weight: 700;
  padding: 4px 8px;
}
.daterangepicker .btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
}
.daterangepicker .btn-primary,
.daterangepicker .btn-success {
  background-color: #28a745;
  color: #fff;
}
.daterangepicker .btn-secondary {
  background-color: #6c757d;
  color: #fff;
}
.vue-daterange-picker *,
.vue-daterange-picker :after,
.vue-daterange-picker :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.drp-calendar .col .left {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.daterangepicker.hide-calendars.show-ranges .ranges,
.daterangepicker.hide-calendars.show-ranges .ranges ul {
  width: 100%;
}
.daterangepicker .calendars-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.daterangepicker[readonly] {
  pointer-events: none;
}
.daterangepicker {
  position: absolute;
  color: inherit;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 278px;
  max-width: none;
  padding: 0;
  margin-top: 7px;
  top: 100px;
  left: 20px;
  z-index: 3001;
  display: none;
  font-size: 15px;
  line-height: 1em;
}
.daterangepicker:after,
.daterangepicker:before {
  position: absolute;
  display: inline-block;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: "";
}
.daterangepicker:before {
  top: -7px;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  border-bottom: 7px solid #ccc;
}
.daterangepicker:after {
  top: -6px;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-left: 6px solid transparent;
}
.daterangepicker.opensleft:before {
  right: 9px;
}
.daterangepicker.opensleft:after {
  right: 10px;
}
.daterangepicker.openscenter:after,
.daterangepicker.openscenter:before {
  left: 0;
  right: 0;
  width: 0;
  margin-left: auto;
  margin-right: auto;
}
.daterangepicker.opensright:before {
  left: 9px;
}
.daterangepicker.opensright:after {
  left: 10px;
}
.daterangepicker.drop-up {
  margin-top: -7px;
}
.daterangepicker.drop-up:before {
  top: auto;
  bottom: -7px;
  border-bottom: initial;
  border-top: 7px solid #ccc;
}
.daterangepicker.drop-up:after {
  top: auto;
  bottom: -6px;
  border-bottom: initial;
  border-top: 6px solid #fff;
}
.daterangepicker.single .drp-selected {
  display: none;
}
.daterangepicker.show-calendar .drp-buttons,
.daterangepicker.show-calendar .drp-calendar {
  display: block;
}
.daterangepicker.auto-apply .drp-buttons {
  display: none;
}
.daterangepicker .drp-calendar {
  display: none;
  max-width: 270px;
  width: 270px;
}
.daterangepicker .drp-calendar.left {
  padding: 8px 0 8px 8px;
}
.daterangepicker .drp-calendar.right {
  padding: 8px;
}
.daterangepicker .drp-calendar.single .calendar-table {
  border: none;
}
.daterangepicker .calendar-table .next span,
.daterangepicker .calendar-table .prev span {
  color: #fff;
  border: solid #000;
  border-width: 0 2px 2px 0;
  border-radius: 0;
  display: inline-block;
  padding: 3px;
}
.daterangepicker .calendar-table .next span {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.daterangepicker .calendar-table .prev span {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.daterangepicker .calendar-table td,
.daterangepicker .calendar-table th {
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  min-width: 32px;
  width: 32px;
  height: 24px;
  line-height: 24px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
}
.daterangepicker .calendar-table {
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #fff;
}
.daterangepicker .calendar-table table {
  width: 100%;
  margin: 0;
  border-spacing: 0;
  border-collapse: collapse;
  display: table;
}
.daterangepicker td.available:hover,
.daterangepicker th.available:hover {
  background-color: #eee;
  border-color: transparent;
  color: inherit;
}
.daterangepicker td.week,
.daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}
.daterangepicker td.off,
.daterangepicker td.off.end-date,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date {
  background-color: #fff;
  border-color: transparent;
  color: #999;
}
.daterangepicker td.in-range {
  background-color: #ebf4f8;
  border-color: transparent;
  color: #000;
  border-radius: 0;
}
.daterangepicker td.start-date {
  border-radius: 4px 0 0 4px;
}
.daterangepicker td.end-date {
  border-radius: 0 4px 4px 0;
}
.daterangepicker td.start-date.end-date {
  border-radius: 4px;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #357ebd;
  border-color: transparent;
  color: #fff;
}
.daterangepicker th.month {
  width: auto;
}
.daterangepicker option.disabled,
.daterangepicker td.disabled {
  color: #999;
  cursor: not-allowed;
  text-decoration: line-through;
}
.daterangepicker select.yearselect {
  width: 40%;
}
.daterangepicker .drp-buttons {
  clear: both;
  text-align: right;
  padding: 8px;
  border-top: 1px solid #ddd;
  display: none;
  line-height: 12px;
  vertical-align: middle;
}
.daterangepicker .drp-selected {
  display: inline-block;
  font-size: 12px;
  padding-right: 8px;
}
.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 1px solid #ddd;
}
.daterangepicker.show-calendar .ranges {
  margin-top: 8px;
  width: auto;
}
@media (min-width: 564px) {
  .daterangepicker {
    width: auto;
  }
  .daterangepicker .ranges ul {
    width: 140px;
  }
  .daterangepicker.single .ranges ul {
    width: 100%;
  }
  .daterangepicker.single .drp-calendar.left {
    clear: none;
  }
  .daterangepicker.ltr {
    direction: ltr;
    text-align: left;
  }
  .daterangepicker.ltr .drp-calendar.left {
    clear: left;
    margin-right: 0;
  }
  .daterangepicker.ltr .drp-calendar.left .calendar-table {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .daterangepicker.ltr .drp-calendar.right {
    margin-left: 0;
  }
  .daterangepicker.ltr .drp-calendar.right .calendar-table {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .daterangepicker.ltr .drp-calendar.left .calendar-table {
    padding-right: 8px;
  }
  .daterangepicker.rtl {
    direction: rtl;
    text-align: right;
  }
  .daterangepicker.rtl .drp-calendar.left {
    clear: right;
    margin-left: 0;
  }
  .daterangepicker.rtl .drp-calendar.left .calendar-table {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .daterangepicker.rtl .drp-calendar.right {
    margin-right: 0;
  }
  .daterangepicker.rtl .drp-calendar.right .calendar-table {
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .daterangepicker.rtl .drp-calendar.left .calendar-table {
    padding-left: 12px;
  }
  .daterangepicker.rtl .drp-calendar,
  .daterangepicker.rtl .ranges {
    text-align: right;
  }
}
@media (min-width: 730px) {
  .daterangepicker .drp-calendar.left {
    clear: none !important;
  }
}
.calendars[data-v-4391f606] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.reportrange-text[data-v-4391f606] {
  display: none;
  background: #fff;
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ccc;
  width: 100%;
}
.daterangepicker[data-v-4391f606] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}
@media screen and (max-width: 768px) {
  .daterangepicker.show-ranges .drp-calendar.left[data-v-4391f606] {
    border-left: 0;
  }
  .daterangepicker.show-ranges .ranges[data-v-4391f606] {
    border-bottom: 1px solid #ddd;
    width: 100%;
  }
  .daterangepicker.show-ranges .ranges[data-v-4391f606] ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: auto;
  }
}
@media screen and (max-width: 541px) {
  .daterangepicker .calendars-container[data-v-4391f606] {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 540px) {
  .daterangepicker.show-weeknumbers[data-v-4391f606],
  .daterangepicker[data-v-4391f606] {
    min-width: 486px;
  }
}
@media screen and (min-width: 768px) {
  .daterangepicker.show-ranges.show-weeknumbers[data-v-4391f606],
  .daterangepicker.show-ranges[data-v-4391f606] {
    min-width: 682px;
  }
}
@media screen and (max-width: 340px) {
  .daterangepicker.single.show-weeknumbers[data-v-4391f606],
  .daterangepicker.single[data-v-4391f606] {
    min-width: 250px;
  }
}
@media screen and (min-width: 339px) {
  .daterangepicker.single[data-v-4391f606] {
    min-width: auto;
  }
  .daterangepicker.single.show-ranges.show-weeknumbers[data-v-4391f606],
  .daterangepicker.single.show-ranges[data-v-4391f606] {
    min-width: 356px;
  }
  .daterangepicker.single.show-ranges .drp-calendar.left[data-v-4391f606] {
    border-left: 1px solid #ddd;
  }
  .daterangepicker.single.show-ranges .ranges[data-v-4391f606] {
    max-width: none;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    border-bottom: 0;
  }
  .daterangepicker.single.show-ranges .ranges[data-v-4391f606] ul {
    display: block;
    width: 100%;
  }
}
.daterangepicker.show-calendar[data-v-4391f606] {
  display: block;
  top: auto;
}
.daterangepicker.opensleft[data-v-4391f606] {
  right: 10px;
  left: auto;
}
.daterangepicker.openscenter[data-v-4391f606] {
  right: auto;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}
.daterangepicker.opensright[data-v-4391f606] {
  left: 10px;
  right: auto;
}
.slide-fade-enter-active[data-v-4391f606] {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.slide-fade-leave-active[data-v-4391f606] {
  -webkit-transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
  transition: all 0.1s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter[data-v-4391f606],
.slide-fade-leave-to[data-v-4391f606] {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
  opacity: 0;
}
.vue-daterange-picker[data-v-4391f606] {
  position: relative;
  display: inline-block;
  min-width: 60px;
}
.vue-daterange-picker .show-ranges.hide-calendars[data-v-4391f606] {
  width: 150px;
  min-width: 150px;
}
.inline .daterangepicker[data-v-4391f606] {
  position: static;
}
.inline .daterangepicker[data-v-4391f606]:after,
.inline .daterangepicker[data-v-4391f606]:before {
  display: none;
}
